﻿@using PMApp.Modon.DAL6;
@using Modon.Portal.Helpers;
@using PMApp.Core.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
    window.__CurrentApplication = '@PMApp.Modon.DAL6.EntitiesExtention.ApplicationManager.GetApplicationFromRouteData()';
        window.__DateFormat = '@DateTimeHelper.dateFormatedd_MM_yyyy.ToLower()';
        __rankSecondTabDays='@ConfigManager.GetUIInstance().rankSecondTabDays';
    __rankThirdTabDays='@ConfigManager.GetUIInstance().rankThirdTabDays';
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="version" content="@BundleConfig.CurrentVersionNo">
    <title>@ResourceManager.UIGetResource("ProjectName") - @ViewBag.Title</title>
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <link href="~/assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
    <link href="~/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
</head>

<body class=" bg-white">

    <div id="page-loader">
        <div class="material-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
            <div class="message">@ResourceManager.UIGetResource("Loading...")</div>
        </div>
    </div>
 
    <script src="~/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    @RenderBody()
    <!-- /page content -->
    <!-- ================== BEGIN BASE JS ================== -->
  
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/gritter/js/jquery.gritter.js"></script>
    <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/js/login-v2.demo.min.js"></script>

    <!-- ================== END PAGE LEVEL JS ================== -->
    <script src="~/assets/js/login-v2.demo.min.js"></script>
    <script src="~/assets/plugins/parsley/dist/parsley.js"></script>
    <script src="~/assets/plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="~/assets/js/form-wizards-validation.demo.min.js"></script>
    <script src="~/assets/plugins/dropzone/dropzone.js"></script>
    <script src="~/assets/plugins/password-indicator/js/password-indicator.js"></script>
    <script src="~/assets/js/bootstrap-filestyle.min.js"></script>

    <script src="~/assets/js/apps.min.js"></script>
    <script>
                    $(document).ready(function () {
                        App.init();
                        FormWizardValidation.init();
                        LoginV2.init();
                        $('#password-indicator-default').passwordStrength();
                    });
    </script>
    @if (SessionHelper.GetSuccessMessage() != null)
    {
        <script>
            $(document).ready(function () {
                $.gritter.add({
                    title: @Html.Raw(Json.Encode(SessionHelper.GetSuccessMessage())),
                    text: @Html.Raw(Json.Encode(SessionHelper.GetSuccessMessage())),
                    class_name: 'gritter-dark',
                    image: '../assets/img/logo.png',
                });
            });

        </script>
        SessionHelper.RemoveSuccessMessage();
        UIHelper.ClearCache(Response);
    }
    @if (SessionHelper.GetFailMessage() != null)
    {
        <script>
            $(document).ready(function () {
                $.gritter.add({
                    title: @Html.Raw(Json.Encode(SessionHelper.GetFailMessage())),
                    text: @Html.Raw(Json.Encode(SessionHelper.GetFailMessage())),
                    class_name: 'gritter-dark',
                    image: '../assets/img/logo.png',
                });
            });

        </script>
        SessionHelper.RemoveFailMessage();
        UIHelper.ClearCache(Response);
    }

</body>
</html>
@BundleConfig.RenderScript("~/ScriptBundles/SBS")
