﻿@using PMApp.Modon.DAL6;
@using Modon.Portal.Helpers;
@using PMApp.Core.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        window.__CurrentApplication = '@PMApp.Modon.DAL6.EntitiesExtention.ApplicationManager.GetApplicationFromRouteData()';
        window.__DateFormat = '@DateTimeHelper.dateFormatedd_MM_yyyy.ToLower()';
        __rankSecondTabDays='@ConfigManager.GetUIInstance().rankSecondTabDays';
        __rankThirdTabDays='@ConfigManager.GetUIInstance().rankThirdTabDays';
    </script>

    <link rel="shortcut icon" href="~/assets/img/logo2-old.png" />
    <meta charset="utf-8" />
    <title>@PMApp.Modon.DAL6.EntitiesExtention.ApplicationManager.GetApplicationFromRouteData()</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/css/style.css" rel="stylesheet" />
    @*<link href="~/assets/css/Front-styles.css" rel="stylesheet" />*@
    <link href="~/assets/css/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/css/css/theme/default.css" rel="stylesheet" id="theme" />
    <link href="~/assets/plugins/switchery/switchery.min.css" rel="stylesheet">
    @*<link href="~/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
        <link href="~/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />*@
    <link href="~/assets/plugins/bootstrap-wizard/css/bwizard.css" rel="stylesheet" />
    <link href="~/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <link href="~/assets/plugins/select2/dist/css/select2.css" rel="stylesheet" />
    <link href="~/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet">
    <link href="~/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
</head>

<body style="background:url(../../assets/img/bg5.jpg) no-repeat center center fixed;background-size:cover" dir="rtl">
    <!-- begin #page-loader -->

    <div id="page-loader" class="fade in">
        <div class="sonar-wrapper">
            <div class="sonar-emitter">
                <div class="sonar-wave"></div>
            </div>
        </div>
    </div>
    <div class="modal"></div>
    <div class="modal fade" id="modal-dialog-confirmation">
        <div class="modal-dialog">
            <div class="modal-content" style=" max-height: 600px;  overflow: auto;">
                <div class="modal-body" id="modal-dialog-confirmation-modelBody">
                </div>
            </div>
            <a href="javascript:;" class="btn btn-sm btn-blue-grey" data-dismiss="modal">@ResourceManager.UIGetResource("Back")</a>
        </div>
    </div>

    @Html.Partial("DeleteCheck")
    <div id="page-container" class="">
        @*<div id="top-nav" class="top-nav">
                <!-- BEGIN container -->
                <div class="container">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("LogOut", "User")">خروج <i class="fa fa-sign-out"></i></a></li>
                            <li><a href="#">إتصل بنا</a></li>
                            <li><a href="#">خرائط مدن</a></li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><i class="fa fa-facebook f-s-14"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter f-s-14"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram f-s-14"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble f-s-14"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus f-s-14"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- END container -->
            </div>*@
        <div id="header" class="header ">
            <div class="container">
                <!-- BEGIN header-container -->
                <div class="header-container">
                    <!-- BEGIN navbar-header -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="header-logo hidden-sm hidden-xs">
                            <a href="index.html">
                                <img src="~/assets/img/modon-logo2.png" height="100" />
                            </a>
                        </div>
                    </div>
                    <!-- END navbar-header -->
                    <!-- BEGIN header-nav -->
                    <div class="header-nav">
                        <div class=" collapse navbar-collapse" id="navbar-collapse" style="float:right">
                            <ul class="nav">
                                <li class="border-bottom-1">
                                    <a class="  text-success f-s-18 " href="@Url.Action("EListBuilding","Building")">
                                        <i class="fa fa-building text-success f-s-16 "></i>
                                        <span>المنشآت</span>
                                    </a>

                                </li>
                                <li class="divider hidden-sm hidden-xs"></li>

                                <li class="border-bottom-1">
                                    <a class="f-s-18  text-success" href="@Url.Action("EListModonOrder","ModonOrder")">
                                        <i class="fa fa-suitcase text-success f-s-16"></i>
                                        <span>الطلبات</span>
                                    </a>
                                    @*<ul class="sub-menu">
                                            <li><a href="ui_general.html">General</a></li>
                                            <li><a href="ui_typography.html">Typography</a></li>

                                        </ul>*@



                                <li class="divider hidden-sm hidden-xs"></li>
                                <li class="border-bottom-1">
                                    <a class="f-s-18  text-success " href="@Url.Action("EIndex","Home")">
                                        <i class="fa fa-home text-success f-s-16 "></i>
                                        <span>الرئيسية</span>
                                    </a>

                                </li>





                            </ul>
                        </div>
                    </div>
                    <!-- END header-nav -->
                    <!-- BEGIN header-nav -->
                    <div class="header-nav">
                        @Html.Action("EPartialNotification", "Notifications", new { pageSize = 5 })
                    </div>
                    <!-- END header-nav -->
                </div>
                <!-- END header-container -->
            </div>
            <!-- begin container-fluid -->
        </div>

        <div id="div-delete-check"></div>
        <script src="~/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
        <script src="~/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
        <script src="~/assets/plugins/parsley/dist/parsley.js"></script>
        <script src="~/assets/plugins/bootstrap-wizard/js/bwizard.js"></script>
        <div class="section-container">
            <div class="container">
                @RenderBody()
            </div>
        </div>

        <a href="javascript:;" class="btn btn-icon btn-circle btn-warning btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up educolor"></i></a>
    </div>
    <div class="modal fade" id="modal-dialog-confirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box">
                            <div class="icon">
                                <div class="imagered"><i class="fa fa-thumbs-o-up"></i></div>
                                <div class="info">
                                    <h3 id="modal-dialog-confirmation-messageTitle" class="title"></h3>
                                    <p id="modal-dialog-confirmation-messageText"></p>
                                </div>
                            </div>
                            <div class="space"></div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a id="modal-dialog-confirmation-aConfirm" onclick="" class="btn btn-sm btn-success">@ResourceManager.UIGetResource("Confirm")</a>

                    <a href="javascript:;" class="btn btn-sm btn-blue-grey" data-dismiss="modal">@ResourceManager.UIGetResource("Back")</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/table-manage-buttons.demo.js"></script>

    <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/assets/plugins/switchery/switchery.js"></script>

    <script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>

    <script src="~/assets/js/form-wizards-validation.demo.js"></script>
    <script src="~/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="~/assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js"></script>
    <script src="~/assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js"></script>
    <script src="~/assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js"></script>
    <script src="~/assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js"></script>
    <script src="~/assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.js"></script>
    <script src="~/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/bootstrap-sweetalert/sweetalert.js"></script>
    <script src="~/assets/js/ui-modal-notification.demo.min.js"></script>
    <script src="~/assets/js/table-manage-buttons.demo.js"></script>
    <script src="~/assets/plugins/gritter/js/jquery.gritter.min.js"></script>
    @*<script src="~/Scripts/SBS.js"></script>*@
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        $(document).ready(function () {
            App.init();
            FormWizardValidation.init();
            initTableWithMoreButton();
            Notification.init();
            $(".default-select2").select2({
            });

        });
    </script>
    @if (SessionHelper.GetSuccessMessage() != null)
    {
        <script>
            $(document).ready(function () {
                Notify(@Html.Raw(Json.Encode(SessionHelper.GetSuccessMessage())), @Html.Raw(Json.Encode(SessionHelper.GetSuccessMessage())));
            });

        </script>
        SessionHelper.RemoveSuccessMessage();
        UIHelper.ClearCache(Response);
    }
    @if (SessionHelper.GetFailMessage() != null)
    {
        <script>
            $(document).ready(function () {
                Notify(@Html.Raw(Json.Encode(SessionHelper.GetFailMessage())), @Html.Raw(Json.Encode(SessionHelper.GetFailMessage())));
            });

        </script>
        SessionHelper.RemoveFailMessage();
        UIHelper.ClearCache(Response);
    }

</body>
</html>
@BundleConfig.RenderScript("~/ScriptBundles/SBS")
