﻿@using PMApp.Modon.DAL6;
@using Modon.Portal.Helpers;
@using PMApp.Core.Helpers;

@using (Html.BeginForm("ListQuestion", "Home", FormMethod.Post, new { id = "frmSearch", enctype = "multipart/form-data" }))
{
    <input hidden value="@ViewBag.pageIndex" name="pageIndex" id="pageIndex" />
    <input hidden value="false" id="hasmore" />
    @*<h4 class="section-title"><span>@ResourceManager.UIGetResource("Filter")</span></h4>*@

    <div class="panel panel-success" data-sortable-id="ui-media-object-2">

        <div class="panel-body ">
            <!-- begin section-container -->
            <div class="section-container">
                <center>

                    <div class="input-group sidebar-search  form-control">
                        @if (ViewBag.model == null || string.IsNullOrEmpty(ViewBag.model.Title))
                        {
                            <input type="text" name="Title" class="form-control" placeholder="@ResourceManager.UIGetResource("SearchOurTopics")" />
                        }
                        else
                        {
                            <input type="text" name="Title" class="form-control" value="@ViewBag.model.Title" />
                        }
                    </div>
                </center>
            </div>
            <br />
            <div class="section-container">
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="font-weight:bold" class="educolor">@ResourceManager.UIGetResource("Country") </label>
                            <select class="default-select2 form-control CountryID" style="width:100%" name="CountryID">
                                @foreach (var item in ViewBag.country)
                                {

                                    if ((ViewBag.model != null && ViewBag.model.CountryID > 0 && ViewBag.model.CountryID == item.ID) || (ViewBag.model == null && User.Identity.IsAuthenticated && !string.IsNullOrEmpty(AuthHelper.GetClaimValue("CountryID")) && long.Parse(AuthHelper.GetClaimValue("CountryID")) == item.ID) || (!User.Identity.IsAuthenticated && ViewBag.IPCountryID != null && ViewBag.IPCountryID == item.ID))
                                    {
                                        <option value="@item.ID" selected>@item.Name </option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.Name </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <!-- end col-4 -->

                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="font-weight:bold" class="educolor">@ResourceManager.UIGetResource("Grade") </label>
                            <select class="default-select2 form-control GradeIDList" style="width:100%" name="GradeIDList">
                                <option value="0">@ResourceManager.UIGetResource("ALL") </option>

                                @foreach (var item in ViewBag.grade)
                                {
                                    if (ViewBag.model != null && ViewBag.model.GradeIDList != null && ViewBag.model.GradeIDList.Contains(item.ID))
                                    {
                                        <option value="@item.ID" selected>@item.Name </option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.Name </option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <!-- end col-4 -->
                </div>
                <div class="row">
                    <!-- begin col-4 -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="font-weight:bold" class="educolor">@ResourceManager.UIGetResource("EducationType") </label>
                            <select class="default-select2 form-control EduLevelID" style="width:100%" name="EduLevelID">
                                <option value="0">@ResourceManager.UIGetResource("ALL") </option>

                                @foreach (var item in ViewBag.level)
                                {
                                    <option value="@item.ID" @((ViewBag.model != null && ViewBag.model.EduLevelID != 0 && ViewBag.model.EduLevelID != null && ViewBag.model.EduLevelID == item.ID) ? "selected" : "")>@item.Name </option>
                                }
                            </select>

                        </div>
                    </div>
                    <!-- end col-4 -->

                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="font-weight:bold" class="educolor">@ResourceManager.UIGetResource("Subject") </label>
                            <select class="default-select2 form-control SubjectIDList" style="width:100%" name="SubjectIDList">
                                <option value="0">@ResourceManager.UIGetResource("ALL") </option>

                                @foreach (var item in ViewBag.subject)
                                {
                                    if (ViewBag.model != null && ViewBag.model.SubjectIDList != null && ViewBag.model.SubjectIDList.Contains(item.ID))
                                    {
                                        <option value="@item.ID" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.Name </option>

                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <!-- end col-4 -->
                </div>
                <div class="row">
@if (PMApp.Core.Helpers.UIHelper.GetCookieLanguageEnum() == PMApp.Core.Helpers.Language.Ar)
{
    <div class="col-md-6">
        <div class="form-group">
            <h4 style="font-weight:bold" class="panel-title @(PMApp.Core.Helpers.UIHelper.GetCookieLanguageEnum() == PMApp.Core.Helpers.Language.Ar ? "pull-right" : "")">@ResourceManager.UIGetResource("PointsTo") </h4>
            @if (ViewBag.model != null && ViewBag.model.PointsTo != null && ViewBag.model.PointsTo != 0)
            {
                <input data-type="number" style="width:90%" id="pointsto" name="PointsTo" class="form-control  col-md-7 col-xs-12" placeholder="To" value="@(ViewBag.model.PointsTo??0)" />
            }
            else
            {
                <input data-type="number" style="width:90%" id="pointsto" name="PointsTo" class="form-control  col-md-7 col-xs-12" placeholder="To" value="@ConfigManager.GetUIInstance().MaximumPointsOfQuestion" />

            }
        </div>
    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h4 style="font-weight:bold" class="panel-title @(PMApp.Core.Helpers.UIHelper.GetCookieLanguageEnum() == PMApp.Core.Helpers.Language.Ar ? "pull-right" : "")">@ResourceManager.UIGetResource("PointsFrom") </h4>
                            @if (ViewBag.model != null && ViewBag.model.PointsFrom != null && ViewBag.model.PointsFrom != 0)
                            {
                                <input   data-type="number" style="width:90%" id="pointsfrom" name="PointsFrom" class="form-control  col-md-7 col-xs-12" placeholder="From" value="@(ViewBag.model.PointsFrom??0)" />
                            }
                            else
                            {
                                <input   data-type="number" style="width:90%" id="pointsfrom" name="PointsFrom" class="form-control  col-md-7 col-xs-12" placeholder="From" value="@ConfigManager.GetUIInstance().MinimumPointsOfQuestion" />
                            }
                        </div>
                    </div>
                    
}
else
{
    <div class="col-md-6">
        <div class="form-group">
            <h4 style="font-weight:bold" class="panel-title @(PMApp.Core.Helpers.UIHelper.GetCookieLanguageEnum() == PMApp.Core.Helpers.Language.Ar ? "pull-right" : "")">@ResourceManager.UIGetResource("PointsFrom") </h4>
            @if (ViewBag.model != null && ViewBag.model.PointsFrom != null && ViewBag.model.PointsFrom != 0)
            {
                <input data-type="number" style="width:90%" id="pointsfrom" name="PointsFrom" class="form-control  col-md-7 col-xs-12" placeholder="From" value="@(ViewBag.model.PointsFrom??0)" />
            }
            else
            {
                <input data-type="number" style="width:90%" id="pointsfrom" name="PointsFrom" class="form-control  col-md-7 col-xs-12" placeholder="From" value="@ConfigManager.GetUIInstance().MinimumPointsOfQuestion" />
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <h4 style="font-weight:bold" class="panel-title @(PMApp.Core.Helpers.UIHelper.GetCookieLanguageEnum() == PMApp.Core.Helpers.Language.Ar ? "pull-right" : "")">@ResourceManager.UIGetResource("PointsTo") </h4>
            @if (ViewBag.model != null && ViewBag.model.PointsTo != null && ViewBag.model.PointsTo != 0)
            {
                <input data-type="number" style="width:90%" id="pointsto" name="PointsTo" class="form-control  col-md-7 col-xs-12" placeholder="To" value="@(ViewBag.model.PointsTo??0)" />
            }
            else
            {
                <input data-type="number" style="width:90%" id="pointsto" name="PointsTo" class="form-control  col-md-7 col-xs-12" placeholder="To" value="@ConfigManager.GetUIInstance().MaximumPointsOfQuestion" />

            }
        </div>
    </div>
}
                </div>
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="btnsearch" type="button" onclick="submitNReloadrank();" class="btn btn-success btn-lg btn-block " value="@ResourceManager.UIGetResource("Search")" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<script>
    handlePoints();
    function handlePoints()
    {
        var MinimumPointsStepOfQuestion=@ConfigManager.GetUIInstance().MinimumPointsStepOfQuestion;
        var MinimumPointsOfQuestion= @ConfigManager.GetUIInstance().MinimumPointsOfQuestion;
        var MaximumPointsOfQuestion= @ConfigManager.GetUIInstance().MaximumPointsOfQuestion;
        //var pointstoVal=$("#pointsto").val();
        //var pointsfromVal=$("#pointsfrom").val();
        $("#pointsfrom").attr({
            "step": MinimumPointsStepOfQuestion,        // substitute your own
            "min":MinimumPointsOfQuestion
        });
        $("#pointsto").attr({
            "step": MinimumPointsStepOfQuestion,        // substitute your own
            "min": MinimumPointsOfQuestion
        });
    }
</script>