﻿@using PMApp.Modon.DAL6;
@using Modon.Portal.Helpers;
@using PMApp.Core.Helpers;
<style>
    .notice {
        padding: 15px;
        background-color: #fafafa;
        border-left: 6px solid #7f7f84;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    }

    .notice-sm {
        padding: 10px;
        font-size: 80%;
    }

    .notice-lg {
        padding: 35px;
        font-size: large;
    }

    .notice-warning {
        border-color: #FEAF20;
    }

        .notice-warning > strong {
            color: #FEAF20;
        }

    .btn-glyphicon {
        padding: 8px;
        background: #ffffff;
        margin-right: 4px;
    }

    .icon-btn {
        padding: 1px 0px 3px 2px;
        border-radius: 50px;
    }
</style>
@using (Html.BeginForm("ListQuestion", "Question", FormMethod.Post, new { id = "frmSearch", enctype = "multipart/form-data" }))
{
    <input hidden value="@ViewBag.pageIndex" name="pageIndex" id="pageIndex" />
    <input hidden value="false" id="hasmore" />
    <div class="panel panel-success" data-sortable-id="ui-media-object-2">

        <div class="panel-body ">
            <!-- begin section-container -->
            <div class="section-container" style="margin-bottom:5px">
                <center>
                        @if (ViewBag.model == null || string.IsNullOrEmpty(ViewBag.model.Title))
                        {
                            <input type="text" name="Title" class="form-control" placeholder="@ResourceManager.UIGetResource("SearchOurTopics")" />
                        }
                        else
                        {
                            <input type="text" name="Title" class="form-control" value="@ViewBag.model.Title" />
                        }
                </center>
            </div>
            <div class="section-container" style="margin-bottom:5px">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="educolor">@ResourceManager.UIGetResource("Country") </label>
                            <select class=" input-inline form-control CountryID default-select2" style="width:90%" name="CountryID">
                                @foreach (var item in ViewBag.country)
                                {
                                    if ((ViewBag.model != null && ViewBag.model.CountryID > 0 && ViewBag.model.CountryID == item.ID) || (ViewBag.model == null && User.Identity.IsAuthenticated && long.Parse(AuthHelper.GetClaimValue("CountryID")) == item.ID))
                                    {
                                        <option value="@item.ID" selected>@item.Name </option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.Name </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="educolor">@ResourceManager.UIGetResource("Grade") </label>
                            <select class=" input-inline form-control GradeIDList default-select2" style="width:90%" name="GradeIDList">
                                <option value="0">@ResourceManager.UIGetResource("ALL") </option>

                                @foreach (var item in ViewBag.grade)
                                {
                                    if (ViewBag.model != null && ViewBag.model.GradeIDList != null && ViewBag.model.GradeIDList.Contains(item.ID))
                                    {
                                        <option value="@item.ID" selected>@item.Name </option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.Name </option>
                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="educolor">@ResourceManager.UIGetResource("Subject") </label>
                            <select class="input-inline form-control SubjectIDList default-select2" style="width:90%" name="SubjectIDList">
                                <option value="0">@ResourceManager.UIGetResource("ALL") </option>

                                @foreach (var item in ViewBag.subject)
                                {
                                    if (ViewBag.model != null && ViewBag.model.SubjectIDList != null && ViewBag.model.SubjectIDList.Contains(item.ID))
                                    {
                                        <option value="@item.ID" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.Name </option>

                                    }
                                }
                            </select>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="educolor">@ResourceManager.UIGetResource("EducationType") </label>
                            <select class=" input-inline form-control EduLevelID default-select2" style="width:90%" name="EduLevelID">
                                <option value="0">@ResourceManager.UIGetResource("ALL") </option>

                                @foreach (var item in ViewBag.level)
                                {
                                    <option value="@item.ID" @((ViewBag.model != null && ViewBag.model.EduLevelID != 0 && ViewBag.model.EduLevelID != null && ViewBag.model.EduLevelID == item.ID) ? "selected" : "")>@item.Name </option>
                                }
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <h4 class=" panel-title educolor">@ResourceManager.UIGetResource("Status")</h4>
                            <select class="form-control  input-inline default-select2 input-xs" name="QuestionStatusID" style="width:90%">
                                <option value="0">@ResourceManager.UIGetResource("ALL")</option>
                                <option @((ViewBag.model != null && ViewBag.model.QuestionStatusID != null && ViewBag.model.QuestionStatusID != 0 && ViewBag.model.QuestionStatusID == ConfigManager.GetUIInstance().Question_OpenStatusID) ? "selected" : "") value="@ConfigManager.GetUIInstance().Question_OpenStatusID">@ResourceManager.UIGetResource("Open")</option>
                                <option @((ViewBag.model != null && ViewBag.model.QuestionStatusID != null && ViewBag.model.QuestionStatusID != 0 && ViewBag.model.QuestionStatusID == ConfigManager.GetUIInstance().Question_ClosedStatusID) ? "selected" : "") value="@ConfigManager.GetUIInstance().Question_ClosedStatusID">@ResourceManager.UIGetResource("Closed")</option>
                            </select>
                        </div>
                    </div>
@if (PMApp.Core.Helpers.UIHelper.GetCookieLanguageEnum() == PMApp.Core.Helpers.Language.Ar)
{
    <div class="col-md-3">
        <div class="form-group">
            <h4 class="panel-title educolor">@ResourceManager.UIGetResource("PointsTo") </h4>
            @if (ViewBag.model != null && ViewBag.model.PointsTo != null && ViewBag.model.PointsTo != 0)
            {
                <input data-type="number" style="width:70%" id="pointsto" name="PointsTo" class="form-control col-md-7 col-xs-12  input-inline inputfloat" placeholder="To" value="@(ViewBag.model.PointsTo??0)" />
            }
            else
            {
                <input data-type="number" style="width:70%" id="pointsto" name="PointsTo" class="form-control col-md-7 col-xs-12  input-inline inputfloat" placeholder="To" value="@ConfigManager.GetUIInstance().MaximumPointsOfQuestion" />

            }
        </div>
    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <h4 class="panel-title educolor">@ResourceManager.UIGetResource("PointsFrom") </h4>
                            @if (ViewBag.model != null && ViewBag.model.PointsFrom != null && ViewBag.model.PointsFrom != 0)
                            {
                                <input data-type="number" style="width:70%" id="pointsfrom" name="PointsFrom" class="form-control col-md-7 col-xs-12  input-inline inputfloat" placeholder="From" value="@(ViewBag.model.PointsFrom??0)" />
                            }
                            else
                            {
                                <input data-type="number" style="width:70%" id="pointsfrom" name="PointsFrom" class="form-control col-md-7 col-xs-12 input-inline inputfloat" placeholder="From" value="@ConfigManager.GetUIInstance().MinimumPointsOfQuestion" />
                            }
                        </div>
                    </div>
                            }
else
{
    <div class="col-md-3">
        <div class="form-group">
            <h4 class="panel-title educolor">@ResourceManager.UIGetResource("PointsFrom") </h4>
            @if (ViewBag.model != null && ViewBag.model.PointsFrom != null && ViewBag.model.PointsFrom != 0)
            {
                <input data-type="number" style="width:70%" id="pointsfrom" name="PointsFrom" class="form-control col-md-7 col-xs-12  input-inline inputfloat" placeholder="From" value="@(ViewBag.model.PointsFrom??0)" />
            }
            else
            {
                <input data-type="number" style="width:70%" id="pointsfrom" name="PointsFrom" class="form-control col-md-7 col-xs-12 input-inline inputfloat" placeholder="From" value="@ConfigManager.GetUIInstance().MinimumPointsOfQuestion" />
            }
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <h4 class="panel-title educolor">@ResourceManager.UIGetResource("PointsTo") </h4>
            @if (ViewBag.model != null && ViewBag.model.PointsTo != null && ViewBag.model.PointsTo != 0)
            {
                <input data-type="number" style="width:70%" id="pointsto" name="PointsTo" class="form-control col-md-7 col-xs-12  input-inline inputfloat" placeholder="To" value="@(ViewBag.model.PointsTo??0)" />
            }
            else
            {
                <input data-type="number" style="width:70%" id="pointsto" name="PointsTo" class="form-control col-md-7 col-xs-12  input-inline inputfloat" placeholder="To" value="@ConfigManager.GetUIInstance().MaximumPointsOfQuestion" />

            }
        </div>
    </div>
}



                </div>

            </div>
            <input id="btnsearch" type="button" onclick="submitNReloadrank();" class="btn btn-blue-grey  btn-block btn-sm form-control  input-sm input-inline " value="@ResourceManager.UIGetResource("Search")" />

        </div>

    </div>

}
<script>
    handlePoints();
    function handlePoints(){
        var MinimumPointsStepOfQuestion=@ConfigManager.GetUIInstance().MinimumPointsStepOfQuestion;
        var MinimumPointsOfQuestion= @ConfigManager.GetUIInstance().MinimumPointsOfQuestion;
        var MaximumPointsOfQuestion= @ConfigManager.GetUIInstance().MaximumPointsOfQuestion;
        //var pointstoVal=$("#pointsto").val();
        //var pointsfromVal=$("#pointsfrom").val();
        $("#pointsfrom").attr({
            "step": MinimumPointsStepOfQuestion,        // substitute your own
            "min":MinimumPointsOfQuestion
        });
        $("#pointsto").attr({
            "step": MinimumPointsStepOfQuestion,        // substitute your own
            "min": MinimumPointsOfQuestion
        });
    }
</script>