﻿@using PMApp.Modon.DAL6;

<div id="deleteModal" role="dialog" class="modal" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span name="title">@ResourceManager.UIGetResource("Attention")</span></h4>
            </div>
            <div class="modal-body">
                <p> <span name="msg"></span> "<span name="target"></span>" ?</p>
            </div>
            <div class="modal-footer">
                <input name="btnOk" type="button" value="@ResourceManager.UIGetResource("OK")" class="btn btn-default" />
                <input name="btnCancel" type="button" value="@ResourceManager.UIGetResource("Cancel")" class="btn btn-default" />
            </div>
        </div>

    </div>
</div>

