﻿@model IEnumerable<Modon.CommonDefinitions.DataContracts.Record.NewsFeedsUserRecord>

<li role="presentation" class="dropdown">
    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-envelope-o"></i>
        <span class="badge bg-primary">@ViewBag.NotificationCount</span>
    </a>
    <ul id="menu1" class="dropdown-menu  msg_list" role="menu">
        @foreach (var item in Model)
        {
            <li>
                <a>
                    <span><img  src="@item.ProfileImage" width="50" height="50" class="img-circle"/></span>
                    <span>
                        <span>@item.UserFullName</span>
                    </span>
                    <hr />
                    <span class="message  text-warning fa  fa-envelope">

                        @item.NewsFeedRecord.News
                    </span>
                    <span class="pull-right fa  fa-clock-o"> @PMApp.Core.Services.Managers.UtilityServiceManager.UIToRelativeDate(item.NewsFeedRecord.CreationDate, "en")</span>
                </a>
            </li>
        }
        <li>
            <div class="text-center">
                <a href="@Url.Action("ListNewsFeed","NewsFeed")">
                    <strong>See All News</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </li>
    </ul>
</li>


