﻿@using PMApp.Modon.DAL6;
@using Modon.Portal.Helpers;
@using PMApp.Core.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        window.__CurrentApplication = '@PMApp.Modon.DAL6.EntitiesExtention.ApplicationManager.GetApplicationFromRouteData()';
        window.__DateFormat = '@DateTimeHelper.dateFormatedd_MM_yyyy.ToLower()';
        __rankSecondTabDays = '@ConfigManager.GetUIInstance().rankSecondTabDays';
        __rankThirdTabDays = '@ConfigManager.GetUIInstance().rankThirdTabDays';
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="version" content="@BundleConfig.CurrentVersionNo">
    <title>@ResourceManager.UIGetResource("ProjectName")</title>

    <style>
             .modal {
                 display: none;
                 position: fixed;
                 z-index: 1000;
                 top: 0;
                 left: 0;
                 height: 100%;
                 width: 100%;
                 background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
             }

             /* When the body has the loading class, we turn
        the scrollbar off with overflow:hidden */
             body.loading {
                 overflow: hidden;
             }

                 /* Anytime the body has the loading class, our
        modal element will be visible */
                 body.loading .modal {
                     display: block;
                 }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/bundles/css")
</head>

<body class="" style="font-family:'Roboto Slab'">
    <div class="modal"></div>
    <div class="container body">
        <div class="main_container">
            <br />
            <div class="right_col">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/layoutscripts")
    @RenderSection("scripts", required: false)
</body>
</html>
