﻿@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script>
        window.__CurrentApplication = '@PMApp.Modon.DAL6.EntitiesExtention.ApplicationManager.GetApplicationFromRouteData()';
        window.__DateFormat = '@DateTimeHelper.dateFormatedd_MM_yyyy.ToLower()';
        __rankSecondTabDays = '@ConfigManager.GetUIInstance().rankSecondTabDays';
        __rankThirdTabDays = '@ConfigManager.GetUIInstance().rankThirdTabDays';
    </script>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthorizedError</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
