﻿@using PMApp.Modon.DAL6;
<style>
    table h2 {
        color: white;
    }

    .morris-hover {
        position: absolute;
        z-index: 1000;
    }

        .morris-hover.morris-default-style {
            border-radius: 10px;
            padding: 6px;
            color: black;
            background: #ffffff;
            border: solid 2px rgba(230,230,230,0.8);
            font-family: sans-serif;
            font-size: 12px;
            text-align: center;
        }

            .morris-hover.morris-default-style .morris-hover-row-label {
                font-weight: bold;
                margin: 0.25em 0;
            }

    .mbox {
                display: inline-block;
                width: 100px;
                height: 20px;
                margin: 10px 10px 10px 25px;
            }
</style>

@model PMApp.Core.CommonDefinitions.DataContracts.Record.WidgetDataRecord[]
<h2 class="text-warning">@ViewBag.ReportName</h2>
<h5 class="text-muted">@ViewBag.ReportDescription</h5>
<hr />
<form>

    @if (Model != null && Model.Count() > 0)
    {
        if (ViewBag.WidgetRecord.ChartType != "None")
        {
            <div id='@String.Format("dvchart_{0}", ViewBag.WidgetID)' class="col-p-12">
                @if (ViewBag.Ispie == "1")
                {
                    <canvas id='@String.Format("pieChart_{0}", ViewBag.WidgetID)' style="max-width:90%; max-height:300px;display:block"></canvas>
                }
                else
                {
                    <div id='@String.Format("chartdiv_{0}", ViewBag.WidgetID)' class="height-sm"></div>
                }
                <hr />
                <center> <div id='@String.Format("legend_{0}", ViewBag.WidgetID)' ></div></center>
            </div>
            <br />
            <br />

        }
        <div id='@String.Format("tbldetails_{0}", ViewBag.WidgetID)' class="tbldetails col-p-12">
                <table id='@String.Format("datatable_{0}", ViewBag.WidgetID)' class="table data-table table-hover table-condensed table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info" style="overflow:scroll">


                    <thead>
                        <tr role="row">
                            @{
                                var firstData = Model.Select(p => p.Data).FirstOrDefault();
                                for (int i = 0; i < firstData.Count; i++)
                                {
                                    if (LiveRep.Portal.Controllers.ReportsController.IsReportValue(firstData[i].Name))
                                    {
                                        <th tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                            @ResourceManager.UIGetResource(firstData[i].Name)
                                        </th>
                                    }

                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @for (int i = 0; i < item.Data.Count; i++)
                                {

                                    <td class="@(i==0?"text-primary bold":"")">@Html.Raw(LiveRep.Portal.Controllers.ReportsController.GetReportValue(item, ref i))</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
        </div>
        @*</div>*@
        <script>
            $(document).ready(function () {
                initTableWithMoreButton();
                $('.datatable').DataTable({
                    responsive: true
                });

                var widgetRecord =  @Html.Raw(Json.Encode(ViewBag.WidgetRecord));
                var model =  @Html.Raw(Json.Encode(Model.Select(p => p.Data)));
                if (widgetRecord.ChartType == "Bar") {
                    if ( @ViewBag.IsPie == "1") {
                        loadPieChart(widgetRecord, model);
                    } else {
                        loadBarChart(widgetRecord, model,true);
                    }
                } else if (widgetRecord.ChartType == "Line") {
                    if ( @ViewBag.IsPie == "1") {
                        loadPieChart(widgetRecord, model);
                    } else {
                        loadLineChart(widgetRecord, model);
                    }
                } else if (widgetRecord.ChartType == "Area") {
                    if ( @ViewBag.IsPie == "1") {
                        loadPieChart(widgetRecord, model);
                    } else {
                        loadAreaChart(widgetRecord, model);
                    }
                } else if (widgetRecord.ChartType == "Donut") {
                    if ( @ViewBag.IsPie == "1") {
                        loadPieChart(widgetRecord, model);
                    } else {
                        LoadDonutChart(widgetRecord, model);
                    }
                }
                else if (widgetRecord.ChartType == "Bar2") {
                    if ( @ViewBag.IsPie == "1") {
                        loadPieChart(widgetRecord, model);
                    } else {
                        loadBarChart(widgetRecord, model,false);
                    }
                }
                else if (widgetRecord.ChartType == "Pie") {
                    loadPieChart(widgetRecord, model);
                }
                else if (widgetRecord.ChartType == "None") {
                    $("#dvchart"+@ViewBag.WidgetID).hide();
                }
            }
        );


        </script>
    }
    else
    {
        <div class="col-md-12 col-sm-12 col-xs-12 col-p-12">
            <h2>No Data Available</h2>
        </div>
    }

</form>

