﻿@using PMApp.Modon.DAL6;
@{
    ViewBag.Title = ResourceManager.UIGetResource("Reports");
}
@model List<PMApp.Core.CommonDefinitions.Filters.ReportParam>
@helper  FillWithLookup(string controlType, string sPName, string paraName, string defaultValue)
{
    if (!string.IsNullOrEmpty(sPName) && !string.IsNullOrEmpty(controlType))
    {
        var userID = PMApp.Core.Helpers.SecurityHelper.GetUserIDFromAuthenticationToken(User.Identity.Name);
        var applicationID = PMApp.Modon.DAL6.EntitiesExtention.ApplicationManager.GetApplicationIDFromAuthToken(User.Identity.Name);
        var paraDT = PMApp.Core.Services.Managers.WidgetServiceManager.ExecuteFilterParameterProcedure(EFUnitOfWork.NewUnitOfWork("InitFilter"), applicationID, userID, sPName);
        List<SelectListItem> list = new List<SelectListItem>();
        foreach (System.Data.DataRow row in paraDT.Rows)
        {
            list.Add(new SelectListItem()
            {
                Value = row["ID"].ToString(),
                Text = row["Name"].ToString()
            });
        }
        switch (controlType)
        {
            case "mddl":
                <fieldset class="rptFilterParameter table table-bordered" name="@paraName" data-controltype="@controlType" style="max-height:100px;min-height:100px;overflow-y:scroll;padding:10px">
                    @for (int i = 0; i < list.Count; i++)
                    {
                        if (defaultValue == list[i].Value)
                        {
                    <span class="button-checkbox" style="padding:5px;margin:5px">
                        <button for='@string.Format("ck-{0}-{1}",paraName,i)' type="button" class="btn" data-color="primary">@list[i].Text</button>
                        <input type="checkbox" id='@string.Format("ck-{0}-{1}",paraName,i)' value="@list[i].Value" checked="checked" class="hidden" />
                    </span>
                        }
                        else
                        {
                    <span class="button-checkbox" style="padding:5px;margin:5px">
                        <button for='@string.Format("ck-{0}-{1}",paraName,i)' type="button" class="btn" data-color="primary">@list[i].Text</button>
                        <input type="checkbox" id='@string.Format("ck-{0}-{1}",paraName,i)' value="@list[i].Value" class="hidden" />
                    </span>
                        }

                    }
                </fieldset>
                    break;
            case "ddl":
            <select name="@paraName" class="rptFilterParameter form-control col-md-12 col-xs-12 default-select2" data-controltype="@controlType">
    <option value="0">
        @ResourceManager.UIGetResource("SelectALL")
    </option>
    @foreach (var item in list)
    {
    <option value="@item.Value">
        @item.Text
    </option>
    }
</select>
                return;
            case "cbx":
                return;
        }
    }
    else
    {
        switch (controlType)
        {
            case "cbx":
                <input type="checkbox" name="@paraName" class="rptFilterParameter" checked="@defaultValue" data-controltype="@controlType" />
                return;
            case "lbl":
                return;
            case "none":
            <input type="hidden" name="@paraName" class="rptFilterParameter" value="@defaultValue" data-controltype="@controlType" />
                return;
            case "txt":
            <input type="text" name="@paraName" class="rptFilterParameter form-control col-md-12 col-xs-12" value="@defaultValue" data-controltype="@controlType" />
                return;
            case "Date":
            <input type="date" name="@paraName" class="rptFilterParameter form-control col-md-12 col-xs-12" value="@defaultValue" data-controltype="@controlType" />
                return;
        }
    }
}
<div id="content" class="content">
    <h1 class="page-header">
        @ViewBag.Title
        <small>@ResourceManager.UIGetResource("Reports")</small>
    </h1>
    <div class="row" style="background:rgba(21, 23, 23, 0.36)">
        <div class="panel panel-success" data-sortable-id="ui-media-object-1">
            <div class="panel-body ">
                <div class="col-lg-12">
                    <div id="filtersControls2">
                        <h2 class=" educolor">@ViewBag.ReportName</h2>
                        <h5 class=" text-muted">@ViewBag.ReportDescription</h5>
                        <hr />
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <div class="form-group">
                                    @if (item.ControlType != "none")
                                    {
                                        <label class="educolor">
                                            <b>@ResourceManager.UIGetResource("rptprm_" + item.Name)</b>
                                        </label>
                                    }
                                    <div class="">
                                        @FillWithLookup(item.ControlType, item.LookUpSPName, item.Name, item.DefaultValue)
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <br />
                            <div class="panel ">
                                <div class="panel-body">
                                    <center><i class="fa fa-5x fa-info-circle educolor"></i></center>
                                    <br />
                                    <center> <h4 class="text-black">@ResourceManager.UIGetResource("NoFitlersAvailable")</h4></center>
                                </div>
                            </div>
                        }

                        <a class="btn btn-success btn-block pull-right" onclick="GenerateReport(@ViewBag.WidgetID)">@ResourceManager.UIGetResource("GenerateReport")</a>


                    </div>
                    </div></div>></div></div></div>
