﻿@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using Modon.Portal.Helpers;
@using PMApp.Core.Helpers;
@model PMApp.Core.CommonDefinitions.DataContracts.Record.WidgetRecord[]
<link href="~/assets/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.css" rel="stylesheet" />
<link href="~/assets/plugins/DataTables/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
<link href="~/assets/plugins/DataTables/extensions/Buttons/css/buttons.jqueryui.css" rel="stylesheet" />
<link href="~/assets/plugins/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<div id="content" class="content">
    @{
        ViewBag.Title = @ResourceManager.UIGetResource("Reports");
    }


    <div class="row" style="background:rgba(21, 23, 23, 0.36)">

        <h4 class="section-title"><span>@ResourceManager.UIGetResource("GenerateReport")</span></h4>

        <div class="panel " data-sortable-id="ui-media-object-2">

            <div class="panel-body ">
                <!-- begin section-container -->
                <div class="section-container">
                    <div id="slimscrolldv">
                        <div class="demo-container" id="filtersControls">
@Html.Partial("ListReportsPerCategory", Model)
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
@BundleConfig.RenderScript("~/ScriptBundles/Reports/Index")

<script src="~/assets/js/table-manage-buttons.demo.js"></script>

<script>
    function WidgetClicked(id, name) {
        SBSAjax({
            url: ResolveUrl("~/Reports/InitReportFilters"),
            data: {
                widegeID: id
            },
            success: function (response) {
                $("#filtersControls").html(response);

            },
            error: function (response) {
            }
        });
    }
    function CategoryClicked(id) {
        SBSAjax({
            url: ResolveUrl("~/Reports/ListReportsPerCategory"),
            data: {
                categoryID: id
            },
            success: function (response) {
                $("#dvcontainer").html(response);
                $("#filtersControls").html("");

            },
            error: function (response) {
            }
        });
    }

</script>