﻿@model PMApp.Core.CommonDefinitions.DataContracts.Record.WidgetRecord[]
                                @if (Model != null)
                                {
                                    <div data-scrollbar="true" data-height="280px" >
                                        <table class="table table-condensed table-without-bg">
                                            <thead>
                                                <tr>
                                                    <th class="text-primary" style="width:80%">@ViewBag.CategoryName</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Count(); i++)
                                                {
                                             
                                                    <tr>
                                                        <td>
                                                            <a href="javascript:;" data-id="@Model.ElementAt(i).ID" id="icon-@Model.ElementAt(i).ID" onclick="WidgetClicked(this.getAttribute('data-id'),this.id);">
                                                                <small class="text-white">@Model.ElementAt(i).Name</small><br />@Model.ElementAt(i).Description
                                                            </a>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
