﻿.popular-tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.popular-tags > li {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 5px;
}
.popular-tags > li > a {
    padding: 3px 10px;
    border-radius: 40px;
    border: 2px solid #ccc;
    color: #fff;
    display: inline-block;
}
.popular-tags > li > a:hover,
.popular-tags > li > a:focus {
    text-decoration: none;
    color: #fff;
    border-color: #fff;
}
.popular-tags > li > a .fa {
    font-size: 6px;
    margin-right: 3px;
    position: relative;
    top: -2px;
    color: #fff !important;
}


