﻿@using PMApp.Modon.DAL6
@using Modon.Portal.Helpers
@using System.Collections.Generic
@using PMApp.Core.CommonDefinitions.DataContracts.Record
@using PMApp.Core.Helpers
@model List<CoreMenuRecord>

@helper draw(List<CoreMenuRecord> menus)
{
    if (menus != null)
    {
        foreach (var item in menus)
        {
            if (item.InnerCoreMenuRecordList != null && item.InnerCoreMenuRecordList.Count > 0)
            {
                <li class="has-sub">
                    <a href="javascript:;" id="lnkmenu_@item.ID">
                        <b class="caret @(UIHelper.GetCookieLanguageEnum() == Language.Ar ? "pull-right" : "")"></b>
                        <i class="fa @item.IconClass @(UIHelper.GetCookieLanguageEnum() == Language.Ar ? "pull-left" : "")"></i>
                        <span><b>@ResourceManager.UIGetResource(item.Name)</b> </span>
                    </a>
                    <ul class="sub-menu  " style="z-index:1000">
                        @draw(item.InnerCoreMenuRecordList)
                    </ul>
                </li>
            }
            else if (!string.IsNullOrWhiteSpace(item.UrlRoute))
            {
                <li><a style="font-size:12px" id="lnksubmenu_@item.ID" href="@UIHelper.ResolveServerUrl(item.UrlRoute, PMApp.Modon.DAL6.EntitiesExtention.ApplicationManager.GetApplicationFromRouteData())"><i class="fa @item.IconClass @(UIHelper.GetCookieLanguageEnum() == Language.Ar ? "pull-left" : "")"></i>
 @ResourceManager.UIGetResource(item.Name)</a></li>
            }
        }
    }

}

@draw(Model)




