﻿@using PMApp.Modon.DAL6

<div class="row form-group">
    <a href="@Url.Action("OperationPermission")" class="col-md-3 btn btn-default">@ResourceManager.UIGetResource("Operations")</a>
    <a href="@Url.Action("MenuPermission")" class="col-md-3 btn btn-default">@ResourceManager.UIGetResource("Menu")</a>
</div>