﻿@using PMApp.Modon.DAL6
@using PMApp.Core.CommonDefinitions.DataContracts.Record
@model ServiceOperationRoleAccessRecord[]

@{
    long? operationName = 0;

    foreach (var item in Model.Where(p=>p.ObjectID !=null && p.ObjectID!=0))
    {
        @*if (operationName != item.ObjectID)
        {
            operationName = item.ObjectID;

            <div class="col-md-12 form-group form-control"><b> @item.DBObjectName</b></div>
        }*@
        <div class="col-md-12 form-group msgBox">
            <input id="checkbox-@item.ID" type="checkbox" class="flat icheckbox_flat-green" value="@item.ID" checked="@item.IsAllowed" onclick="OperationClicked(this)" />
            <label class="control-label " for="checkbox-@item.ID">@item.ServiceOperationTitle</label>
        </div>
    }
}

