﻿
@using PMApp.Modon.DAL6
@using PMApp.Core.CommonDefinitions.DataContracts.Record
@model WidgetRecord[]

@foreach (var item in Model)
{
    <div class="col-md-3 form-group">
        <input id="checkbox-@item.ID" type="checkbox" class="flat" checked="@item.IsAllowed" value="@item.ID"  onclick="ReportClicked(this)" />
        <label class="control-label" for="checkbox-@item.ID">@item.Name</label>
    </div>
}

