﻿@using PMApp.Modon.DAL6;
@using PMApp.Core.CommonDefinitions.DataContracts.Record
@model List<CoreMenuRecord>


@helper draw(List<CoreMenuRecord> menus)
{
    if (menus != null)
    {

        foreach (var item in menus)
        {
            if (item.InnerCoreMenuRecordList != null && item.InnerCoreMenuRecordList.Count > 0)
            {
                <li >
                    <input id="checkbox-@item.ID" type="checkbox"  value="@item.ID" checked="@item.IsAllowed" onclick="MenuClicked(this)" />

<span > <b class="text-primary">@item.Name</b></span>

                    <ul  dir="rtl" style="text-align:right">
                        @draw(item.InnerCoreMenuRecordList)
                    </ul>
                </li>
            }
            else if (!string.IsNullOrWhiteSpace(item.UrlRoute))
            {
                <li>
                    <input id="checkbox-@item.ID" type="checkbox"  value="@item.ID" checked="@item.IsAllowed" onclick="MenuClicked(this)" />

                         <span ><b class="text-white">@item.Name</b> </span>
                       

                </li>

            }
        }


    }

}

<div class="menu_section">
    <ul class="nav side-menu">
        @draw(Model)
    </ul>
</div>