﻿@using PMApp.Modon.DAL6;
@using PMApp.Core.CommonDefinitions.DataContracts.Record


<section class="content-header" dir="rtl">
    <h1>
        @ResourceManager.UIGetResource("MenuPermissions")
        <small>
            @ResourceManager.UIGetResource("MenuPermissions")
        </small>
        <br />
        <a href="@Url.Action("OperationPermission", "Permission")" class="btn btn-warning btn-block btn-xs m-r-5 ">
إعداد صلاحيات الإجراءات        </a>
    </h1>
</section>
<hr />
<section class="content">
    <!-- Default box -->
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="box box-widget" dir="rtl">
                <div class="box-body">
                    <div class="row form-group ">
                        <div class="col-md-12">
                            <select id="ddl-menu-role" class="form-control select2_single" onchange="menuRoleChanged(this)">
                                <option value="0">@ResourceManager.UIGetResource("ChooseRole")</option>
                                @foreach (var item in (ApplicationRoleRecord[])ViewBag.roles)
                                {
                                    <option value="@item.ID">
                                        @item.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="panel  no-bg">
                        <div class="panel-body">
                            <div id="div-menus" class="row form-group">

                            </div>
                        </div>
                        </div></div>

                        <!-- /.box-footer-->
                    </div>
                </div>
    </div>
</section>

                    <script>
                        function menuRoleChanged(ddl) {
                            roleID = $(ddl).val();
                            SBSAjax({
                                url: '@Url.Action("ListMenu", "Permission")',
                                data: { roleID: roleID },
                                success: function (response) {
                                    $("#div-menus").html(response);
                                }
                            });
                        }

                        function MenuClicked(ctr) {
                            SBSAjax({
                                url: '@Url.Action("UpdateRoleMenuAccess", "Permission")',
                                data: {
                                    menuID: $(ctr).val(),
                                    roleID: $("#ddl-menu-role").val(),
                                    isAllowed: $(ctr).prop("checked")
                                },
                                success: function (response) {
                                    new PNotify({
                                        title: response,
                                        text: response,
                                        type: 'success',
                                        styling: 'bootstrap3'
                                    });
                                }
                            });
                        }

                        function reportRoleChanged(ddl) {
                            roleID = $(ddl).val();
                            SBSAjax({
                                url: '@Url.Action("ListReport", "Permission")',
                                data: { roleID: roleID },
                                success: function (response) {
                                    $("#div-menus").html(response);
                                }
                            });
                        }
                    </script>