﻿@using PMApp.Modon.DAL6
@using PMApp.Core.CommonDefinitions.DataContracts.Record


<section class="content">
    <!-- Default box -->
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="box box-widget" dir="rtl">
                <div class="box-body">
                    <div class="row form-group ">
                        <div class="col-md-12">
                            <select class="form-control " onchange="operationRoleChanged(this)">
                                <option value="0">@ResourceManager.UIGetResource("ChooseRole")</option>
                                @foreach (var item in (ApplicationRoleRecord[])ViewBag.roles)
                                {
                                    <option value="@item.ID">
                                        @item.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="panel  no-bg">
                        <div class="panel-body">
                            <div id="div-operations" class="row form-group">

                            </div>
                        </div>
                    </div>
                </div>

                <!-- /.box-footer-->
            </div>
        </div>
    </div>
</section>
<script>
    function operationRoleChanged(ddl) {
        roleID = $(ddl).val();
        SBSAjax({
            url: '@Url.Action("ListOperation", "Permission")',
            data: { roleID: roleID },
            success: function (response) {
                $("#div-operations").html(response);
            }
        });
    }

    function OperationClicked(ctr) {
        SBSAjax({
            url: '@Url.Action("UpdateRoleOperationAccess", "Permission")',
            data: {
                rowID: $(ctr).val(),
                isAllowed: $(ctr).prop("checked")
            },
            success: function (response) {
                Notify(response, 'success');

            }
        });
    }
</script>
