﻿@using PMApp.Modon.DAL6
@using PMApp.Core.CommonDefinitions.DataContracts.Record

<div class="row form-group ">
    <div class="col-md-4">
        <select id="ddl-menu-role" class="form-control " onchange="reportRoleChanged(this)">
            <option value="0">@ResourceManager.UIGetResource("ChooseRole")</option>
            @foreach (var item in (ApplicationRoleRecord[])ViewBag.roles)
            {
                <option value="@item.ID">
                    @item.Name
                </option>
            }
        </select>
    </div>
</div>

<div id="div-menus" class="row form-group">

</div>

<script>
    function reportRoleChanged(ddl) {
        roleID = $(ddl).val();
        SBSAjax({
            url: ResolveUrl("~/Permission/ListReport"),
            data: { roleID: roleID },
            success: function (response) {
                $("#div-menus").html(response);
            }
        });
    }

    function ReportClicked(ctr) {
        SBSAjax({
            url: ResolveUrl("~/Permission/UpdateRoleReportAccess"),
            data: {
                widgetID: $(ctr).val(),
                roleID: $("#ddl-menu-role").val(),
                isAllowed: $(ctr).prop("checked")
            },
            success: function (response) {
                new PNotify({
                    title: response,
                    text: response,
                    type: 'success',
                    styling: 'bootstrap3'
                });
            }
        });
    }
</script>