﻿@using PMApp.Modon.DAL6
@using Modon.Portal.Helpers
@using System.Collections.Generic
@using PMApp.Core.CommonDefinitions.DataContracts.Record
@model List<CoreMenuRecord>
<h1><br /><hr /></h1>
@helper draw(List<CoreMenuRecord> menus)
{
    if (menus != null)
    {
        foreach (var item in menus)
        {
            if (item.InnerCoreMenuRecordList != null && item.InnerCoreMenuRecordList.Count > 0)
            {
                <li class="itemdrag" id="@item.ID">
                    <a id="@item.ID"><i class="fa @item.IconClass"></i> @item.Name <span class="fa fa-chevron-down "></span></a>
                    <ul class="nav child_menu" id="@item.ID">
                        @draw(item.InnerCoreMenuRecordList)
                    </ul>
                </li>
            }
            else if (!string.IsNullOrWhiteSpace(item.UrlRoute))
            {
                <li id="@item.ID" class="itemdrag"><a href="@Url.Content(item.UrlRoute)"> <i class="fa @item.IconClass"></i>@item.Name </a></li>
            }
        }
    }

}

<div class="menu_section">
    <ul class="nav side-menu">
        @draw(Model)
    </ul>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    var fromParentID = null;
    $(".nav, .child_menu").sortable({
        connectWith: ".nav, .child_menu",
        stop: function (event, ui) {
            fromParentID=ui.item.attr("id");
        }
    }).disableSelection();

</script>
