﻿@model IEnumerable<Modon.CommonDefinitions.DataContracts.Record.NewsFeedsUserRecord>


@for (int i = 0; i < Model.Count(); i++)
        {
<li class="media event">
    <a class="pull-left  ">
        @if (i % 2 == 0)
        { <img src="@Model.ElementAt(i).ProfileImage" width="50" height="50" class="img-circle" />}

        else
        {  <img src="@Model.ElementAt(i).ProfileImage" width="50" height="50" class="img-circle" />}
       
         
        
    </a>
    <div class="media-body">
        
        @if (Model.ElementAt(i).UserFullName.ToString().Length > 10)
        {
            <a class="title" href="@Url.Action("ListNewsFeed","NewsFeed")">@Model.ElementAt(i).UserFullName.ToString().Substring(0, 10)</a><b>..</b>
        }
        else
        {
            <a class="title" href="@Url.Action("ListNewsFeed","NewsFeed")">@Model.ElementAt(i).UserFullName</a>
        }
        @if (Model.ElementAt(i).NewsFeedRecord.News.ToString().Length > 15)
        {
            <p><strong></strong> @Model.ElementAt(i).NewsFeedRecord.News.ToString().Substring(0,15)</p><b>..</b>
        }
        else
        {
            <p><strong></strong> @Model.ElementAt(i).NewsFeedRecord.News.ToString()</p>
        }
        
        <p>
            <small >@PMApp.Core.Services.Managers.UtilityServiceManager.UIToRelativeDate(Model.ElementAt(i).NewsFeedRecord.CreationDate, "en")</small>
        </p>
    </div>
</li>
}


