﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@model NewsFeedsUserRecord[]

@if (Model != null)
{
    <div class="col-md-12 col-sm-12 col-xs-12">
        <table id="datatable" class="table table-striped table-bordered table-hover  dataTable no-footer" role="grid" aria-describedby="datatable_info">
            <thead>
                <tr role="row">
                    <th class="sorting_asc text-success text-uppercase" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                        @ResourceManager.UIGetResource("From")
                    </th>
                    <th class="sorting_asc text-success text-uppercase" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                        @ResourceManager.UIGetResource("News")
                    </th>


                    <th class="sorting_asc text-success text-uppercase" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                        @ResourceManager.UIGetResource("Date")
                    </th>
                    <th class="sorting_asc text-success text-uppercase" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                        @ResourceManager.UIGetResource("Seen")
                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr role="row">
                        <td>
                            <span><img src="@item.ProfileImage" width="50" height="50" class="img-circle" /></span>
                            <span>
                                <span>@item.UserFullName</span>
                            </span>
                        </td>
                        <td>
                            @item.NewsFeed.News
                        </td>

                        <td>
                            <span class="fa  fa-clock-o"> @PMApp.Core.Services.Managers.UtilityServiceManager.UIToRelativeDate(item.NewsFeed.CreationDate, "en")</span>

                        </td>

                        <td>
                            <input type="checkbox" class="flat" checked="checked">
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}

