﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record;


    <div class="form-group">
            <br />
        <form action="~/newsfeed/PostNews">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-9">
                        <b> @ResourceManager.UIGetResource("FeedType")</b>
                        <select id="ddlFeedType" name="objectID" class="form-control col-md-7 col-xs-12">

                            @foreach (var item in ViewBag.Objects)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>

                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-lg-9">
                    <b> @ResourceManager.UIGetResource("ChooseReciver")</b>
                    <div class="form-group">
                        <select id="ddlobjects" name="typeID" class="form-control col-md-7 col-xs-12">
                            <option value='0'>@ResourceManager.UIGetResource("SelectType")</option>"
                        </select>
                    </div>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-lg-9">
                    <b> @ResourceManager.UIGetResource("Users")</b>
                    <div class="form-group">
                        <select id="dllusers" name="touserID" class="form-control col-md-7 col-xs-12">
                            <option value='0'>@ResourceManager.UIGetResource("SelectUser")</option>"
                        </select>
                    </div>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-lg-9">
                    <b> @ResourceManager.UIGetResource("")</b>

                    <div class="form-group">
                        <textarea class="form-control" name="News" rows="5" id="txtNews" placeholder="@ResourceManager.UIGetResource("TypeYourNewshere")"></textarea>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-9">
                    <div class="form-group pull-right" id="dvusers">
                        <input type="submit" id="btnPost" onclick="@Url.Action("PostNews")" class="btn btn-primary" value="@ResourceManager.UIGetResource("Post Now")" />
                    </div>
                </div>

            </div>
        </form>

</div>
<script type="text/javascript">
    var id = $("#ddlFeedType").val();
    if (id == 4 || id == 3) {
        $('#ddlobjects').prop('disabled', true);
        $('#dllusers').prop('disabled', true);
    } else {
        $('#ddlobjects').prop('disabled', false);
        $('#dllusers').prop('disabled', false);
    }
    $(document).ready(function () {

        $("#ddlFeedType").change(function () {
            var id = $("#ddlFeedType").val();
            $('#ddlobjects').empty();
            $("#ddlobjects").append('<option value="0">@ResourceManager.UIGetResource("All")</option>');
            if (id==4 || id==3) {
                $('#ddlobjects').prop('disabled', true);
                $('#dllusers').prop('disabled', true);
            } else
            {
                $('#ddlobjects').prop('disabled', false);
                $('#dllusers').prop('disabled', false);
            }

            SBSAjax({
                url: ResolveUrl("~/NewsFeed/GetDBobjects"),
                type: "post",
                data: {
                    objectID: id
                },
                success: function (response) {
                    if (response !=null) {
                        for (var i = 0; i < response.length; i++) {
                            $("#ddlobjects").append('<option value="' + response[i].ID + '">' + response[i].Name + '</option>');
                        }
                    }
                }
            });
        });

        $("#ddlobjects").change(function () {

            var id = $("#ddlobjects").val();
            var feedid = $("#ddlFeedType").val();
            $('#dllusers').empty();
            $("#dllusers").append('<option value="0">@ResourceManager.UIGetResource("All")</option>');
            SBSAjax({
                url: ResolveUrl("~/NewsFeed/Getusers"),
                type: "post",
                data: {
                    typeID: id,
                    objectID: feedid
                },
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {
                        $("#dllusers").append('<option value="' + response[i].ID + '">' + response[i].FullName + '</option>');
                    }
                }
            });
        });

  
    });
</script>
   