@using Modon.CommonDefinitions.DataContracts.Record
@using PMApp.Modon.DAL6;
@model AreaRecord
@{
    ViewBag.Title = ResourceManager.UIGetResource("EditArea");
}


<div id="content" class="content">
    <h1 class="page-header">
        @ViewBag.Title
    </h1>
        <div class="page-title">
            <div class="title_left">
                <h3>@ResourceManager.UIGetResource("EditArea")</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row demo-container">
                            <form action="EditArea" method="post" class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        @ResourceManager.UIGetResource("Name")
                                    </label>
                                    <div>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "validation-message" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    <label>
                                        @ResourceManager.UIGetResource("Description")
                                    </label>
                                    <div>
                                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "validation-message" })
                                    </div>
                                </div>*@
                                @if (Model.ParentID != null)
                                {
                                    <div class="form-group">
                                        <label>
                                            @ResourceManager.UIGetResource("Parent")
                                        </label>
                                        <div>
                                            @Html.DropDownListFor(model => model.ParentID, new SelectList((AreaRecord[])@ViewBag.area, "ID", "Name"), @ResourceManager.UIGetResource("ChooseParent"), new { @class = "form-control col-md-7 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "validation-message" })
                                        </div>
                                    </div>
                                }
                                
                                <div class="form-group">
                                    <label>
                                    </label>
                                    <div>
                                        <input type="submit" class="btn btn-block btn-success" value="@ResourceManager.UIGetResource("Edit")" />
                                    </div>
                                </div>
                                <input hidden name="ID" value="@Model.ID" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>