﻿@using Modon.CommonDefinitions.DataContracts.Record
@using PMApp.Modon.DAL6;
@model AreaRecord

@{

    ViewBag.title = ResourceManager.UIGetResource("Area");

}

<link href="~/Content/jstree.min.css" rel="stylesheet" />
<style>
    .jstree-anchor {
        color: white;
    }
</style>
<div id="content" class="content">
    <h1 class="page-header">
        @ViewBag.Title
    </h1>
        <div class="page-title">
            <div class="title_left">
                <h3>@ResourceManager.UIGetResource("EditUser")</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row demo-container"><div class="panel panel-inverse">
    <div class="form-horizontal form-label-left">


        <div class="panel-heading">

            <h4 style="color:white">  @ResourceManager.UIGetResource("AreaList") </h4>

        </div>
        <div class="panel-body">
            <div id="jstree" onclick="AreasClicked()">

            </div>

            <div class="pull-right">
                <input id="btn-edit" type="button" disabled="disabled" class="btn btn-info" value="@ResourceManager.UIGetResource("Edit")" onclick="EditClicked()" />
                <input id="btn-delete" type="button" disabled="disabled" class="btn btn-danger" value="@ResourceManager.UIGetResource("Delete")" onclick="DeleteClicked()" />
            </div>
        </div>
    </div>
</div>
                            </div></div></div></div></div></div>
                            

                            <script src="~/Scripts/jstree.min.js"></script>
                            <script>
    $(function () {
        var model=@Html.Raw(Json.Encode(ViewBag.Areas));
        // 6 create an instance when the DOM is ready
        $('#jstree').jstree({
            'core': {
                'data': model.Data
            }

        }).bind("loaded.jstree", function (event, data) {
        });
    });

                            </script>
                            @BundleConfig.RenderScript("~/ScriptBundles/Area/ListArea")

