﻿

<tr>
    <td><select onchange="ddlaOthers(this,'@ViewBag.pIndex')" class="form-control" id="ddlsubActivity_@ViewBag.pIndex" name="BuildingActivities[@ViewBag.pIndex].ActivitSubTypeID"></select><div id="dvaother_@ViewBag.pIndex" hidden> <input name="BuildingActivities[@ViewBag.pIndex].ActivitOtherSubTypeName" class="form-control" value="" id="txtaother_@ViewBag.pIndex" width="80%" /> <i class="fa fa-remove text-danger" onclick="showActivities('@ViewBag.pIndex')">إلغاء</i></div></td>
    <td><input name="IsAllowed" disabled  type="checkbox" data-render="switchery" data-theme="default" data-switchery="true" style="display: none;"></td>
    <td><a onclick='removeProduct(this)' href="#" id="username" data-type="text" data-pk="1">حذف <i class="fa fa-remove text-danger"></i></a></td>

</tr>