﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@model BuildingRecord
@{ Layout = "~/Views/Shared/_ELayout.cshtml";}
@{
    ViewBag.Title = ResourceManager.UIGetResource("BuildingDetails");
}


<div class="search-toolbar">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-6 -->
        <div class="col-md-6">
            <div class="pull-left">
                @if (Model.StatusID == ConfigManager.GetUIInstance().Order_NewStatusID || Model.StatusID == ConfigManager.GetUIInstance().Order_PendingStatusID)
                {
                    <a href="@Url.Action("EBuildingReview","Building" ,new {buildingID=Model.ID,orderID=ViewBag.OrderID })" class=" btn btn-sm btn-warning"> @ResourceManager.GetUIInstance().GetResource("ReviewBuilding") <i class=" fa fa-refresh  text-white"></i></a>
    <a onclick="ChangeBuildingStatus('هل أنت متأكد من إعتماد المنشأة؟','@Model.Name','@Model.ID','@ConfigManager.GetUIInstance().Order_ApprovedStatusID')" class=" btn btn-sm btn-success"> @ResourceManager.GetUIInstance().GetResource("ApproveBuilding") <i class=" fa fa-check-square-o  text-white"></i></a>
    @*<a onclick="ChangeBuildingStatus('هل أنت متأكد من رفض المنشأة؟','@Model.Name','@Model.ID','@ConfigManager.GetUIInstance().Order_RejectedStatusID')" class=" btn btn-sm btn-danger"> @ResourceManager.GetUIInstance().GetResource("RejectBuilding") <i class=" fa fa-ban  text-white"></i></a>*@
                }
            </div>
        </div>
        <!-- END col-6 -->
        <!-- BEGIN col-6 -->
        <div class="col-md-6 text-right f-s-20">
            @ViewBag.Title
            <i class="fa fa-circle text-success"></i>


        </div>
        <!-- END col-6 -->
    </div>
    <!-- END row -->
</div>
<div class="product">
    <!-- BEGIN product-detail -->
    <div class="product-detail">
        <div class="product-info">
            <!-- BEGIN product-info-header -->
            <div class="product-info-header">
                <h1 class="product-title text-right " style="font-size:24px">
                    @if (Model.StatusID == ConfigManager.GetUIInstance().Order_ApprovedStatusID)
                    {
                        <span class="label label-l label-success "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_ApprovedStatusID_Slogan") </span>
                    }
                    else if (Model.StatusID == ConfigManager.GetUIInstance().Order_NewStatusID)
                    {
                        <span class="label label-warning "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_NewStatusID_Slogan") </span>
                    }
                    else if (Model.StatusID == ConfigManager.GetUIInstance().Order_PendingForEditStatusID)
                    {
                        <span class="label label-info "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_PendingForEditStatusID") </span>
                    }
                    else if (Model.StatusID == ConfigManager.GetUIInstance().Order_PendingForManagerStatusID)
                    {
                        <span class="label label-info "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_PendingForManagerStatusID") </span>
                    }
                    else if (Model.StatusID == ConfigManager.GetUIInstance().Order_RejectedStatusID)
                    {
                        <span class="label label-danger "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_RejectedStatusID_Slogan") </span>
                    }
                    @Model.Name
                </h1>

            </div>
            <div class="row">
                <div class="checkout-body ">
                    <!-- BEGIN checkout-message -->
                    <div class="checkout-message">
                        <div class="table-responsive2">
                            <div class="col-md-6">
                                <table class="table ">
                                    <tbody>
                                        <tr>
                                            <td width="30%" class="field text-success f-w-700">@ResourceManager.UIGetResource("Email")</td>
                                            <td class="value "> @Model.Email</td>
                                        </tr>

                                        <tr>
                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("Phone")</td>
                                            <td class="value">@Model.Phone</td>
                                        </tr>
                                        <tr>
                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("OwnerName")</td>
                                            <td class="value"> @Model.OwnerName</td>
                                        </tr>
                                        <tr>
                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("OwnerCID")</td>
                                            <td class="value">
                                                @Model.OwnerCID
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table ">
                                    <tbody>
                                        <tr>
                                            <td width="30%" class="field text-success f-w-700">@ResourceManager.UIGetResource("ActivityTypeName")</td>
                                            <td class="value "> @Model.ActivityTypeName</td>
                                        </tr>

                                        <tr>
                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("AreaName")</td>
                                            <td class="value">@Model.AreaName</td>
                                        </tr>
                                        <tr>
                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("StreetAdress")</td>
                                            <td class="value"> @Model.StreetAdress</td>
                                        </tr>
                                        <tr>
                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("AreaSpace")</td>
                                            <td class="value">
                                                @Model.AreaSpace
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END product-detail -->
    <!-- BEGIN product-tab -->
    <div class="product-tab" dir="rtl">
        <!-- BEGIN #product-tab -->
        <ul id="product-tab" class="nav nav-tabs">
            <li class="active"><a href="#product-desc0" data-toggle="tab">@ResourceManager.UIGetResource("SalesAndServices")</a></li>
            <li class=""><a href="#product-info" data-toggle="tab">@ResourceManager.UIGetResource("UploadedFiles")</a></li>
            <li class=""><a href="#product-comments" data-toggle="tab">@ResourceManager.UIGetResource("Comments")</a></li>

        </ul>
        <!-- END #product-tab -->
        <!-- BEGIN #product-tab-content -->
        <div id="product-tab-content" class="tab-content">
            <!-- BEGIN #product-desc -->
            <div class="tab-pane fade active in" id="product-desc0">
                <div class="col-md-8 col-md-offset-2">
                    <table class="table  table-striped table-bordered">
                        <tbody>
                            @if (Model.BuildingActivities.Count() > 0)
                            {
                                foreach (var item in Model.BuildingActivities)
                                {
                                    <tr>
                                        <td class="field">@item.ActivitySubTypeName</td>
                                        @if (item.IsAllowed)
                                        {
                                            <td class="field"><i data-toggle="tooltip" data-title="@ResourceManager.UIGetResource("Allowed")" class="fa  fa-check-square text-success"> </i></td>

                                        }
                                        else
                                        {
                                            <td class="field"><i data-toggle="tooltip" data-title="@ResourceManager.UIGetResource("NotAllowed")" class="fa  fa-times-circle-o text-danger"> </i></td>
                                        }

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="field"><center>@ResourceManager.UIGetResource("NodDataAvailable_ActivitSubType")</center></td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="tab-pane fade" id="product-info">
                @if (Model.WebMediaFiles != null)
                {
                <ul class="attached-document clearfix">
                    @foreach (var file in Model.WebMediaFiles)
                            {
                                if (file.WebMediaTypeID == ConfigManager.GetUIInstance().STFileFile_WebMediaTypeID)
                                {
                            <li>
                                <div class="document-name"><a href="#">@ResourceManager.UIGetResource("STFileFile_WebMediaTypeID")</a></div>
                                <div class="document-file">
                                    <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </a>
                                </div>
                            </li>
                                }
                                else if (file.WebMediaTypeID == ConfigManager.GetUIInstance().OwnerIDFile_WebMediaTypeID)
                                {
                            <li>
                                <div class="document-name"><a href="#">@ResourceManager.UIGetResource("OwnerIDFile_WebMediaTypeID")</a></div>
                                <div class="document-file">
                                    <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </a>
                                </div>
                            </li>

                                }
                                else if (file.WebMediaTypeID == ConfigManager.GetUIInstance().BuildingLayoutFile_WebMediaTypeID)
                                {
                            <li>
                                <div class="document-name"><a href="#">@ResourceManager.UIGetResource("BuildingLayoutFile_WebMediaTypeID")</a></div>
                                <div class="document-file">
                                    <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </a>
                                </div>
                            </li>

                                }
                                else if (file.WebMediaTypeID == ConfigManager.GetUIInstance().OtherFile_WebMediaTypeID)
                                {
                            <li>
                                <div class="document-name"><a href="#">@ResourceManager.UIGetResource("STFileFile_WebMediaTypeID")</a></div>
                                <div class="document-file">
                                    <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </a>
                                </div>
                            </li>

                                }
                            }
                </ul>
                }
            </div>
            <div class="tab-pane fade" id="product-comments">
                @if (ViewBag.comments != null && ViewBag.comments.Length > 0)
                {
                    <div class="panel panel-inverse" data-sortable-id="index-2">
                        <div class="panel-heading">
                            <h4 class="panel-title">التعليقات <span class="label label-success pull-right">4 رسائل</span></h4>
                        </div>
                        <div class="panel-body bg-silver" dir="rtl">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 225px;">
                                <div data-scrollbar="true" data-height="225px" data-init="true" style="overflow: hidden; width: auto; height: 225px;">
                                    <ul class="chats">
                                        @foreach (var item in (Order_CommentRecord[])ViewBag.comments)
                                        {
                                            <li class="right">
                                                <span class="date-time">@item.CreationDateStr</span>
                                                <a href="javascript:;" class="name"><span class="label label-primary">مدن</span></a>
                                                <a href="javascript:;" class="image"><img alt="" src="assets/img/logo.png"></a>
                                                <div class="message" dir="rtl">
                                                    @item.Comment
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 133.224px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <table class="table table-product table-striped">
                        <tbody>
                            <tr>
                                <td class="field"><center>@ResourceManager.UIGetResource("NodDataAvailable_Comments")</center></td>
                            </tr>


                        </tbody>
                    </table>
                }

                <!-- END #product-reviews -->
            </div>
        </div>
        <!-- END #product-tab-content -->
    </div>
    <!-- END product-tab -->
</div>
<script>
    function ChangeBuildingStatus(headmsg,msg,bID, sID) {
            swal({
                title: headmsg,
                text: msg,
                type: "success",
                showCancelButton: true,
                inputPlaceholder: "Write something",
                confirmButtonClass: 'btn-success',
            }, function (isConfirm) {
                if (isConfirm) {
                    SBSAjax({
                        url: '@Url.Action("ChangeBuildingStatus", "Building")',
                        data: {
                            statusID: parseInt(sID),
                            buildingID: parseInt(bID),
                        },
                        success: function (response) {

                            Notify(response, response);
                            window.location.href = ResolveUrl('~/Building/EListBuilding/')
                        },
                        error: function (response) {
                            Notify(response, response);

                        }
                    });
                }
            }
               );
        };

</script>
