﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record;
@using CaptchaMvc.HtmlHelpers;
@using PMApp.Core.Helpers;
@{ Layout = "~/Views/Shared/_ELayout.cshtml";}

@model BuildingRecord
@{
    ViewBag.Title = ResourceManager.UIGetResource("ReviewBuilding");
}
<style>
    .well {
        background-color: #ffffff;
    }
</style>


<div class="search-toolbar">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-6 -->
        <div class="col-md-6">
        </div>
        <!-- END col-6 -->
        <!-- BEGIN col-6 -->
        <div class="col-md-6 text-right f-s-20">
            <i class="fa fa-circle text-success"></i>
            @ViewBag.Title
        </div>
        <!-- END col-6 -->
    </div>
    <!-- END row -->
</div>

@using (Html.BeginForm("ReviewBuilding", "Building", FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "true", name = "form-wizard", id = "form-wizard" }))
{
    <div class="panel panel-default ">

        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            <label class="control-label pull-right">الإسم التجارى للمنشأة </label>
                            <br />
                            <span class="badge badge-success form-control f-s-16">@Model.Name</span>
                        </div>
                    </div>
                    <div class="row m-b-15">
                        <div class="col-md-6 ">
                            <label class="control-label pull-right">رقم الإتصال   جوال/هاتف </label>
                            <br />
                            <span class="badge badge-success form-control f-s-16">@Model.Phone</span>

                        </div>
                        <div class="col-md-6 ">
                            <label class="control-label pull-right">البريد الإلكترونى </label>
                            <br />
                            <span class="badge badge-success form-control f-s-16">@Model.Email</span>

                        </div>
                    </div>
                    <div class="row m-b-15">
                        <div class="col-md-6 ">
                            <label class="control-label pull-right">مساحة المنشأة م2 </label>
                            <br />
                            <span class="badge badge-success form-control f-s-16">@Model.AreaSpace</span>

                        </div>
                        <div class="col-md-6">
                            <label class="control-label pull-right">نوع النشاط</label>
                            <br />
                            <span class="badge badge-success form-control f-s-16">@Model.ActivityTypeName</span>

                        </div>
                    </div>

                    <label class="control-label pull-right">الأنشطة السابقة</label>
                    <div class="row m-b-15">
                        <div class="col-md-12 ">
                            <table id="user" class="table table-bordered table-striped" dir="rtl">
                                <tbody>
                                    <tr>
                                        <td><span class="f-s-14" placeholder="المنتج  الخدمة">يوجد نشاط سابق داخل المدينة الصناعية</span></td>
                                        <td width="10%">    <input name="ISActivityBefore" type="checkbox" disabled data-render="switchery" data-theme="default" data-switchery="true" style="display: none;"></td>
                                    </tr>
                                    <tr>
                                        <td><span class="f-s-14" placeholder="المنتج  الخدمة">يوجد نشاط سابق خارج المدينة الصناعية</span></td>
                                        <td width="10%">    <input name="ISActivityAfter" type="checkbox" disabled data-render="switchery" data-theme="default" data-switchery="true" style="display: none;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row m-b-15">
                        <div class="col-md-12 ">
                            <label class="control-label pull-right">الموقع </label>
                            <br />
                            @*@Html.Label(Model.AreaName, new { @class = "form-control" })*@
                            <span class="badge badge-success form-control f-s-16">@Model.AreaName</span>

                        </div>
                    </div>
                    <div class="row m-b-15">
                        <div class="col-md-6 ">
                            <label class="control-label pull-right">الشارع </label>
                            <br />
                            <span class="badge badge-success form-control f-s-16">@Model.StreetAdress</span>

                        </div>
                        <div class="col-md-6 ">
                            <label class="control-label pull-right">إسم مالك العقار </label>
                            <br />
                            <span class="badge badge-success form-control f-s-16">@Model.OwnerName</span>

                        </div>
                    </div>
                    <div class="row m-b-15">
                        <div class="col-md-8 col-md-offset-2 ">
                            <center>
                                <div id="map" style="height: 300px;"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <table class="table  table-striped table-bordered">
                        <thead>
                            <tr>
                                <th class="text-right">@ResourceManager.UIGetResource("ActivitySubTypeName")</th>
                                <th class="text-right">@ResourceManager.UIGetResource("Allowed/Not")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.BuildingActivities.Count() > 0)
            {
                foreach (var item in Model.BuildingActivities)
                {
            <tr>
                <td class="field">@item.ActivitySubTypeName</td>

                <td>
                    <input name="IsAllowed" onchange="changeActivity(@item.ID)" type="checkbox" @(item.IsAllowed?"checked":"") data-render="switchery" data-theme="default" data-switchery="@item.IsAllowed" style="display: none;">
                </td>
            </tr>
                }
            }
            else
            {
            <tr>
                <td class="field"><center>@ResourceManager.UIGetResource("NodDataAvailable_ActivitSubType")</center></td>
            </tr>
            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    @if (Model.WebMediaFiles != null)
                    {
                    <ul class="attached-document clearfix">
                        @foreach (var file in Model.WebMediaFiles)
                            {
                                if (file.WebMediaTypeID == ConfigManager.GetUIInstance().STFileFile_WebMediaTypeID)
                                {
                            <li>
                                <div class="document-name"><a href="#">@ResourceManager.UIGetResource("STFileFile_WebMediaTypeID")</a></div>
                                <div class="document-file">
                                    <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </a>
                                </div>
                            </li>
                                }
                                else if (file.WebMediaTypeID == ConfigManager.GetUIInstance().OwnerIDFile_WebMediaTypeID)
                                {
                            <li>
                                <div class="document-name"><a href="#">@ResourceManager.UIGetResource("OwnerIDFile_WebMediaTypeID")</a></div>
                                <div class="document-file">
                                    <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </a>
                                </div>
                            </li>

                                }
                                else if (file.WebMediaTypeID == ConfigManager.GetUIInstance().BuildingLayoutFile_WebMediaTypeID)
                                {
                            <li>
                                <div class="document-name"><a href="#">@ResourceManager.UIGetResource("BuildingLayoutFile_WebMediaTypeID")</a></div>
                                <div class="document-file">
                                    <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </a>
                                </div>
                            </li>

                                }
                                else if (file.WebMediaTypeID == ConfigManager.GetUIInstance().OtherFile_WebMediaTypeID)
                                {
                            <li>
                                <div class="document-name"><a href="#">@ResourceManager.UIGetResource("STFileFile_WebMediaTypeID")</a></div>
                                <div class="document-file">
                                    <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </a>
                                </div>
                            </li>
                                }
                            }
                    </ul>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                      

                            <div class="panel panel-inverse" >
                                <div class="panel-heading">
                                    <h4 class="panel-title">التعليقات <span class="label label-success pull-right"></span></h4>
                                </div>
                                <div class="panel-body bg-silver">
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 225px;">
                                        <div data-scrollbar="true" data-height="225px" data-init="true" style="overflow: hidden; width: auto; height: 225px;">
                                            <ul class="chats">
                                                @if (ViewBag.comments != null && ViewBag.comments.Length > 0)
                                                {
                                                    foreach (var item in (Order_CommentRecord[])ViewBag.comments)
                                                    {
                                                        <li class="right">
                                                            <span class="date-time">@item.CreationDateStr</span>
                                                            <a href="javascript:;" class="name"><span class="label label-primary">مدن</span></a>
                                                            <a href="javascript:;" class="image"><img alt="" src="assets/img/logo.png"></a>
                                                            <div class="message" dir="rtl">
                                                                @item.Comment
                                                            </div>
                                                        </li>
                                                    }
                                                }
                                                else
                                                {
                                                    <li>
                                                        <table class="table table-product table-striped">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="field"><center>@ResourceManager.UIGetResource("NodDataAvailable_Comments")</center></td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </li>
                                                }
                                            </ul>
                                        </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 133.224px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <form name="send_message_form" data-id="message-form">
                                        <div class="input-group">
                                            <input id="txtComment" class="form-control" placeholder="@ResourceManager.UIGetResource("CommentHere")" type="text" >
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary btn-sm" onclick="addComment(@ViewBag.orderID)" type="button">إضافة التعليق</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        
                    </div></div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-8">
                        <div class="pull-left">
                            @if (Model.StatusID == ConfigManager.GetUIInstance().Order_NewStatusID || Model.StatusID == ConfigManager.GetUIInstance().Order_PendingStatusID)
                        {
                            <a onclick="ChangeBuildingStatus('هل أنت متأكد من تعليق الطلب للتعديل؟','@Model.Name','@Model.ID','@ConfigManager.GetUIInstance().Order_PendingForEditStatusID')" class=" btn btn-lg btn-warning"> @ResourceManager.GetUIInstance().GetResource("Order_PendingForEdit") <i class=" fa fa-check-square-o  text-white"></i></a>

                            <a onclick="ChangeBuildingStatus('هل أنت متأكد من إعتماد المنشأة؟','@Model.Name','@Model.ID','@ConfigManager.GetUIInstance().Order_ApprovedStatusID')" class=" btn btn-lg btn-success"> @ResourceManager.GetUIInstance().GetResource("ApproveBuilding") <i class=" fa fa-check-square-o  text-white"></i></a>
                            <a onclick="ChangeBuildingStatus('هل أنت متأكد من رفض المنشأة؟','@Model.Name','@Model.ID','@ConfigManager.GetUIInstance().Order_RejectedStatusID')" class=" btn btn-lg btn-danger"> @ResourceManager.GetUIInstance().GetResource("RejectBuilding") <i class=" fa fa-ban  text-white"></i></a>
                            }
                        </div>
                    </div>
                    <!-- END col-6 -->
                    <!-- BEGIN col-6 -->
                    <div class="col-md-4">
                    </div>
                    <!-- END col-6 -->
                </div>
            </div>

                </div>
            </div>
            }
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@ConfigManager.GetUIInstance().GoogleMap_key"></script>
            <script src="~/assets/js/form-slider-switcher.demo.min.js"></script>
            <script>
                var pinIcon=@Html.Raw(Json.Encode(Url.Content("~/Content/Images/MapPinLiveRep.png")));

                function DrawMap() {
                    var geocoder = new google.maps.Geocoder();
                    var address =$('#ddlCity option:selected').text()+ ' المنطقة الصناعية ';
                    var latv=0;
                    var lngv=0
                    geocoder.geocode( { 'address': address}, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK)
                        {
                            latv=results[0].geometry.location.lat();
                            lngv=results[0].geometry.location.lng();
                            var myLatLng = { lat: latv, lng: lngv };

                            var mapDiv = document.getElementById('map');
                            var map = $(mapDiv).map;

                            map = new google.maps.Map(mapDiv, {
                                center: myLatLng
                            });

                            map.setZoom(10);
                            var marker = new google.maps.Marker({
                                position:  { lat: latv, lng: lngv },
                                map: map,
                                title: 'الموقع',
                            });            }

                    });




                };

                $(document).ready(function () {
                    DrawMap();
                    FormSliderSwitcher.init();

                });
            </script>
<script>
    function ChangeBuildingStatus(headmsg,msg,bID, sID) {
        swal({
            title: headmsg,
            text: msg,
            type: "success",
            showCancelButton: true,
            inputPlaceholder: "Write something",
            confirmButtonClass: 'btn-success',
        }, function (isConfirm) {
            if (isConfirm) {
                SBSAjax({
                    url: '@Url.Action("ChangeBuildingStatus", "Building")',
                    data: {
                        statusID: parseInt(sID),
                        buildingID: parseInt(bID),
                    },
                    success: function (response) {

                        Notify(response, response);
                        window.location.href = ResolveUrl('~/Building/EListBuilding/')
                    },
                    error: function (response) {
                        Notify(response, response);

                    }
                });
            }
        }
           );
    };

</script>
<script>
    function  changeActivity(acID)
    {
        SBSAjax({
            url: '@Url.Action("ChangeActivityAllowence", "Building")',
            data: {
                activityID: parseInt(acID)
            },
            success: function (response) {
            },
            error: function (response) {

            }
        });
    }
    function  addComment(orderID)
    {
        var comm=$('#txtComment').val();
        if(comm !='')
        {        
            SBSAjax({
                method:'Post',
            url: '@Url.Action("AddOrder_Comment", "Order_Comment")',
            data: {
                orderID: parseInt(orderID),
                comment:comm
            },
            success: function (response) {
                location.reload();
            },
            error: function (response) {

            }
        });
        }
        else{
            Notify('أضف تعليق أولا', 'أضف تعليق أولا');

        }

    }
</script>