﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record;
@using CaptchaMvc.HtmlHelpers;
@using PMApp.Core.Helpers;

@model BuildingRecord
@{
    ViewBag.Title = ResourceManager.UIGetResource("EditBuilding");
}
<style>
    .well {
        background-color: #ffffff;
    }
</style>


<div class="search-toolbar">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-6 -->
        <div class="col-md-6">
        </div>
        <!-- END col-6 -->
        <!-- BEGIN col-6 -->
        <div class="col-md-6 text-right f-s-20">
            @ViewBag.Title
            <i class="fa fa-circle text-success"></i>
        </div>
        <!-- END col-6 -->
    </div>
    <!-- END row -->
</div>

@using (Html.BeginForm("EditBuilding", "Building", FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "true", name = "form-wizard", id = "form-wizard" }))
{

    <input hidden value="@ConfigManager.GetUIInstance().Order_PendingStatusID" name="StatusID" />

    <div class="panel panel-default ">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row m-b-15">
                        <div class="col-md-12">
                            <label class="control-label pull-right">@ResourceManager.UIGetResource("BuildingName") <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control ", @data_parsley_group = "wizard-step-1", @required = "required" })
                            @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "validation-message" })*@

                        </div>
                    </div>
                    <div class="row m-b-15">
                        <div class="col-md-6 ">
                            <label class="control-label pull-right">@ResourceManager.UIGetResource("Phone") <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control ", @data_parsley_group = "wizard-step-1", @required = "required", @pattern = @"^\d{9,18}$" })
                            @*@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "validation-message" })*@

                        </div>

                        <div class="col-md-6 ">
                            <label class="control-label pull-right">@ResourceManager.UIGetResource("Email") <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @data_parsley_group = "wizard-step-1", @required = "required", @type = "email" })
                            @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-message" })*@

                        </div>
                    </div>
                    <div class="row m-b-15">

                        <div class="col-md-6 ">
                            <label class="control-label pull-right">@ResourceManager.UIGetResource("AreaSpace") <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(model => model.AreaSpace, new { @class = "form-control", @type = "number", @data_parsley_group = "wizard-step-1", @required = "required", @min = "100" })
                            @*@Html.ValidationMessageFor(model => model.AreaSpace, "", new { @class = "validation-message" })*@
                        </div>
                        <div class="col-md-6">
                            <label class="control-label pull-right">@ResourceManager.UIGetResource("ActivityTypeID")<span class="text-danger">*</span></label>
                            @Html.DropDownListFor(model => model.ActivityTypeID, new SelectList((ActivityTypeRecord[])@ViewBag.activityType, "ID", "Name"), new { @class = "form-control default-select2", @id = "ddlActivity", @onchange = "loadSubActivity(0);" })
                            @*@Html.ValidationMessageFor(model => model.ActivityTypeID, "", new { @class = "validation-message" })*@
                        </div>
                    </div>


                    <label class="control-label pull-right">@ResourceManager.UIGetResource("PrevActivity")<span class="text-danger">*</span></label>

                    <div class="row m-b-15">

                        <div class="col-md-12 ">
                            <table id="user" class="table table-bordered table-striped" dir="rtl">

                                <tbody>
                                    <tr>
                                        <td><span class="f-s-14" placeholder="المنتج  الخدمة">يوجد نشاط سابق داخل المدينة الصناعية</span></td>
                                        <td width="10%">    <input name="ISActivityBefore" type="checkbox" data-render="switchery" data-theme="default" data-switchery="true" style="display: none;"></td>
                                    </tr>
                                    <tr>
                                        <td><span class="f-s-14" placeholder="المنتج  الخدمة">يوجد نشاط سابق خارج المدينة الصناعية</span></td>
                                        <td width="10%">    <input name="ISActivityAfter" type="checkbox" data-render="switchery" data-theme="default" data-switchery="true" style="display: none;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row m-b-15">
                        <div class="col-md-4 ">
                            <label class="control-label pull-right">@ResourceManager.UIGetResource("OtherAreaName") <span class="text-danger">*</span></label>
                            <div id="dvother" hidden> <input name="OtherAreaName" class="form-control" value="" id="txtother" width="80%" /> <i class="fa fa-remove text-danger" onclick="showAreas()">إلغاء</i></div>

                            <select class=" form-control" id="ddlArea" onchange="ddlOthers(this)" name="AreaID"></select>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label pull-right">@ResourceManager.UIGetResource("OtherCityID") <span class="text-danger">*</span></label>

                            <select class=" form-control" name="OtherCityID" id="ddlDistrict" onchange="loadAreas();"></select>
                        </div>
                        <div class="col-md-4 ">
                            <label class="control-label pull-right">@ResourceManager.UIGetResource("City") <span class="text-danger">*</span></label>
                            <select class=" form-control" id="ddlCity" onchange="loadDistricts();">
                                @foreach (var item in ViewBag.areas)
                                {
                                <option value="@item.ID">@item.Name</option>
                                }
                            </select>


                        </div>

                    </div>

                    <div class="row m-b-15">
                        <div class="col-md-6 ">
                            <label class="control-label pull-right">@ResourceManager.UIGetResource("StreetAdress") <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(model => model.StreetAdress, new { @class = "form-control ", @data_parsley_group = "wizard-step-2", @required = "required" })
                            @*@Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "validation-message" })*@
                            @*<input type="text" class="form-control " placeholder="إسم مالك العقار " required />*@

                        </div>
                        <div class="col-md-6 ">
                            <label class="control-label pull-right">@ResourceManager.UIGetResource("OwnerName") <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control ", @data_parsley_group = "wizard-step-2", @required = "required" })
                            @*@Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "validation-message" })*@
                            @*<input type="text" class="form-control " placeholder="إسم مالك العقار " required />*@

                        </div>

                    </div>
                    <div class="row m-b-15">
                        <div class="col-md-8 col-md-offset-2 ">
                            <center>
                                <div id="map" style="height: 300px;"></div>
                            </center>
                        </div>
                    </div>

                </div>
            </div>

            <table class="table table-product table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-right">@ResourceManager.UIGetResource("ActivitySubTypeName")</th>
                        <th class="text-right">@ResourceManager.UIGetResource("Allowed/Not")</th>
                        <th class="text-right">@ResourceManager.UIGetResource("Remove")</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model.BuildingActivities.Count() > 0)
                    {
                        foreach (var item in Model.BuildingActivities)
                        {
                            <tr>
                                <td class="field">@item.ActivitySubTypeName</td>

                                <td>
                                    <input name="IsAllowed" checked="@(item.IsAllowed?"checked":"")" disabled type="checkbox" data-render="switchery" data-theme="default" data-switchery="true" style="display: none;">
                                </td>
                                <td></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="field"><center>@ResourceManager.UIGetResource("NodDataAvailable_ActivitSubType")</center></td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    @if (Model.WebMediaFiles != null)
                    {
                        <ul class="attached-document clearfix">
                            @foreach (var file in Model.WebMediaFiles)
                            {
                                if (file.WebMediaTypeID == ConfigManager.GetUIInstance().STFileFile_WebMediaTypeID)
                                {
                                    <li>
                                        <div class="document-name"><a href="#">@ResourceManager.UIGetResource("STFileFile_WebMediaTypeID")</a></div>
                                        <div class="document-file">
                                            <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                                <i class="fa fa-file-pdf-o"></i>
                                            </a>
                                        </div>
                                    </li>
                                }
                                else if (file.WebMediaTypeID == ConfigManager.GetUIInstance().OwnerIDFile_WebMediaTypeID)
                                {
                                    <li>
                                        <div class="document-name"><a href="#">@ResourceManager.UIGetResource("OwnerIDFile_WebMediaTypeID")</a></div>
                                        <div class="document-file">
                                            <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                                <i class="fa fa-file-pdf-o"></i>
                                            </a>
                                        </div>
                                    </li>

                                }
                                else if (file.WebMediaTypeID == ConfigManager.GetUIInstance().BuildingLayoutFile_WebMediaTypeID)
                                {
                                    <li>
                                        <div class="document-name"><a href="#">@ResourceManager.UIGetResource("BuildingLayoutFile_WebMediaTypeID")</a></div>
                                        <div class="document-file">
                                            <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                                <i class="fa fa-file-pdf-o"></i>
                                            </a>
                                        </div>
                                    </li>

                                }
                                else if (file.WebMediaTypeID == ConfigManager.GetUIInstance().OtherFile_WebMediaTypeID)
                                {
                                    <li>
                                        <div class="document-name"><a href="#">@ResourceManager.UIGetResource("STFileFile_WebMediaTypeID")</a></div>
                                        <div class="document-file">
                                            <a target="_blank" href="@UIHelper.ResolveServerUrl(file.Url)">
                                                <i class="fa fa-file-pdf-o"></i>
                                            </a>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group  ">
                        <label class="pull-right m-b-15">إرفاق صورة السجل التجارى  </label>
                        <br />
                        <div class="file-upload">
                            <div class="image-upload-wrap image-upload-wrap0">
                                <input name="STFile" class="file-upload-input" type='file' data-parsley-group="wizard-step-4" required="required" onchange="readURL(this);" />
                                <div class="drag-text text-center">
                                    <div class="alert alert-warning fade in m-b-15">
                                        <span class=" f-s-20">
                                            <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="file-upload-content  file-upload-content0">
                                <div class="image-title-wrap">
                                    <div class="alert alert-success fade in m-b-15">
                                        <span class="image-title image-title0 f-s-20">الملف </span>
                                        <span style="color:red" class="close text-danger" onclick="removeUpload()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <label class="pull-right m-b-15">إرفاق صورة هوية المالك  </label>
                        <br />
                        <div class="file-upload">
                            <div class=" image-upload-wrap image-upload-wrap1">
                                <input name="OwnerIDFile" class="file-upload-input" type='file' onchange="readURL1(this);" data-parsley-group="wizard-step-4" required="required" />
                                <div class="drag-text text-center">
                                    <div class="alert alert-warning fade in m-b-15">
                                        <span class=" f-s-20">
                                            <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="file-upload-content file-upload-content1">
                                <div class="image-title-wrap">
                                    <div class="alert alert-success fade in m-b-15">
                                        <span class="image-title image-title1 f-s-20">الملف </span>
                                        <span style="color:red" class="close text-danger" onclick="removeUpload1()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <label class="pull-right m-b-15">إرفاق صورة مخطط هندسي معتمد للمنشأة  </label>
                        <br />
                        <div class="file-upload">
                            <div class="image-upload-wrap image-upload-wrap2">
                                <input name="BuildingLayoutFile" class="file-upload-input" type='file' onchange="readURL2(this);" data-parsley-group="wizard-step-4" required="required" />
                                <div class="drag-text text-center">
                                    <div class="alert alert-warning fade in m-b-15">
                                        <span class=" f-s-20">
                                            <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="file-upload-content file-upload-content2">
                                <div class="image-title-wrap">
                                    <div class="alert alert-success fade in m-b-15">
                                        <span class="image-title image-title2 f-s-20">الملف </span>
                                        <span style="color:red" class="close text-danger" onclick="removeUpload2()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <label class="pull-right m-b-15">مرفقات أخرى  </label>
                        <br />
                        <div class="file-upload">
                            <div class="image-upload-wrap image-upload-wrap3">
                                <input multiple name="OtherFile" class="file-upload-input" type='file' onchange="readURL3(this);" data-parsley-group="wizard-step-4" required="required" />
                                <div class="drag-text text-center">
                                    <div class="alert alert-warning fade in m-b-15">
                                        <span class=" f-s-20">
                                            <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class=" file-upload-content3 file-upload-content">
                                <div class="image-title-wrap">
                                    <div class="alert alert-success fade in m-b-15">
                                        <span class="image-title image-title3 f-s-20">الملف </span>
                                        <span style="color:red" class="close text-danger" onclick="removeUpload3()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-b-0 text-center">
                <center>@Html.Captcha("Refresh", ResourceManager.GetUIInstance().GetResource("EnterTheTextYouSeeAbove:"), 5, ResourceManager.GetUIInstance().GetResource("IsRequiredField"), true)</center>
                <p class="Error">  @ViewBag.ErrMessage </p>
                <p>سيتم مراجعة الطلب قريبا ،، علما بأن الموافقة أو الرفض تتم طبقا لإحتياج المدينة الصناعية للنشاط كما أن الموافقة على هذا الطلب لا تعتبر موافقة نهائية </p>
                <hr />
                <button type="submit" class="btn btn-success btn-block  btn-lg pull-left">إرسال لطلب الموافقة</button>
                <hr />
                <br />
                <br />
            </div>
            
            </div></div>
            }
            <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@ConfigManager.GetUIInstance().GoogleMap_key"></script>
            <script src="~/assets/js/form-slider-switcher.demo.min.js"></script>

            <script>
                $(document).ready(function () {
                    FormSliderSwitcher.init();
                    loadDistricts();
                    loadSubActivity(0);

                });

                function loadDistricts() {
                    var areaID = $('#ddlCity option:selected').val();

                    if (areaID != "0") {
                        SBSAjax({
                            url: ResolveUrl("~/User/FillDistrict"),
                            type: "Post",
                            data: {
                                parentID: areaID
                            },
                            success: function (response) {
                                $('#ddlDistrict').empty();
                                var distID = 0;
                                for (var i = 0; i < response.length; i++) {
                                    var selected = (i == 0) ? 'selected' : '';
                                    $('#ddlDistrict').append('<option ' + selected + ' value="' + response[i].ID + '">' + response[i].Name + '</option>')
                                }
                                distID=$('#ddlDistrict option:selected').val();
                                loadAreas();
                            }
                        });
                    }

                }
                function loadAreas() {
                    var areaID = $('#ddlDistrict option:selected').val();

                    if (areaID != "0") {
                        SBSAjax({
                            url: ResolveUrl("~/User/FillDistrict"),
                            type: "Post",
                            data: {
                                parentID: areaID
                            },
                            success: function (response) {
                                $('#ddlArea').empty();

                                for (var i = 0; i < response.length; i++) {
                                    var selected = (i == 0) ? 'selected' : '';
                                    $('#ddlArea').append('<option ' + selected + ' value="' + response[i].ID + '">' + response[i].Name + '</option>')
                                }
                                $('#ddlArea').append('<option  value="-1">أخرى</option>')

                            }
                        });
                    }
                    DrawMap();

                }
                function loadSubActivity(index) {
                    var activityID = $('#ddlActivity option:selected').val();

                    if (activityID != "0") {
                        SBSAjax({
                            url: ResolveUrl("~/Building/FillSubActivity"),
                            type: "Post",
                            data: {
                                parentID: activityID
                            },
                            success: function (response) {
                                $('#ddlsubActivity_' + index).empty();
                                for (var i = 0; i < response.length; i++) {
                                    var selected = (i == 0) ? 'selected' : '';
                                    $('#ddlsubActivity_' + index).append('<option ' + selected + ' value="' + response[i].ID + '">' + response[i].Name + '</option>')
                                }
                                $('#ddlsubActivity_'+ index).append('<option  value="-1">أخرى</option>')

                            }
                        });
                    }
                }
                function ddlOthers(e)
                {
                    if($(e).val()=="-1")
                    {
                        $(e).hide();
                        $('#dvother').show();
                    }
                }
                function showAreas()
                {
                    $('#ddlArea').show();
                    $('#dvother').hide();
                }

                function ddlaOthers(e,index)
                {
                    if($(e).val()=="-1")
                    {
                        $(e).hide();
                        $('#dvaother_'+index).show();
                    }
                }
                function showActivities(index)
                {
                    $('#ddlsubActivity_'+index).show();
                    $('#dvaother_'+index).hide();
                }

                function readURL(input) {
                    if (input.files && input.files[0]) {

                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('.image-upload-wrap0').hide();
                            $('.image-title0').html(input.files[0].name);
                            $('.file-upload-content0').show();
                        };

                        reader.readAsDataURL(input.files[0]);

                    } else {
                        removeUpload();
                    }
                }
                function readURL1(input) {
                    if (input.files && input.files[0]) {

                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('.image-upload-wrap1').hide();
                            $('.image-title1').html(input.files[0].name);
                            $('.file-upload-content1').show();
                        };

                        reader.readAsDataURL(input.files[0]);

                    } else {
                        removeUpload();
                    }
                }
                function readURL2(input) {
                    if (input.files && input.files[0]) {

                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('.image-upload-wrap2').hide();
                            $('.image-title2').html(input.files[0].name);
                            $('.file-upload-content2').show();
                        };

                        reader.readAsDataURL(input.files[0]);

                    } else {
                        removeUpload();
                    }
                }
                function readURL3(input) {
                    if (input.files && input.files[0]) {

                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('.image-upload-wrap3').hide();
                            $('.image-title3').html(input.files[0].name);
                            $('.file-upload-content3').show();
                        };

                        reader.readAsDataURL(input.files[0]);

                    } else {
                        removeUpload();
                    }
                }
                function removeUpload() {
                    $('.file-upload-input0').replaceWith($('.file-upload-input0').clone());
                    $('.file-upload-content0').hide();
                    $('.image-upload-wrap0').show();
                }
                function removeUpload1() {
                    $('.file-upload-input1').replaceWith($('.file-upload-input0').clone());
                    $('.file-upload-content1').hide();
                    $('.image-upload-wrap1').show();
                }
                function removeUpload2() {
                    $('.file-upload-input2').replaceWith($('.file-upload-input2').clone());
                    $('.file-upload-content2').hide();
                    $('.image-upload-wrap2').show();
                }

                function removeUpload3() {
                    $('.file-upload-input3').replaceWith($('.file-upload-input3').clone());
                    $('.file-upload-content3').hide();
                    $('.image-upload-wrap3').show();
                }

                $('.image-upload-wrap').bind('dragover', function () {
                    $('.image-upload-wrap').addClass('image-dropping');
                });
                $('.image-upload-wrap').bind('dragleave', function () {
                    $('.image-upload-wrap').removeClass('image-dropping');
                });


            </script>
            <script>
                var product = 0;
                function AddProduct() {
                    var productsCount = document.getElementById('tableuser').getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
                    SBSAjax({
                        url: ResolveUrl("~/Building/AddBuildingActivity"),
                        data: {pIndex: productsCount },
                        success: function (res) {
                            var table = document.getElementById('tableuser').getElementsByTagName('tbody')[0];
                            var row = table.insertRow(table.rows.length);
                            row.innerHTML = res
                            //table.appendChild(res);
                            //$("#div-added-products").append("<div style='border:dashed 1px green;text-align:center;' class=product" + productsCount + " ><span onclick='removeProduct(this)' class='pull-right' style='cursor:pointer; color:red; padding-right: 10px;'>x</span>" + res + "</div>");
                            product++;
                        }
                    });
                    loadSubActivity(productsCount);
                }

                function removeProduct(ctr) {
                    $(ctr).parent().parent().remove();
                }

            </script>
            <style>
                .pager .previous > a {
                    float: right;
                }

                .pager .next > a {
                    float: left;
                }

                .pager li > a, .pager li > span, .pagination > li > a {
                    border-color: #006662;
                    color: #006662;
                }
            </style>
            <script>
                var pinIcon=@Html.Raw(Json.Encode(Url.Content("~/Content/Images/MapPinLiveRep.png")));


                function DrawMap() {
                    var geocoder = new google.maps.Geocoder();
                    var address =$('#ddlCity option:selected').text()+ ' المنطقة الصناعية ';
                    var latv=0;
                    var lngv=0
                    geocoder.geocode( { 'address': address}, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK)
                        {
                            latv=results[0].geometry.location.lat();
                            lngv=results[0].geometry.location.lng();
                            var myLatLng = { lat: latv, lng: lngv };

                            var mapDiv = document.getElementById('map');
                            var map = $(mapDiv).map;

                            map = new google.maps.Map(mapDiv, {
                                center: myLatLng
                            });

                            map.setZoom(10);
                            var marker = new google.maps.Marker({
                                position:  { lat: latv, lng: lngv },
                                map: map,
                                title: 'الموقع',
                            });            }

                    });




                };

                $(document).ready(function () {
                    DrawMap();
                });
            </script>

