﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@model BuildingRecord[]

@{
    ViewBag.Title = ResourceManager.UIGetResource("ListBuilding");

}
@{ Layout = "~/Views/Shared/_ELayout.cshtml";}

<div class="search-toolbar">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-6 -->
        <div class="col-md-6">
        </div>
        <!-- END col-6 -->
        <!-- BEGIN col-6 -->
        <div class="col-md-6 text-right f-s-20">
            <i class="fa fa-circle text-success"></i>
            @ViewBag.Title
        </div>
        <!-- END col-6 -->
    </div>
    <!-- END row -->
</div>
<div class="panel panel-default ">

    <div class="panel-body">
        <div class="row">

            <table class="table table-striped table-bordered dataTable no-footer data-table" role="grid" aria-describedby="datatable_info" dir="rtl">
                <thead>
                    <tr>
                        <th class="text-right">@ResourceManager.UIGetResource("BuildingName")</th>
                        <th class="text-right">@ResourceManager.UIGetResource("ActivityTypeName")</th>
                        <th class="text-right">@ResourceManager.UIGetResource("AreaName")</th>
                        <th class="text-right">@ResourceManager.UIGetResource("CreatedByFullName")</th>
                        <th class="text-right">@ResourceManager.UIGetResource("Phone")</th>
                        <th class="text-right">@ResourceManager.UIGetResource("StatusName")</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Name</td>
                                <td class="text-primary">@item.ActivityTypeName</td>
                                <td class="text-right">@item.AreaName</td>
                                <td class="text-right">@item.CreatedByFullName</td>
                                <td class="text-right">@item.Phone</td>
                                <td><span class=" badge badge-warning">@ResourceManager.GetUIInstance().GetResource(item.StatusName)  </span></td>
                                <td><a href="@Url.Action("EBuildingDetails", "Building", new { buildingID = item.ID, orderID = 0 })" class=" btn btn-sm btn-success"> @ResourceManager.GetUIInstance().GetResource("BuildingDetails") <i class=" fa fa-refresh  text-white"></i></a>   </td>
                            </tr>
                            }
                </tbody>
            </table>

        </div>
    </div>
</div>


