﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@model BuildingRecord[]
@{
    ViewBag.Title = ResourceManager.UIGetResource("ListBuilding");
}

    <div class="search-toolbar">
        <!-- BEGIN row -->
        <div class="row">
            <!-- BEGIN col-6 -->
            <div class="col-md-6">
            </div>
            <!-- END col-6 -->
            <!-- BEGIN col-6 -->
            <div class="col-md-6 text-right f-s-20">
                <i class="fa fa-circle text-success"></i>
        @ViewBag.Title
            </div>
            <!-- END col-6 -->
        </div>
        <!-- END row -->
    </div>
    <div class="row">
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <div class="product ">
                    <!-- BEGIN product-detail -->
                    <div class="product-detail">
                        <!-- BEGIN product-image -->
                        <!-- END product-image -->
                        <!-- BEGIN product-info -->
                        <div class="product-info">
                            <!-- BEGIN product-info-header -->
                            <div class="product-info-header">
                                <h1 class="product-title text-right " style="font-size:24px">
                                    @if (item.StatusID == ConfigManager.GetUIInstance().Order_ApprovedStatusID)
                                    {
                                        <span class="label label-l label-success "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_ApprovedStatusID_Slogan") </span>
                                    }
                                    else if (item.StatusID == ConfigManager.GetUIInstance().Order_NewStatusID)
                                    {
                                        <span class="label label-warning "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_NewStatusID_Slogan") </span>
                                    }
                                    else if (item.StatusID == ConfigManager.GetUIInstance().Order_PendingForEditStatusID)
                                    {
                                        <span class="label label-info "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_PendingForEditStatusID") </span>
                                    }
                                    else if (item.StatusID == ConfigManager.GetUIInstance().Order_PendingForManagerStatusID)
                                    {
                                        <span class="label label-info "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_PendingForManagerStatusID") </span>
                                    }
                                    else if (item.StatusID == ConfigManager.GetUIInstance().Order_RejectedStatusID)
                                    {
                                        <span class="label label-danger "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_RejectedStatusID_Slogan") </span>
                                    }
                                    @item.Name
                                </h1>

                            </div>
                            <div class="row">
                                <div class="checkout-body ">
                                    <!-- BEGIN checkout-message -->
                                    <div class="checkout-message">
                                        <div class="table-responsive2">
                                            <div class="col-md-6">
                                                <table class="table ">
                                                    <tbody>
                                                        <tr>
                                                            <td width="30%" class="field text-success f-w-700">@ResourceManager.UIGetResource("Email")</td>
                                                            <td class="value "> @item.Email</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("Phone")</td>
                                                            <td class="value">@item.Phone</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("OwnerName")</td>
                                                            <td class="value"> @item.OwnerName</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("OwnerCID")</td>
                                                            <td class="value">
                                                                @item.OwnerCID
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-6">
                                                <table class="table ">
                                                    <tbody>
                                                        <tr>
                                                            <td width="30%" class="field text-success f-w-700">@ResourceManager.UIGetResource("ActivityTypeName")</td>
                                                            <td class="value "> @item.ActivityTypeName</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("AreaName")</td>
                                                            <td class="value">@item.AreaName</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("StreetAdress")</td>
                                                            <td class="value"> @item.StreetAdress</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="field text-success f-w-700">@ResourceManager.UIGetResource("AreaSpace")</td>
                                                            <td class="value">
                                                                @item.AreaSpace
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <hr />
                            <div class="row">
                                <a href="@Url.Action("BuildingDetails", "Building", new { buildingID = item.ID })" class="m-l-15 pull-left"><i class="fa fa-info-circle fa-fw"></i> @ResourceManager.GetUIInstance().GetResource("BuildingDetails")</a>
                                @if (item.StatusID == ConfigManager.GetUIInstance().Order_ApprovedStatusID)
                                {
                                    <a href="@Url.Action("BuildingLicence", "ModonOrder", new { buildingID = item.ID })"><i class="fa fa-plus-circle fa-fw"></i>  طلب إصدار رخصة نهائية</a>
                                }
                            </div>
                        </div>

                    </div>

                </div>

            }
        }
        else
        {
            <ul class="timeline " id="dvwallet" dir="rtl">
                    <li>

                        <!-- begin timeline-time -->
                        <div class="timeline-time">
                            <span class="date text-muted">-</span>
                        </div>
                        <!-- end timeline-time -->
                        <!-- begin timeline-icon -->
                        <div class="timeline-icon ">
                            <a class="bg-white"><i class="fa fa-plus-square fa-fw text-danger"></i></a>

                        </div>
                        <!-- end timeline-icon -->
                        <!-- begin timeline-body -->
                        <div class="timeline-body ">
                            <div class="timeline-header">
                                <span>
                                    <b> لا يوجدة منشآت تم إضافتها حتى الان </b> 
                                </span>
                            </div>
                            <div class="timeline-content">
                                                             <div class="col-md-12">
                               <a class="pull-left" href="@Url.Action("AddBuilding","Building")"><i class="fa fa-plus-circle fa-fw"></i>  إضافة منشأة جديدة</a>

                                </div>


                            </div>
                           
                        </div>
                        <!-- end timeline-body -->
                    </li>
            </ul>
        }

    </div>
