﻿ @using PMApp.Modon.DAL6;
        <div class="about-us-content">
            <h2 class="title text-center">@ResourceManager.UIGetResource("MService")</h2>
            <p class="desc text-center">
             @ResourceManager.UIGetResource("MService_Desc")
            </p>

            <!-- BEGIN row -->
            <div class="row">
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon text-warning"><i class="fa fa-exchange"></i></div>
                        <div class="info">
                            <h4 class="title">@ResourceManager.UIGetResource("ChangerOwnerShip")</h4>
                            <a class="btn btn-success">@ResourceManager.UIGetResource("RequestOrder") <i class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon text-primary"><i class="fa fa-paste"></i></div>
                        <div class="info">
                            <h4 class="title">@ResourceManager.UIGetResource("RenewLicence")</h4>
                            <a class="btn btn-success">@ResourceManager.UIGetResource("RequestOrder") <i class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon text-info"><i class="fa fa-shield"></i></div>
                        <div class="info">
                            <h4 class="title">@ResourceManager.UIGetResource("ChangeBrandName")</h4>
                            <a class="btn btn-success">@ResourceManager.UIGetResource("RequestOrder") <i class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
            </div>
            <!-- END row -->
            <hr>
            <!-- BEGIN row -->
            <div class="row">
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon text-danger"><i class="fa fa-building"></i></div>
                        <div class="info">
                            <h4 class="title">@ResourceManager.UIGetResource("EditActivity")</h4>
                            <a class="btn btn-success">@ResourceManager.UIGetResource("RequestOrder") <i class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon text-inverse"><i class="fa fa-tasks"></i></div>
                        <div class="info">
                            <h4 class="title">@ResourceManager.UIGetResource("ChangeSubActivity")</h4>
                            <a class="btn btn-success">@ResourceManager.UIGetResource("RequestOrder") <i class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
                <!-- begin col-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="service">
                        <div class="icon text-success"><i class="fa fa-hospital-o"></i></div>
                        <div class="info">
                            <h4 class="title">@ResourceManager.UIGetResource("RequestHealth")</h4>
                            <a class="btn btn-success">@ResourceManager.UIGetResource("RequestOrder") <i class="fa fa-plus-square-o"></i></a>
                        </div>
                    </div>
                </div>
                <!-- end col-4 -->
            </div>
            <!-- END row -->
        </div>
