﻿@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Modon.DAL6;
@using PMApp.Core.Helpers;
@using Modon.Portal.Helpers;
@model PMApp.Core.CommonDefinitions.Error
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <script>
        window.__CurrentApplication = '@ApplicationManager.GetApplicationFromRouteData()';
        window.__DateFormat = '@DateTimeHelper.dateFormatedd_MM_yyyy.ToLower()';
        __rankSecondTabDays = '@ConfigManager.GetUIInstance().rankSecondTabDays';
        __rankThirdTabDays = '@ConfigManager.GetUIInstance().rankThirdTabDays';
    </script>
    <title></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.min.css" rel="stylesheet" />
    <link href="~/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <link href="~/Content/font-awesome-animation.min.css" rel="stylesheet" />

    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    @*<script src="~/assets/plugins/pace/pace.min.js"></script>*@
    <!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-grey-800">


    <div class="error">
@if (User.Identity.IsAuthenticated)
                                {
        <div class="error-code m-b-10 text-yellow"><i class="material-icons">warning</i> Sorry</div>
                                }
else
{
    <div class="error-code m-b-10 text-yellow">Sorry, <i class="material-icons">@AuthHelper.GetClaimValue("UserName") </i></div>

}

        <div class="error-content bg-grey-700">
            @if (Model != null)
            {
            <div class="error-message faa-horizontal faa-slow animated">
                <b class="text-white">Reason : </b> <b class="text-yellow"> @Model.Message</b>
            </div>  
            }
            <div class="error-desc m-b-20">
                The page you're looking for doesn't exist. <br />
                Perhaps, there pages will help find what you're looking for.
            </div>
            <div>
                <a href="@Url.Action("Login","User")" class="btn btn-inverse text-yellow"><i class="material-icons pull-left f-s-18 m-t-1 m-r-5">arrow_back</i> Back to Home Page</a>
            </div>
        </div>
    </div>

    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="~/assets/crossbrowserjs/respond.min.js"></script>
        <script src="~/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
</body>
</html>
