﻿@using LiveRep.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@model DashboardRecord

<div>
    <style>
        .morris-hover {
            position: absolute;
            z-index: 1000;
        }

            .morris-hover.morris-default-style {
                border-radius: 10px;
                padding: 6px;
                color: #fff;
                background: #000000;
                border: solid 2px rgba(230,230,230,0.8);
                font-family: sans-serif;
                font-size: 12px;
                text-align: center;
            }

                .morris-hover.morris-default-style .morris-hover-row-label {
                    font-weight: bold;
                    margin: 0.25em 0;
                }

        .mbox {
            display: inline-block;
            width: 10px;
            height: 20px;
            margin: 10px 55px 10px 25px;
            padding-left: 25px;
        }

        .row {
            margin-left: 0px !important;
            margin-right: 0px !important;
            padding-left: 10px !important;
            padding-top: 10px !important;
        }
    </style>
    <div class="title_left">
        <h3 style="margin: 0px; padding: 10px;">@ResourceManager.UIGetResource("Dashboard")</h3>
    </div>
    <input hidden id="inpt-user-id" value="@ViewBag.userID" />
    @if (ViewBag.userID == PMApp.Core.Helpers.SecurityHelper.GetUserIDFromAuthenticationToken(User.Identity.Name))
    {
    }
    else
    {
        <div>
            <h1>@ViewBag.UserName</h1>
        </div>
    }

    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-p-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-caret-square-o-right blue"></i></div>
                <div class="count ">@Model.LeavesDays</div>
                <h3>@ResourceManager.UIGetResource("LeaveDays")</h3>

            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-p-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon "><i class="fa fa-comments-o blue"></i></div>
                <div class="count">@Model.PhysiciansCount</div>
                <h3>@ResourceManager.UIGetResource("PhysiciansNumber")</h3>
            </div>
        </div>

        <div class="animated flipInY col-lg-3 col-p-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-check-square-o blue"></i></div>
                <div class="count">@Model.ApprovedVisits</div>
                <h3>@ResourceManager.UIGetResource("ApprovedVisits")</h3>

            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-p-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-sort-amount-desc blue"></i></div>
                <div class="count">@ViewBag.Coverage</div>
                <h3>@ResourceManager.UIGetResource("Coverage")</h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-p-8 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> @ResourceManager.UIGetResource("MonthlyVisitStatistics")<small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-9 col-p-9 col-sm-12 col-xs-12">
                        <div class="demo-container">
                            <div id="area-example" style="height: 300px;width:100%;"></div>
                            <center> <div id="legend1"></div></center>
                        </div>
                    </div>

                    <div class="col-md-3  col-p-3 col-sm-12 col-xs-12">
                        <div>
                            <div class="x_title">
                                <h2>@ResourceManager.UIGetResource("LatestNews")</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view">

                                @Html.Action("ListNewsFeedPartial", "NewsFeed", new { pageSize = 5, showPartial = false })

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="x_title">
                    <h2>@ResourceManager.UIGetResource("MonthlyVisitsStatus")</h2>

                </div>
                <div class="x_content">
                    <div id="graph_bar" style="width:100%; height:300px;"></div>

                    <center> <div id="legend"></div></center>
                </div>

            </div>
        </div>
        <div class="col-md-4  col-p-4 col-sm-12 col-xs-12 widget_tally_box">
            <div class="x_panel">
                <div class="dashboard-widget-content">
                    <div class="sidebar-widget">
                        <h4>@ResourceManager.UIGetResource("PMCoverage")</h4>
                        <canvas width="150" height="80" id="foo2" class="" style="width: 150px; height: 100px;"></canvas>
                        <div class="goal-wrapper">
                            <span id="gauge-text2" class="gauge-value  pull-left"><b>@ViewBag.PMCoverage</b></span>
                            <span id="goal-text2" class="goal-value pull-right"><b>@ViewBag.PMCurrenCycleVisits</b></span>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <h4>@ResourceManager.UIGetResource("AMCoverage")</h4>
                        <canvas width="150" height="80" id="foo" class="" style="width: 150px; height: 100px;"></canvas>
                        <div class="goal-wrapper">
                            <span id="gauge-text" class="gauge-value  pull-left"><b>@ViewBag.AMCoverage</b></span>
                            <span id="goal-text" class="goal-value pull-right"><b>@ViewBag.AMCurrenCycleVisits</b></span>
                        </div>
                    </div>
                </div>
                <div class="x_content">

                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Plan Reminder <small>Curren Week</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @for (int i = 0; i < ViewBag.Plan.Count; i++)
                            {
                                <article class="media event">
                                    @if (int.Parse(@ViewBag.Plan[i][1]) > DateTime.Now.Day)
                                    {
                                        <a class="pull-left  date">
                                            <p class="month">@ViewBag.Plan[i][0].Substring(0, 4)</p>
                                            <p class="day">@ViewBag.Plan[i][1]</p>
                                        </a>
                                    }
                                    @if (int.Parse(@ViewBag.Plan[i][1]) < DateTime.Now.Day)
                                    {
                                        <a class="pull-left  dateRed">
                                            <p class="month">@ViewBag.Plan[i][0].Substring(0, 4)</p>
                                            <p class="day">@ViewBag.Plan[i][1]</p>
                                        </a>
                                    }
                                    @if (int.Parse(@ViewBag.Plan[i][1]) == DateTime.Now.Day)
                                    {
                                        <a class="pull-left  dateGreen">
                                            <p class="month">@ViewBag.Plan[i][0].Substring(0, 4)</p>
                                            <p class="day">@ViewBag.Plan[i][1]</p>
                                        </a>
                                    }
                                    <div class="media-body">
                                        <a class="title" href="#">@ViewBag.Plan[i][2]</a>
                                        <p>@ViewBag.Plan[i][3] <i class="fa fa-smile-o "></i></p>
                                    </div>
                                </article>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">

        <div class="x_panel">
            <div class="col-md-4  col-p-4 col-sm-12 col-xs-12">
                <div class="x_title">
                    <h2> @ResourceManager.UIGetResource("SelectCycle")<small></small></h2>
                    <div class="filter">
                        <div class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <select id="ddlCycles" class="form-control" onchange="CycleChanged(this)">
                                <option value="-1">@ResourceManager.UIGetResource("SelectCycle")</option>
                                @foreach (var item in (CycleRecord[])ViewBag.cycles)
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="div-partial-dashboard" class="row">
    @Html.Partial("Dashboard", Model)
</div>
<script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
@BundleConfig.RenderScript("~/ScriptBundles/Dashboard/Index.js")

<script>
    var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    var labels1= ['Frequency' ,'Coverage','Visits'];
    var labels= ['Approved','Rejected','Cancelled','New','Pending'];
    $(document).ready(function () {

        if($('#ddlCycles').val()=='-1'){
            $('#ddlCycles').val(@ViewBag.CurrentCycleID);
            CycleChanged($('#ddlCycles'));
        }

        var chart1= Morris.Area({
            element: 'area-example',
            data: [
         { m: '2016-01', a: @ViewBag.FrequentlyLst[0],b:@ViewBag.CoverageVisitsLst[0],c:@ViewBag.VisitsLst[0]},
          { m: '2016-02',a: @ViewBag.FrequentlyLst[1],b:@ViewBag.CoverageVisitsLst[1],c:@ViewBag.VisitsLst[1]},
          { m: '2016-03', a: @ViewBag.FrequentlyLst[2],b:@ViewBag.CoverageVisitsLst[2],c:@ViewBag.VisitsLst[2]},
          { m: '2016-04', a: @ViewBag.FrequentlyLst[3],b:@ViewBag.CoverageVisitsLst[3],c:@ViewBag.VisitsLst[3]},
          { m: '2016-05', a: @ViewBag.FrequentlyLst[4],b:@ViewBag.CoverageVisitsLst[4],c:@ViewBag.VisitsLst[4]},
          { m: '2016-06', a: @ViewBag.FrequentlyLst[5],b:@ViewBag.CoverageVisitsLst[5],c:@ViewBag.VisitsLst[5]},
          { m: '2016-07', a: @ViewBag.FrequentlyLst[6],b:@ViewBag.CoverageVisitsLst[6],c:@ViewBag.VisitsLst[6]},
          { m: '2016-08', a: @ViewBag.FrequentlyLst[7],b:@ViewBag.CoverageVisitsLst[7],c:@ViewBag.VisitsLst[7]},
          { m: '2016-09', a: @ViewBag.FrequentlyLst[8],b:@ViewBag.CoverageVisitsLst[8],c:@ViewBag.VisitsLst[8]},
          { m: '2016-10', a: @ViewBag.FrequentlyLst[9],b:@ViewBag.CoverageVisitsLst[9],c:@ViewBag.VisitsLst[9]},
          { m: '2016-11', a: @ViewBag.FrequentlyLst[10],b:@ViewBag.CoverageVisitsLst[10],c:@ViewBag.VisitsLst[10]},
          { m: '2016-12', a: @ViewBag.FrequentlyLst[11],b:@ViewBag.CoverageVisitsLst[11],c:@ViewBag.VisitsLst[11]}
            ],
            xkey: 'm',
            hideHover: 'auto',
            ykeys: ['a','b','c'],
            xLabelAngle: 60,
            resize: true,
            labels: labels1,
            lineColors: [ '#aebef7','#5ac5cc', '#3A578F'],

            xLabelFormat: function(x) { // <--- x.getMonth() returns valid index
                var month = months[x.getMonth()];
                return month;
            },
            dateFormat: function(x) {
                var month = months[new Date(x).getMonth()];
                return month;
            },

        });

        var chart=    Morris.Bar({
            element: 'graph_bar',
            data: [
              { "period": "Jan", a: @ViewBag.ApprovedVisitsLst[0],b:@ViewBag.RejectedVisitsLst[0],c:@ViewBag.CancelledVisitsLst[0],d:@ViewBag.newVisitsLst[0],e:@ViewBag.pendingVisitsLst[0] },
              { "period": "Feb", a: @ViewBag.ApprovedVisitsLst[1] ,b:@ViewBag.RejectedVisitsLst[1],c:@ViewBag.CancelledVisitsLst[1],d:@ViewBag.newVisitsLst[1],e:@ViewBag.pendingVisitsLst[1]},
              { "period": "Mar", a: @ViewBag.ApprovedVisitsLst[2] ,b:@ViewBag.RejectedVisitsLst[2],c:@ViewBag.CancelledVisitsLst[2],d:@ViewBag.newVisitsLst[2],e:@ViewBag.pendingVisitsLst[2]},
              { "period": "Apr", a: @ViewBag.ApprovedVisitsLst[3] ,b:@ViewBag.RejectedVisitsLst[3],c:@ViewBag.CancelledVisitsLst[3],d:@ViewBag.newVisitsLst[3],e:@ViewBag.pendingVisitsLst[3]},
              { "period": "May", a: @ViewBag.ApprovedVisitsLst[4],b:@ViewBag.RejectedVisitsLst[4],c:@ViewBag.CancelledVisitsLst[4],d:@ViewBag.newVisitsLst[4],e:@ViewBag.pendingVisitsLst[4]},
              { "period": "Jun", a: @ViewBag.ApprovedVisitsLst[5],b:@ViewBag.RejectedVisitsLst[5],c:@ViewBag.CancelledVisitsLst[5],d:@ViewBag.newVisitsLst[5] ,e:@ViewBag.pendingVisitsLst[5]},
              { "period": "Jul", a: @ViewBag.ApprovedVisitsLst[6],b:@ViewBag.RejectedVisitsLst[6],c:@ViewBag.CancelledVisitsLst[6],d:@ViewBag.newVisitsLst[6] ,e:@ViewBag.pendingVisitsLst[6]},
              { "period": "Aug", a: @ViewBag.ApprovedVisitsLst[7] ,b:@ViewBag.RejectedVisitsLst[7],c:@ViewBag.CancelledVisitsLst[7],d:@ViewBag.newVisitsLst[7],e:@ViewBag.pendingVisitsLst[7]},
              { "period": "Sep", a: @ViewBag.ApprovedVisitsLst[8] ,b:@ViewBag.RejectedVisitsLst[8],c:@ViewBag.CancelledVisitsLst[8],d:@ViewBag.newVisitsLst[8],e:@ViewBag.pendingVisitsLst[8]},
              { "period": "Oct", a: @ViewBag.ApprovedVisitsLst[9] ,b:@ViewBag.RejectedVisitsLst[9],c:@ViewBag.CancelledVisitsLst[9],d:@ViewBag.newVisitsLst[9],e:@ViewBag.pendingVisitsLst[9]},
              { "period": "Nov", a: @ViewBag.ApprovedVisitsLst[10] ,b:@ViewBag.RejectedVisitsLst[10],c:@ViewBag.CancelledVisitsLst[10],d:@ViewBag.newVisitsLst[10],e:@ViewBag.pendingVisitsLst[10]},
              { "period": "Dec", a: @ViewBag.ApprovedVisitsLst[11],b:@ViewBag.RejectedVisitsLst[11],c:@ViewBag.CancelledVisitsLst[11],d:@ViewBag.newVisitsLst[11] ,e:@ViewBag.pendingVisitsLst[11]},
            ],
            xkey: 'period',
            hideHover: 'auto',
            barColors: ['#3A578F', 'Red', 'orange','#5ac5cc', '#aebef7'],
            ykeys: ['a','b','c','d','e'],
            labels: labels,
            xLabelAngle: 60,
            resize: true
        });

        $MENU_TOGGLE.on('click', function () {
            $(window).resize();
        });
        chart.options.labels.forEach(function(labels, i){
            var legendlabel=$('<span style="display: inline-block;font-weight:bold;color:black;padding-left:5px" >'+labels+'</span>')
            var legendItem = $('<div class="mbox"></div>').css('background-color', chart.options.barColors[i]).append(legendlabel)
            $('#legend').append(legendItem)
        });
        chart1.options.labels.forEach(function(labels1, j){
            var legendlabel1=$('<span style="display: inline-block;font-weight:bold;color:black;padding-left:5px" >'+labels1+'</span>')
            var legendItem1 = $('<div class="mbox"></div>').css('background-color', chart1.options.lineColors[j]).append(legendlabel1)
            $('#legend1').append(legendItem1)
        });
    });

</script>

<script>
    $(document).ready(function () {

        var opts = {
            lines: 12,
            angle: 0,
            lineWidth: 0.4,
            pointer: {
                length: 0.75,
                strokeWidth: 0.042,
                color: '#1D212A'
            },
            limitMax: 'false',
            colorStart: '#3A578F',
            colorStop: '#3A578F',
            strokeColor: '#5ac5cc',
            generateGradient: true,

        };
        var target = document.getElementById('foo'),
            gauge = new Gauge(target).setOptions(opts);

        var target2 = document.getElementById('foo2'),
            gauge2 = new Gauge(target2).setOptions(opts);

        gauge.maxValue = @ViewBag.AMCurrenCycleVisits;
        gauge.animationSpeed = 32;
        gauge.set(@ViewBag.AMCoverage);

        gauge2.maxValue = @ViewBag.PMCurrenCycleVisits;
        gauge2.animationSpeed = 32;
        gauge2.set(@ViewBag.PMCoverage);

    });
</script>
