﻿
<style>
    .login-container {
        position: relative;
        width: 100%;
        margin: 80px auto;
        padding: 20px 40px 40px;
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
    }


        .login-container::before, .login-container::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 3.5px;
            left: 0;
            background: #fff;
            z-index: -1;
            -webkit-transform: rotateZ(4deg);
            -moz-transform: rotateZ(4deg);
            -ms-transform: rotateZ(4deg);
            border: 1px solid #ccc;
        }

        .login-container::after {
            top: 5px;
            z-index: -2;
            -webkit-transform: rotateZ(-2deg);
            -moz-transform: rotateZ(-2deg);
            -ms-transform: rotateZ(-2deg);
        }

    .avatar {
        width: 150px;
        height: 150px;
        padding: 50%;
        margin: 20%;
        text-align: center;
    }



    .form-box input:focus {
        background: #eee;
    }
</style>


<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <div class="login-container">
                <img class="avatar" src="~/Content/iconcopy.png" style="width:150px;height:150px;border-radius:75px;" />

                <div class="form-box">
                    <span class="name">Welcome To LiveRep</span>
                    <hr class="star-light">
                    <span class="skills">choose your target from the left menu</span>
                </div>
            </div>

        </section>
    </div>
</div>

