﻿
.validation-message {
    color: red;
}

.success-message {
    background-color: #26B99A;
    color: white;
}

.fail-message {
    background-color: red;
    color: white;
}

.success-message-ajx {
    background-color: #5bc0de;
    color: white;
}

.popup {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 60px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.img-tag {
    height: 150px;
    width: 170px;
}

.deletepic {
    cursor: pointer;
}
 .coupon {
    border: 3px dashed #006662;
    border-radius: 10px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.coupon #head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-height: 56px;
}

.coupon #footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#title .visible-xs {
    font-size: 12px;
}

.coupon #title img {
    font-size: 30px;
    height: 30px;
    margin-top: 5px;
}

@media screen and (max-width: 500px) {
    .coupon #title img {
        height: 15px;
    }
}

.coupon #title span {
    float: right;
    margin-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.coupon-img {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
}

.items {
    margin: 15px 0;
}

.usd, .cents {
    font-size: 20px;
}

.number {
    font-size: 40px;
    font-weight: 700;
}

sup {
    top: -15px;
}

#business-info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

    #business-info ul li {
        display: inline;
        text-align: center;
    }

        #business-info ul li span {
            text-decoration: none;
            padding: .2em 1em;
        }

            #business-info ul li span i {
                padding-right: 5px;
            }

.disclosure {
    padding-top: 15px;
    font-size: 11px;
    color: #bcbcbc;
    text-align: center;
}

.coupon-code {
    color: #333333;
    font-size: 11px;
}

.exp {
    color: #f34235;
}

.print {
    font-size: 14px;
    float: right;
}

#quicknav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

    #quicknav ul li {
        display: inline;
    }

        #quicknav ul li a {
            text-decoration: none;
            padding: .2em 1em;
        }

.btn-default {
    margin-bottom: 40px;
}
 .update-nag {
    display: inline-block;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    height: 40px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;
}

.update-nag:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}

.update-nag > .update-split {
    background: #ee8017;
    width: 33px;
    float: left;
    color: #fff !important;
    height: 100%;
    text-align: center;
}

    .update-nag > .update-split > .glyphicon {
        position: relative;
        top: calc(50% - 9px) !important; /* 50% - 3/4 of icon height */
    }

    .update-nag > .update-split.update-success {
        background: #5cb85c !important;
    }

    .update-nag > .update-split.update-danger {
        background: #d9534f !important;
    }

    .update-nag > .update-split.update-info {
        background: #5bc0de !important;
    }



.update-nag > .update-text {
    line-height: 19px;
    padding-top: 11px;
    padding-left: 45px;
    padding-right: 20px;
}

