.starrr {
  display: inline-block; }
  .starrr span {
    font-size: 10px;
    padding: 0 2px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; }

  .starrr2 {
  display: inline-block; }
  .starrr2 span {
    font-size: 12px;
    padding: 0 2px;
    cursor: pointer;
    color: #000000;
    text-decoration: none; }

  .starrr3 {
  display: inline-block; }
  .starrr3 span {
    font-size: 10px;
    padding: 0 2px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; }


