﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@using PMApp.Core.Helpers;
@using CaptchaMvc.HtmlHelpers;

@model UserRecord
@{ Layout = "~/Views/Shared/_AnonimusLayout.cshtml";}
@{
    ViewBag.Title = ResourceManager.UIGetResource("LoginPage");
}

<div id="page-container" class="fade">
    <!-- begin register -->
    <div class="register register-with-news-feed">
        <!-- begin news-feed -->
        <div class="news-feed">
            <div class="news-image">
                <img src="~/assets/img/login-bg.jpeg" data-id="login-cover-image" alt="" />
            </div>
            <div class="news-caption ">
                <h4 class="caption-title pull-right"><i class="fa fa-edit text-success pull-right"></i> نظام مدن لترخيص ورقابة وتقييم المنشآت فى المدن الصناعية الرئيسية</h4>
                <p class="pull-right" style="text-align:right">
                </p>
                <br />
                <div class="btn-group">
                    <button type="button" style="min-width:150px" class="btn btn-danger btn-filter f-s-16" data-target="pagado">غير مستوفية</button>
                    <button type="button" style="min-width:150px" class="btn btn-warning btn-filter f-s-16" data-target="pendiente">مستوفية بشروك</button>
                    <button type="button" style="min-width:150px" class="btn bg-yellow btn-filter f-s-16" data-target="cancelado">مستوفية بشروط</button>
                    <button type="button" style="min-width:150px" class="btn btn-success btn-filter f-s-16" data-target="cancelado">مستوفية</button>

                    <button type="button" style="min-width:150px" class="btn btn-gray  btn-filter f-s-16" data-target="all">ممتاز</button>
                </div>
            </div>
        </div>
        <!-- end news-feed -->
        <!-- begin right-content -->
        <div class="right-content">
            <!-- begin register-header -->
            <h1 class="register-header text-right">
                مستخدم جديد                    <small>التسجيل فى نظام التراخيص ورقابة وتقييم المنشآت</small>
            </h1>
            <!-- end register-header -->
            <!-- begin register-content -->
@using (Html.BeginForm("AddUserRegisteration", "User", FormMethod.Post, new { id = "formprfile", enctype = "multipart/form-data" }))
{
                <input  hidden id="1" name="ApplicationID">
    <input hidden value="1" name="AreaID" />
    <input hidden value="3" name="RoleID" />

                <div class="register-content">
                    <!--<label class="control-label pull-right">الإسم/الجوال <span class="text-danger">*</span></label>-->

                    <div class="row m-b-15">

                        
                        <div class="col-md-12 ">
                            <label class="control-label pull-right">الإسم <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(model => model.FullName, new { @placeholder = ResourceManager.UIGetResource("FullName"), @class = "form-control", @required = "required", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = " validation-message " })


                        </div>
                    </div>
                    <div class="row m-b-15">
                        <div class="col-md-6 ">
                            <label class="control-label pull-right">رقم الجوال <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(model => model.phone1, new { @placeholder = ResourceManager.UIGetResource("Mobile"), @class = "form-control", @required = "required", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.phone1, "", new { @class = " validation-message " })

                        </div>
                        <div class="col-md-6">
                            <label class="control-label pull-right">البريد الإلكترونى <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(model => model.Email, new { @placeholder = ResourceManager.UIGetResource("Email"), @class = "form-control", @type = "email", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = " validation-message " })


                        </div>
                    </div>
                    <div class="row m-b-15">
                        <div class="col-md-6">
                            <label class="control-label pull-right">إعادة كتابة كلمة المرور <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(model => model.VerifiedPassword, new { @placeholder = ResourceManager.UIGetResource("ConfirmYourPassword"), @class = "form-control", @type = "password", @autocomplete = "off", @data_parsley_equalto = "#password-indicator-default" })
                            @Html.ValidationMessageFor(model => model.VerifiedPassword, "", new { @class = " validation-message " })
                        </div>
                        <div class="col-md-6">
                            <label class="control-label pull-right">كلمة المرور <span class="text-danger">*</span></label>
                            <div >
                                @Html.TextBoxFor(model => model.Password, new { @placeholder = ResourceManager.UIGetResource("YourPassword"), @class = "form-control", @type = "password", @autocomplete = "off", @id = "password-indicator-default" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = " validation-message " })


    @*<span class="text-muted" style="font-size:x-small">@ResourceManager.UIGetResource("Ex:(8-20LengthWith a-z A-Z,symbol,number)")</span>*@
                                <div id="passwordStrengthDiv" class="is0 "></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <label class="pull-right m-b-15">إرفاق صورة الهوية  </label>
                        <br />
                        <div class="file-upload">
                            <div class="image-upload-wrap ">
                                <input name="ImageFile" class="file-upload-input" type='file' onchange="readURL(this);" />
                                <div class="drag-text text-center">
                                    <div class="alert alert-warning fade in m-b-15">
                                        <span class=" f-s-20">
                                            <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="  file-upload-content">
                                <div class="image-title-wrap">
                                    <div class="alert alert-success fade in m-b-15">
                                        <span class="image-title  f-s-20">الملف </span>
                                        <span style="color:red" class="close text-danger" onclick="removeUpload()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                   
                    <div class="register-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">تسجيل</button>
                    </div>
                    <div class="m-t-20 m-b-20 p-b-20 text-inverse text-right">
                        عضو فى النظام؟ إضغط <a href="~/User/Login">هنا</a> لتسجيل الدخول
                    </div>
                    <hr />
                    <p class="text-center">
                        &copy; جميع الحقوق محفوظة 2018
                    </p>
                </div>
                <!-- end register-content -->
}            
</div>
        <!-- end right-content -->
    </div>

   
    <div class="modal fade" id="modal-alert">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box">
                            <div class="icon">
                                <div class="imagered"><i class="fa fa-thumbs-o-down"></i></div>
                                <div class="info">
                                    <h3 class="title">@ResourceManager.UIGetResource("Failed")</h3>
                                    <p>
                                        @if (ViewBag.RegisterationFaild != null)
                                        {
                                        @ViewBag.RegisterationFaild
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="space"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">@ResourceManager.UIGetResource("Close")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-success">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box">
                            <div class="icon">
                                <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                                <div class="info">
                                    <h3 class="title">@ResourceManager.UIGetResource("Success")</h3>
                                    <p>
                                        @if (ViewBag.RegisterationSuccess != null)
                                        {
                                        @ViewBag.RegisterationSuccess
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="space"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/User/ListUser.js"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.image-upload-wrap').hide();
                    $('.image-title').html(input.files[0].name);
                    $('.file-upload-content').show();
                };

                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }

        function removeUpload() {
            $('.file-upload-input').replaceWith($('.file-upload-input').clone());
            $('.file-upload-content').hide();
            $('.image-upload-wrap').show();
        }
        $('.image-upload-wrap').bind('dragover', function () {
            $('.image-upload-wrap').addClass('image-dropping');
        });
        $('.image-upload-wrap').bind('dragleave', function () {
            $('.image-upload-wrap').removeClass('image-dropping');
        });
    </script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
        $(document).ready(function () {

            $('#files').change(function () {
                var filename = $('input[type=file]').val().split('\\').pop();
                console.log(filename, $('#file'));
                var lastIndex = filename.lastIndexOf("\\");
                $('#lblfile').text(filename);
            });
        });
    </script>
    @if (ViewBag.RegisterationFaild != null)
    {
        <script>
            $(document).ready(function () {
                $('#modal-alert').modal('show');
            });
        </script>
        ViewBag.RegisterationFaild = null;
    }
    @if (ViewBag.RegisterationSuccess != null)
    {
        <script>
            $(document).ready(function () {
                //$('#modal-success').on('hidden.bs.modal', function () {
                //    window.location = ResolveUrl('~');
                //});
                $('#modal-success').modal({ backdrop: 'static', keyboard: false });
            });
        </script>
        ViewBag.RegisterationSuccess = null;
    }
</div>