﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record;
@model UserRecord
<link href="~/Content/jstree.min.css" rel="stylesheet" />
@{
    ViewBag.Title = ResourceManager.UIGetResource("AddPaymentAccountPaypal");
}
<style>
    .jstree-anchor {
        color: white;
    }
</style>
<div id="content" class="content">
    <h1 class="page-header">
        @ViewBag.Title
    </h1>
    <form action="AddUser" method="post" class="col-md-8 col-md-offset-2">
        <div class="page-title">
            <div class="title_left">
                <h3>@ResourceManager.UIGetResource("EditUser")</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row demo-container">
                            <div class="form-group">
                                <label>
                                    @ResourceManager.UIGetResource("FullName")
                                </label>
                                <div>
                                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "validation-message" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    @ResourceManager.UIGetResource("Email")
                                </label>
                                <div>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-message" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    @ResourceManager.UIGetResource("phone1")
                                </label>
                                <div>
                                    @Html.TextBoxFor(model => model.phone1, new { @placeholder = ResourceManager.UIGetResource("Mobile"), @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(model => model.phone1, "", new { @class = "validation-message" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    @ResourceManager.UIGetResource("Password")
                                </label>
                                <div>
                                    <input class="form-control col-md-7 col-xs-12" type="password" name="Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    @ResourceManager.UIGetResource("ReTypePassword")
                                </label>
                                <div>
                                    @Html.PasswordFor(model => model.VerifiedPassword, new { @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(model => model.VerifiedPassword, "", new { @class = "validation-message" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    @ResourceManager.UIGetResource("Role")
                                </label>
                                <div>
                                    @Html.DropDownListFor(model => model.RoleID, new SelectList((ApplicationRoleRecord[])@ViewBag.role, "ID", "Name"), @ResourceManager.UIGetResource("ChooseRole"), new { @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "validation-message" })
                                </div>
                            </div>
                            @*<div class="form-group">
                                    @Html.DropDownListFor(model => model.AreaID, new SelectList((Modon.CommonDefinitions.DataContracts.Record.AreaRecord[])@ViewBag.Areas, "ID", "Name"), @ResourceManager.UIGetResource("ChooseArea"), new { @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(model => model.AreaID, "", new { @class = "validation-message" })
                                </div>*@


                            <div class="form-group">
                                <label>
                                    @ResourceManager.UIGetResource("IsActive")
                                </label>
                                <div>
                                    <input type="checkbox"  data-render="switchery" data-theme="green" />
                                    @*@Html.CheckBoxFor(model => Model.IsActive, new { @class = "flat" })*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    @ResourceManager.UIGetResource("Area"):
                                </label>
                                <div id="jstree">

                                </div>
                            </div>


                            <input hidden name="AreaID" value="0" />
                            <input type="submit" class="btn btn-success btn-block" value="@ResourceManager.UIGetResource("Add")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--include the minified jstree source -->
<script src="~/Scripts/jstree.min.js"></script>
<script>
        $(function () {
            FormSliderSwitcher.init();

        var model=@Html.Raw(Json.Encode(ViewBag.Areas));
        // 6 create an instance when the DOM is ready
        $('#jstree').jstree({
            'core': {
                'data': model.Data,
                "themes" : {
                    "variant" : "large"
                }
            }
        });
        // 7 bind to events triggered on the tree
        $('#jstree').on("changed.jstree", function (e, data) {
            $("[name=AreaID]").val(data.selected);
        });
    });
</script>
