﻿@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record;
@model ClientRecord[]
<form action="AssignClients" method="post">
    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                    @ResourceManager.UIGetResource("Name")
                </th>

                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                    @ResourceManager.UIGetResource("Class")
                </th>

                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                    @ResourceManager.UIGetResource("Type")
                </th>

                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                    @ResourceManager.UIGetResource("Notes")
                </th>

                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                    @ResourceManager.UIGetResource("IsAssigned")
                </th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr role="row">
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.ClassName
                    </td>
                    <td>
                        @item.TypeName
                    </td>
                    <td>
                        @item.Notes
                    </td>

                    <td>
                        <input type="checkbox" name="AssignedClientsIDs" value="@item.ID" class="flat" checked="@item.IsAssignedToRequestUser" />

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input hidden value="@ViewBag.userID" name="userID" />
    <input type="submit" class="btn btn-primary" value="@ResourceManager.UIGetResource("Done")" />

    <script>
    $(document).ready(function () {
        $('#datatable').DataTable({
            "lengthMenu": [[10, 25, 50, -1], ["Display 10", "Display 25", "Display 50", "All"]]
        });
    });
    </script>
</form>