﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@model  UserRecord
@{ Layout = "~/Views/Shared/_AnonimusLayout.cshtml";}
@{
    ViewBag.Title = ResourceManager.UIGetResource("ChangePasswordPage");
}
<div class="login-cover">
    <div class="login-cover-image"><img src="~/assets/img/login-bg.jpeg" data-id="login-cover-image" alt="" /></div>
    <div class="login-cover-bg"></div>
</div>
<!-- begin #page-container -->
<div id="page-container" class="fade">
    <!-- begin login -->

    <div class="login login-v2" data-pageload-addclass="animated fadeIn">
        <!-- begin brand -->
        <div class="login-header">
            <div class="brand">
            </div>
            <div class="icon">
                <img src="~/assets/img/logo.png"  class="img-thumbnail" width="50" height="50" style="margin-bottom:10px" />
            </div>
            <h2 class="text-white">@ResourceManager.UIGetResource("ChangePassword")</h2>

        </div>
        <!-- end brand -->
        <div class="login-content">
            <form method="post" action="ChangePassword" class="form-horizontal form-label-left">
                <div class="form-group m-b-20">
                    <input hidden name="Code" value="@Model.Code" />
                    <input hidden name="ID" value="@Model.ID" />
                    <input hidden name="Notes" value="@Model.Notes" />

                    @*<input type="password" pattern="((?=.*\d)(? =.*[a-z])(? =.*['#$%]).{8,20})" name="Password" id="password-indicator-default" data-parsley-group="wizard-step-1" required class="form-control m-b-5" placeholder="@ResourceManager.UIGetResource("YourNewPassword")" />*@
                    @Html.TextBoxFor(model => model.Password, new { @placeholder = ResourceManager.UIGetResource("NewPassword"), @class = "form-control m-b-5", @type = "password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation-message" })
                </div>
                <div class="form-group m-b-20">
                    @*<input placeholder="@ResourceManager.UIGetResource("ConfirmPassword")" type="password" data-parsley-equalto="#password-indicator-default" data-parsley-group="wizard-step-1" class="form-control" required />*@
                    @Html.TextBoxFor(model => model.VerifiedPassword, new { @placeholder = ResourceManager.UIGetResource("ConfirmPassword"), @class = "form-control col-md-7 col-xs-12", @type = "password" })
                    @Html.ValidationMessageFor(model => model.VerifiedPassword, "", new { @class = "validation-message" })
                </div>
                <div class="form-group m-b-20">

                </div>
                <div class="login-buttons">
                    <button type="submit" data-parsley-group="wizard-step-1" class="btn btn-success btn-block btn-lg">@ResourceManager.UIGetResource("SubmitTheNewPassword")</button>
                </div>
            </form>
        </div>
    </div>
    <!-- end login -->
</div>
<div class="modal fade" id="modal-alert">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="icon">
                            <div class="imagered"><i class="fa fa-thumbs-o-down"></i></div>
                            <div class="info">
                                <h3 class="title">@ResourceManager.UIGetResource("Failed")</h3>
                                <p>
                                    @if (ViewBag.RegisterationFaild != null)
                                    {
                                        @ViewBag.RegisterationFaild
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-sm btn-danger" data-dismiss="modal">@ResourceManager.UIGetResource("Close")</a>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.RegisterationFaild != null)
{
    <script>
        $(document).ready(function () {
            $('#modal-alert').modal('show');
        });
    </script>
    ViewBag.RegisterationFaild = null;
}
