﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using EduLegend.CommonDefinitions.DataContracts.Record;
@using PMApp.EduLegend.DAL6MySql;
@using PMApp.Core.Helpers;
@using CaptchaMvc.HtmlHelpers;

@model UserRecord

@{ Layout = null;}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ResourceManager.UIGetResource("ProjectName") - @ResourceManager.UIGetResource("RegisterationPage")</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    @if (UIHelper.GetCookieLanguageEnum() != Language.Ar)
    {
        <link href="~/assets/css/style.css" rel="stylesheet" />
        <link href="~/assets/css/style-responsive.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/assets/css/style-ar.css" rel="stylesheet" />
        <link href="~/assets/css/style-responsive-ar.css" rel="stylesheet" />
    }
    <link href="~/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <link href="~/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <link href="~/assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />


    <!-- ================== BEGIN BASE JS ================== -->
    @*<script src="~/assets/plugins/pace/pace.min.js"></script>*@

    <script src="~/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    @BundleConfig.RenderScript("~/ScriptBundles/SBS")

    @*<script src='https://www.google.com/recaptcha/api.js'></script>*@
    <!-- ================== END BASE JS ================== -->
    <style>
        .select2-container--default .select2-selection--single {
            background-color: rgb(66, 91, 73);
        }

        label {
            color: black;
            font-weight: 500;
        }

        .box > .icon {
            text-align: center;
            position: relative;
        }

            .box > .icon > .image {
                position: relative;
                z-index: 2;
                margin: auto;
                width: 88px;
                height: 88px;
                border: 8px solid white;
                line-height: 88px;
                border-radius: 50%;
                background: #63B76C;
                vertical-align: middle;
            }

            .box > .icon > .imagered {
                position: relative;
                z-index: 2;
                margin: auto;
                width: 88px;
                height: 88px;
                border: 8px solid white;
                line-height: 88px;
                border-radius: 50%;
                background: #c62222;
                vertical-align: middle;
            }

            .box > .icon > .image > i {
                font-size: 36px !important;
                color: #fff !important;
            }

            .box > .icon > .imagered > i {
                font-size: 36px !important;
                color: #fff !important;
            }

            .box > .icon > .info {
                margin-top: -24px;
                background: rgba(0, 0, 0, 0.04);
                border: 1px solid #e0e0e0;
                padding: 15px 0 10px 0;
            }

            .box > .icon:hover > .info {
                background: rgba(0, 0, 0, 0.04);
                border-color: #e0e0e0;
                color: white;
            }

            .box > .icon > .info > h3.title {
                font-family: "Roboto",sans-serif !important;
                font-size: 16px;
                color: #222;
                font-weight: 500;
            }

            .box > .icon > .info > p {
                font-family: "Roboto",sans-serif !important;
                font-size: 13px;
                color: #666;
                line-height: 1.5em;
                margin: 20px;
            }

            .box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
                color: #222;
            }

            .box > .icon > .info > .more a {
                font-family: "Roboto",sans-serif !important;
                font-size: 12px;
                color: #222;
                line-height: 12px;
                text-transform: uppercase;
                text-decoration: none;
            }

            .box > .icon:hover > .info > .more > a {
                color: #fff;
                padding: 6px 8px;
                background-color: #63B76C;
            }

        .box .space {
            height: 30px;
        }
    </style>
</head>
<body class="pace-top bg-white">
    <input name="EduLevelID" value="1" />
    <div id="page-loader">
        <div class="material-loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
            </svg>
            <div class="message">@ResourceManager.UIGetResource("Loading...")</div>
        </div>
    </div>


    <div id="page-container" class="fade">
        <div id="header" class="header navbar navbar-inverse navbar-fixed-top">
            <!-- begin container -->
            <div class="container">
                <!-- begin navbar-header -->
                <div class="navbar-header navbar-inverse">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/User/Login">
                        <img src="~/assets/img/logo.png" height="70" style="padding-top:10px" />
                    </a>

                </div>
                <!-- end navbar-header -->
                <!-- begin navbar-collapse -->
                <div class="collapse navbar-collapse" id="header-navbar">
                    <ul class="nav navbar-nav navbar-transparent navbar-right">
                        <li><a href="~/User/Login" data-click="scroll-to-target">@ResourceManager.UIGetResource("HOME")</a></li>

                    </ul>
                </div>
                <!-- end navbar-collapse -->
            </div>
            <!-- end container -->
        </div>

        <div class="register register-with-news-feed">
            <!-- begin news-feed -->
            <div class="news-feed">
                <div class="news-image">
                    <img src="~/assets/img/login-bg/bg-6.jpg" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title"><i class="material-icons text-cyan pull-left m-r-5">edit</i>@ResourceManager.UIGetResource("AnnouncingTheEduLegend")</h4>
                    <p>
                        @ResourceManager.UIGetResource("RegisterationText")
                    </p>

                </div>
            </div>
            <!-- end news-feed -->
            <!-- begin right-content -->
            <div class="right-content">
                <br />
                <br />
                <br />
                <br />
                <div style="padding-left:5px;padding-right:5px">

                    <form action="AddUserRegisteration" method="post" data-parsley-validate="true" name="form-wizard" id="form-wizard">
                        <input style="display:none" value="@ViewBag.ApplicationID" class="form-control" id="ApplicationID" name="ApplicationID">
                        <div id="wizard">

                            <ol>
                                <li>
                                    @ResourceManager.UIGetResource("BasicTab")
                                </li>

                            </ol>
                            <!-- begin wizard step-1 -->

                            <div class="wizard-step-1">
                                <fieldset>
                                    @*<legend class="pull-left width-full text-success">@ResourceManager.UIGetResource("Basic Information")</legend>*@
                                    <!-- begin row -->
                                    <div class="row">
                                        <!-- begin col-4 -->
                                        <!-- end col-4 -->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@ResourceManager.UIGetResource("EmailAddress*")</label>
                                                @Html.TextBoxFor(model => model.Email, new { @placeholder = ResourceManager.UIGetResource("Email"), @class = "form-control", @type = "email", @data_parsley_group = "wizard-step-1", @autocomplete = "off", @style = "color:white;background-color:rgba(48, 76, 56, 0.91)" })

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@ResourceManager.UIGetResource("FullName*")</label>
                                                @Html.TextBoxFor(model => model.FullName, new { @placeholder = ResourceManager.UIGetResource("FullName"), @class = "form-control", @data_parsley_group = "wizard-step-1", @required = "required", @autocomplete = "off", @style = "color:white;background-color:rgba(48, 76, 56, 0.91)" })
                                            </div>
                                        </div>
                                        <!-- end col-4 -->
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@ResourceManager.UIGetResource("ConfirmPasword*")</label>
                                                <div class="controls">
                                                    <input type="password" name="VerifiedPassword" data-parsley-equalto="#password-indicator-default" data-parsley-group="wizard-step-1" class="form-control" required style="color:white;background-color:rgba(48, 76, 56, 0.91)" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@ResourceManager.UIGetResource("Password*")</label>
                                                <div class="controls">
                                                    <input type="password" name="Password" id="password-indicator-default" data-parsley-group="wizard-step-1" required class="form-control m-b-5" placeholder="@ResourceManager.UIGetResource("YourPassword")" style="color:white;background-color:rgba(48, 76, 56, 0.91)" />
                                                    <span class="text-muted" style="font-size:x-small">@ResourceManager.UIGetResource("Ex:(8-20LengthWith a-z A-Z,symbol,number)")</span>
                                                    <div id="passwordStrengthDiv" class="is0 "></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@ResourceManager.UIGetResource("Role*")</label>
                                                @Html.DropDownListFor(model => model.RoleID, new SelectList((ApplicationRoleRecord[])ViewBag.role, "ID", "Name"), @ResourceManager.UIGetResource("ChooseRole"), new { @placeholder = ResourceManager.UIGetResource("Role"), @class = "form-control", @data_parsley_group = "wizard-step-1", @required = "required", @style = "color:white;background-color:rgba(48, 76, 56, 0.91)", @onchange = "hideSubCat(this);", @id = "ddlroleid" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@ResourceManager.UIGetResource("Phone*")</label>
                                                @Html.TextBoxFor(model => model.phone1, new { @placeholder = ResourceManager.UIGetResource("Phone"), @class = "form-control", @data_parsley_group = "wizard-step-1", @required = "required", @autocomplete = "off", @style = "color:white;background-color:rgba(48, 76, 56, 0.91)" })
                                            </div>
                                        </div>
                                        <!-- end col-4 -->
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group" id="ddlDistrictDev">
                                                <label>@ResourceManager.UIGetResource("SubCategory")</label>
                                                <select class=" form-control" name="AreaID" id="ddlDistrict" style="width:100%;color:white;background-color:rgba(48, 76, 56, 0.91)" name="AreaID" data-parsley-group="wizard-step-2" required autocomplete="off"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>@ResourceManager.UIGetResource("Category")</label>
                                                <select class=" form-control" id="ddlarea" onchange="loadDistricts();" style="width:100%;color:white;background-color:rgba(48, 76, 56, 0.91)" data-parsley-group="wizard-step-2" required autocomplete="off">
                                                    @foreach (var item in ViewBag.Category)
                                                    {
                                                        <option value="@item.ID">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <center>
                                            <p>ستقوم الإدارة بتفعيل حسابك قريبا</p>
                                            <p><input type="submit" class="btn btn-success btn-lg" value="@ResourceManager.UIGetResource("RegisterMeNow")" /></p>
                                        </center>

                                    </div>
                                </fieldset>
                            </div>

                            @*<div class="wizard-step-2">
                                    <fieldset>
                                        <legend class="pull-left width-full text-success"> @ResourceManager.UIGetResource("Additional Information")</legend>


                                    </fieldset>
                                </div>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-alert">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box">
                            <div class="icon">
                                <div class="imagered"><i class="fa fa-thumbs-o-down"></i></div>
                                <div class="info">
                                    <h3 class="title">@ResourceManager.UIGetResource("Failed")</h3>
                                    <p>
                                        @if (ViewBag.RegisterationFaild != null)
                                        {
                                            @ViewBag.RegisterationFaild
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="space"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-blue-grey" data-dismiss="modal">@ResourceManager.UIGetResource("Close")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-success">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <div class="col-lg-12">
                        <div class="box">
                            <div class="icon">
                                <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                                <div class="info">
                                    <h3 class="title">@ResourceManager.UIGetResource("Success")</h3>
                                    <p>
                                        @if (ViewBag.RegisterationSuccess != null)
                                        {
                                            @ViewBag.RegisterationSuccess
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="space"></div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a id="btnbackhome" href="~/User/Login" class="btn btn-sm btn-success">@ResourceManager.UIGetResource("GoToHomePage")</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/ui/jquery-ui.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <!--[if lt IE 9]>
        <script src="~/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="~/assets/crossbrowserjs/respond.min.js"></script>
        <script src="~/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    @if (UIHelper.GetCookieLanguageEnum() != Language.Ar)
    {
        <script src="~/assets/plugins/parsley/dist/parsley.js"></script>

    }
    else
    {
        <script src="~/assets/plugins/parsley/dist/parsley-ar.js"></script>

    }
    <script src="~/assets/plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="~/assets/js/form-wizards-validation.demo.min.js"></script>
    <script src="~/assets/plugins/password-indicator/js/password-indicator.js"></script>
    <script src="~/assets/js/form-plugins.demo.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/js/apps.min.js"></script>
    <script src="~/Scripts/User/ListUser.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
        $(document).ready(function () {
            App.init();
            FormWizardValidation.init();
            loadDistricts();
            $('#password-indicator-default').passwordStrength();
            document.getElementById('form-wizard').onsubmit = function () {
            };

            if (parseInt($("#ddlroleid").val()) == 2) {
                $("#ddlDistrictDev").attr("style", "display:none");
            }
        });
        function hideSubCat(e) {
            if (parseInt($(e).val()) == 2) {
                $("#ddlDistrictDev").attr("style", "display:none");
            }
        }
    </script>
    @if (ViewBag.RegisterationFaild != null)
    {
        <script>
            $(document).ready(function () {
                $('#modal-alert').modal('show');
            });
        </script>
        ViewBag.RegisterationFaild = null;
    }
    @if (ViewBag.RegisterationSuccess != null)
    {
        <script>
            $(document).ready(function () {
                //$('#modal-success').on('hidden.bs.modal', function () {
                //    window.location = ResolveUrl('~');
                //});
                $('#modal-success').modal({ backdrop: 'static', keyboard: false });
            });
        </script>
        ViewBag.RegisterationSuccess = null;
    }


</body>
</html>
