﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@model  UserRecord
@{ Layout = "~/Views/Shared/_AnonimusLayout.cshtml";}


<div id="page-container" class="fade">
    <!-- begin login -->
        <!-- begin login -->
    <div class="login login-with-news-feed">
        <!-- begin news-feed -->
        <div class="news-feed">
            <div class="news-image">
                <img src="~/assets/img/login-bg.jpeg" data-id="login-cover-image" alt="" />
            </div>
            <div class="news-caption ">
                <h6 class="caption-title pull-right"><i class="fa fa-edit text-success pull-right"></i>  مدن لترخيص ورقابة وتقييم المنشآت فى المدن الصناعية الرئيسية</h6>
                <p class="pull-right" style="text-align:right">
                </p>
                <br />
                <div class="btn-group">
                    <button type="button" style="min-width:150px" class="btn btn-danger btn-filter f-s-16" data-target="pagado">غير مستوفية</button>
                    <button type="button" style="min-width:150px" class="btn btn-warning btn-filter f-s-16" data-target="pendiente">مستوفية بشروك</button>
                    <button type="button" style="min-width:150px" class="btn bg-yellow btn-filter f-s-16" data-target="cancelado">مستوفية بشروط</button>
                    <button type="button" style="min-width:150px" class="btn btn-success btn-filter f-s-16" data-target="cancelado">مستوفية</button>

                    <button type="button" style="min-width:150px" class="btn btn-default btn-filter f-s-16" data-target="all">ممتاز</button>
                </div>
            </div>
        </div>
        <div class="right-content">
           
            <!-- begin login-header -->
            <div class="login-header">
                <h1 class="register-header text-right">
                    <small>سيتم إرسال الكود لتغيير كلمة السر عبر البريد الإلكترونى و الجوال</small>
                </h1>
                <div class="brand">
                    <img src="~/assets/img/logo.png" width="80" height="100" />

                </div>
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <!-- end login-header -->
            <!-- begin login-content -->
            <div class="login-content">
                <form method="post" action="ForgetPasswordChoice" class="form-horizontal form-label-left">
                    <div class="form-group m-b-20">
                        @*@Html.TextBoxFor(model => model.Email, new { @placeholder = ResourceManager.UIGetResource("EmailOrMobileNumber"), @class = "form-control col-md-7 col-xs-12" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-message" })*@
                        <input type="text" name="Email" placeholder="@ResourceManager.UIGetResource("EmailOrMobileNumber")" id="txtemail" class="form-control col-md-7 col-xs-12" />

                    </div>
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">@ResourceManager.UIGetResource("SendCode")</button>
                    </div>
                </form>
            </div>
            <!-- end login-content -->
        </div>
        
        <!-- end login -->
    </div></div>
        <div class="modal fade" id="modal-alert">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div class="box">
                                <div class="icon">
                                    <div class="imagered"><i class="fa fa-thumbs-o-down"></i></div>
                                    <div class="info">
                                        <h3 class="title">@ResourceManager.UIGetResource("Failed")</h3>
                                        <p>
                                            @if (ViewBag.RegisterationFaild != null)
                                        {
                                            @ViewBag.RegisterationFaild
                                    }
                                        </p>
                                    </div>
                                </div>
                                <div class="space"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:;" class="btn btn-sm btn-blue-grey" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-success">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div class="box">
                                <div class="icon">
                                    <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                                    <div class="info">
                                        <h3 class="title">@ResourceManager.UIGetResource("Success")</h3>
                                        <p>
                                            @if (ViewBag.RegisterationSuccess != null)
                                        {
                                            @ViewBag.RegisterationSuccess
                                    }
                                        </p>
                                    </div>
                                </div>
                                <div class="space"></div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a href="~/Home/LandingPage" class="btn btn-sm btn-success">@ResourceManager.UIGetResource("GoToHomePage")</a>

                    </div>
                </div>
            </div>
        </div>
        

        @if (ViewBag.RegisterationFaild != null)
    {
        <script>
            $(document).ready(function () {
                $('#modal-alert').modal('show');
            });
        </script>
    ViewBag.RegisterationFaild = null;
}
        @if (ViewBag.RegisterationSuccess != null)
    {
        <script>
            $(document).ready(function () {
                $('#modal-success').modal('show');
            });
        </script>
    ViewBag.RegisterationSuccess = null;
}
