﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@model UserRecord[]
@{
    ViewBag.Title = @ResourceManager.UIGetResource("ManageUsers");
}
<link href="~/Content/User/ListUser.css" rel="stylesheet" />
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li>
            <a href="@Url.Action("AddUser", "User")" class="btn btn-warning btn-block btn-xs m-r-5 ">
                @ResourceManager.UIGetResource("AddAdminUser")
            </a>
        </li>
    </ol>
    <h1 class="page-header">
        @ResourceManager.UIGetResource("ManageUsers")
    </h1>
  
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row demo-container">
                        <input hidden value="@ViewBag.pageIndex" name="pageIndex" id="pageIndex" />
                        <table class="table table-striped table-bordered dataTable no-footer data-table" role="grid" aria-describedby="datatable_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                        @ResourceManager.UIGetResource("User")
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                        @ResourceManager.UIGetResource("Status")
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                        @ResourceManager.UIGetResource("Status")
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="dvuser">
                                @Html.Partial("~/Views/User/PartialListUser.cshtml", Model)
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@BundleConfig.RenderScript("~/ScriptBundles/User/ListUser")
