﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@model UserRecord[]
@{
    ViewBag.Title = @ResourceManager.UIGetResource("ManageUsers");
}
<link href="~/Content/User/ListUser.css" rel="stylesheet" />
<div id="content" class="content">
 
    <h1 class="page-header">
        @ResourceManager.UIGetResource("ManageUsers")
    </h1>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="row demo-container">
                        <input hidden value="@ViewBag.pageIndex" name="pageIndex" id="pageIndex" />
                        <table class="table table-striped table-bordered   data-table" >
                            <thead>
                                <tr role="row">
                                    <th >
                                        @ResourceManager.UIGetResource("Name")
                                    </th>

                                    <th >
                                        @ResourceManager.UIGetResource("Email")
                                    </th>

                                    <th >
                                        @ResourceManager.UIGetResource("Role")
                                    </th>

                                    <th >
                                        @ResourceManager.UIGetResource("Area")
                                    </th>
                                    <th >
تاريخ التسجيل                                    </th>

                                    <th >
                                        @ResourceManager.UIGetResource("Edit")
                                    </th>

                                    <th >
                                        @ResourceManager.UIGetResource("Delete")
                                    </th>


                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr role="row">
                                        <td>@item.FullName</td>
                                        <td>@item.Email</td>
                                        <td>@item.RoleName</td>
                                        <td>@item.AreaName - @item.ParentAreaName</td>
                                        <td>@item.RegisterDateStr</td>
                                        <td>
                                            <a style="min-width: 65px;" href="@Url.Action("EditUser", new  { userID = item.ID })" class="btn btn-info btn-sm">@ResourceManager.UIGetResource("Edit")</a>
                                        </td>
                                        <td>
                                            <a href="#" onclick="DeleteUserCheck('@item.FullName','@item.ID')" class="btn btn-danger btn-sm">@ResourceManager.UIGetResource("Delete")</a>
                                        </td>

                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@BundleConfig.RenderScript("~/ScriptBundles/User/ListUser")

