﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@model ProductRecord[]

@if (Model != null)
{
<style>
    .table td {
        text-align: center;
    }

    .table th {
        text-align: center;
    }

    .right-to-left li {
        float: right;
    }

    #btndel {
        display: none;
    }
</style>

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive ">
    <div class="page-title ">
        <div class="title_right">
            <h3 class=" alignright">قائمة الارتكلات</h3>
        </div>
    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">الألوان</h4>
            </div>
            <div class="modal-body" id="ProductDetailsdv">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row demo-container" dir="rtl">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs right-to-left" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tab_content_@ViewBag.Types[0].ID" id="home-tab_@ViewBag.Types[0].ID" role="tab" data-toggle="tab" aria-expanded="true">@ViewBag.Types[0].Name</a>
                            </li>
                            @for (int i = 1; i < ViewBag.Types.Length; i++)
                            {
                            <li role="presentation">
                                <a href="#tab_content_@ViewBag.Types[i].ID" id="home-tab_@ViewBag.Types[i].ID" role="tab" data-toggle="tab" aria-expanded="false">@ViewBag.Types[i].Name</a>
                            </li>
                            }
                        </ul>
                        <div id="myTabContent" class="tab-content" style="overflow-x:scroll">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content_@ViewBag.Types[0].ID" aria-labelledby="home-tab_@ViewBag.Types[0].ID">
                                <table id="datatable_@ViewBag.Types[0].ID" class="table table-striped table-bordered dataTable   jambo_table" dir="rtl" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="">
                                                @ResourceManager.UIGetResource("Code")
                                            </th>

                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("Name")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("StoreQuantity")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("ShowQuantity")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("BuyPrice")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("SellPrice")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("BranchPrice")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("Image")
                                            </th>
                                            @*
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("CreatedAt")
                                            </th>*@
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("CreatedByName")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("Edit")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("ProductDetails")
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(p => p.Type == ViewBag.Types[0].ID))
                                        {
                                        <tr role="row">

                                            <td>
                                                <a href="#" class="ListId text-primary" style="font-weight:bolder" data-id="@item.ID">@item.Code</a>
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>

                                            <td>
                                                @item.Quantity
                                            </td>
                                            <td>
                                                @item.ShowQuantity
                                            </td>
                                            <td>
                                                @if (item.Price != null)
                                                {
                                                @item.Price
                                                }

                                            </td>
                                            <td class="text-success">
                                                @if (item.SellPrice != null)
                                                {
                                                @item.SellPrice
                                                }

                                            </td>
                                            <td class="text-danger">
                                                @if (item.BranchPrice != null)
                                                {
                                                @item.BranchPrice
                                                }
                                            </td>
                                            <td>
                                                <img style="cursor:pointer" id="myImg" src="@item.ImageUrl" width="50" height="50" class="img-circle" onclick="PreviewImg(this);" />
                                            </td>
                                            @*
                                            <td>
                                                @Convert.ToDateTime(item.CreatedAt).ToShortDateString()
                                            </td>*@
                                            @*
                                            <td><img src='@Url.Action("generate_barcode", new { txt = item.Code })' alt="" width="50" height="50" />*@
                                            <td>
                                                @item.CreatedByName
                                            </td>

                                            <td>
                                                <a style="min-width: 65px;" href="@Url.Action(" Editproduct", new { productid=item.ID })" class="btn btn-link btn-lg"><i class="fa fa-edit"></i></a>
                                            </td>
                                            <td>
                                                <a style="min-width: 65px;" href="@Url.Action(" AddProductDetails", "ProductDetails" , new { productid=item.ID, productCode=item.Code.Trim() })" class="btn btn-link btn-lg"><i class="fa fa-sitemap text-warning"></i>(@item.DetailsCount)</a>
                                            </td>

                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            @for (int i = 1; i < ViewBag.Types.Length; i++)
                            {
                            <div role="tabpanel" class="tab-pane fade" id="tab_content_@ViewBag.Types[i].ID" aria-labelledby="home-tab_@ViewBag.Types[i].ID">
                                <table id="datatable_@ViewBag.Types[i].ID" class="table table-striped table-bordered dataTable   jambo_table" dir="rtl" role="grid" aria-describedby="datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="">
                                                @ResourceManager.UIGetResource("Code")
                                            </th>

                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("Name")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("StoreQuantity")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("ShowQuantity")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("BuyPrice")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("SellPrice")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("BranchPrice")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("Image")
                                            </th>
                                            @*
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("CreatedAt")
                                            </th>*@
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("Edit")
                                            </th>
                                            <th class="sorting_asc">
                                                @ResourceManager.UIGetResource("ProductDetails")
                                            </th>


                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(p => p.Type == ViewBag.Types[i].ID))
                                        {
                                        <tr role="row">

                                            <td>
                                                <a href="#" class="ListId text-primary" style="font-weight:bolder" data-id="@item.ID">@item.Code</a>
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>

                                            <td>
                                                @item.Quantity
                                            </td>
                                            <td>
                                                @item.ShowQuantity
                                            </td>
                                            <td>
                                                @if (item.Price != null)
                                                {
                                                @item.Price
                                                }
                                            </td>
                                            <td class="text-success">
                                                @if (item.SellPrice != null)
                                                {
                                                @item.SellPrice
                                                }
                                            </td>
                                            <td class="text-danger">
                                                @if (item.BranchPrice != null)
                                                {
                                                @item.BranchPrice
                                                }
                                            </td>
                                            <td>
                                                <img style="cursor:pointer" id="myImg" src="@item.ImageUrl" width="50" height="50" class="img-circle" onclick="PreviewImg(this);" />
                                            </td>
                                            @*
                                            <td>
                                                @Convert.ToDateTime(item.CreatedAt).ToShortDateString()
                                            </td>*@
                                            <td>
                                                <a style="min-width: 65px;" href="@Url.Action(" Editproduct", new { productid=item.ID })" class="btn btn-link btn-lg"><i class="fa fa-edit"></i></a>
                                            </td>
                                            <td>
                                                <a style="min-width: 65px;" href="@Url.Action(" AddProductDetails", "ProductDetails" , new { productid=item.ID, productCode=item.Code.Trim() })" class="btn btn-link btn-lg"><i class="fa fa-sitemap text-warning"></i>(@item.DetailsCount)</a>
                                            </td>

                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Product/ListProduct.js"></script>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">الصورة</h4>
            </div>
            <div class="modal-body">
                <center> <img src="" id="imagepreview" style="width: 400px; height: 400px;"></center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
<script>
    function PreviewImg(e) {
        $('#imagepreview').attr('src', $(e).attr('src'));
        $('#imagemodal').modal('show');
    }
</script>
<script>
    $(document).ready(function () {
        var sampleTags = new Array();
        var array = @Html.Raw(Json.Encode(ViewBag.Types));

        for (var i = 0; i < array.length; i++) {
            $('#datatable_' + array[i]["ID"]).DataTable({
                "language": {
                    "lengthMenu": "عرض _MENU_ بيان لكل صفحة",
                    "zeroRecords": "لا يوجد بيانات",
                    "info": "عرض صفحة _PAGE_ من _PAGES_",
                    "infoEmpty": "لا يوجد بيانات للعرض",
                    "search": "بحث",
                    "paginate": {
                        "previous": "السابق",
                        "next": "التالى",
                    }
                },

                "lengthMenu": [[10, 25, 50, -1], [" 10", " 25", " 50", "الكل"]]
            });

        }
    });
    $('.ListId').click(function () {
        var Id = $(this).attr('data-id');
        var dummyurl = '@Url.Action("ListProductDetails", "ProductDetails", new { productID = -1 })';
        var path = dummyurl.replace("-1", Id);
        SBSAjax({
            url: path,
            type: "post",
            data: {},
            success: function (response) {
                $("#ProductDetailsdv").html(response);
                $("#myModal").modal();
            }
        });
    });
</script>

}