﻿@using PMApp.Modon.DAL6;
@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@model UserRecord[]

    @if (Model != null)
    {
       
                <div class="page-title">
                    <div class="title_left">
                        <h3>@ResourceManager.UIGetResource("MyTeam")</h3>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <div class="row demo-container">
                                    @foreach (var item in Model)
                                    {

                                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 profile_details">
                                            <div class="well profile_view">
                                                <div class="col-sm-12">
                                                    <h4 class="brief"><i>@item.FullName</i></h4>
                                                    <div class="left col-xs-7">
                                                        <ul class="list-unstyled">
                                                            <li><i class="fa fa-building"></i> Area:@item.AreaName </li>
                                                            <li><i class="fa fa-calendar"></i> BirthDate:@item.Birthdate </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right col-xs-5 text-center">
                                                        <img src="@item.ProfilePictureUrl" alt="" style="width:120px;height:120px" class="img-thumbnail">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 bottom text-center">

                                                    <div class="col-xs-12 col-sm-6 emphasis">
                                                            <a href="@Url.Action("Index", "Profile", new { userID = item.ID })" class="btn btn-success btn-xs">
                                                                <i class="fa fa-user">
                                                                </i> <i class="fa fa-comments-o"></i>
                                                                profile
                                                            </a>  
                                                        <a href="@Url.Action("Index", "Dashboard", new { userID = item.ID })" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-archive"> </i> @ResourceManager.UIGetResource("Dashboard")
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
         
    }
