﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using Modon.CommonDefinitions.DataContracts.Record
@using PMApp.Modon.DAL6;
@model ResourceRecord
@{
    ViewBag.Title = ResourceManager.UIGetResource("EditResource");
}
<div id="content" class="content">
    <h1 class="page-header">
       @ViewBag.Title
    </h1>
    <form action="EditResources" method="post" class="col-md-8 col-md-offset-2">
        <input hidden name="ID" value="@Model.ID" />
        <div class="panel panel-success ">
            <div class="panel-body">
                <div class="section-container">
                    <div class="row">
                        <!-- begin col-4 -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="educolor">
                                    @ResourceManager.UIGetResource("ResourceKey")
                                </label>
                                @Html.TextBoxFor(model => model.ResourceKey, new { @class = "form-control col-md-7 col-xs-12", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.ResourceKey, "", new { @class = "validation-message" })
                            </div>
                        </div>
                        <!-- begin col-4 -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="educolor">@ResourceManager.UIGetResource("ResourceLanguage") </label>
                                @Html.TextBoxFor(model => model.ResourceLang, new { @class = "form-control col-md-7 col-xs-12", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.ResourceLang, "", new { @class = "validation-message" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- begin col-4 -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="educolor">
                                    @ResourceManager.UIGetResource("ResourceValue")
                                </label>
                                @Html.TextAreaFor(model => model.ResourceValue, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.ResourceValue, "", new { @class = "validation-message" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label></label>
                                <input type="submit" class="btn btn-success btn-block" value="@ResourceManager.UIGetResource("Edit")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
