﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@model ResourceRecord[]
@{
    ViewBag.Title = ResourceManager.UIGetResource("Resources");
}
<div id="content" class="content">

    <h1 class="page-header">
        @ViewBag.Title
    </h1>
    <div class="row" style="background:rgba(21, 23, 23, 0.36)">
        <div class="panel panel-success" data-sortable-id="ui-media-object-2">

            <div class="panel-body">
                <table id="data-table" class="table table-striped table-bordered data-table">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("ResourceKey")
                            </th>

                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("ResourceLanguage")
                            </th>

                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("ResourceValue")
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("Edit")
                            </th>
                        </tr>

                    </thead>

                    <tbody>

                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr class="odd gradeX">

                                    <td>
                                        @item.ResourceKey
                                    </td>
                                    <td>
                                        @item.ResourceLang
                                    </td>
                                    <td>
                                        @item.ResourceValue
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditResources", new { resourcesID = item.ID })" class="btn btn-blue-grey btn-sm">@ResourceManager.UIGetResource("Edit")</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    <center><i class="fa fa-5x fa-info-circle text-warning"></i></center>
                                    <br />

                                    <center> <h4 class="text-black">@ResourceManager.UIGetResource("NoResourcesHasBeenAdded")</h4></center>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
