﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@model  PMApp.Core.CommonDefinitions.DataContracts.ChangePasswordRequest

@{
    ViewBag.Title = ResourceManager.UIGetResource("ChangePassword");
}

<div id="content" class="content">
    
    <h1 class="page-header">
        @ViewBag.Title
    </h1>

    <div class="row" style="background:rgba(21, 23, 23, 0.36)">
        <form method="post" action="ChangePassword" id="formChangePassword" class="col-md-8 col-md-offset-2">

            <div class="panel panel-success" data-sortable-id="ui-media-object-2">

                <div class="panel-body">
                    <center><i class="fa fa-lock fa-5x educolor"></i></center>
                    <br />
                    <div class="section-container">
                        <div class="row">
                            <!-- begin col-4 -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="educolor">
                                        @ResourceManager.UIGetResource("OldPassword")
                                    </label>
                                    @Html.TextBoxFor(model => model.OldPassword, new { @placeholder = ResourceManager.UIGetResource("OldPassword"), @class = "form-control col-md-7 col-xs-12", @type = "password" })
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            @if (PMApp.Core.Helpers.UIHelper.GetCookieLanguageEnum() == PMApp.Core.Helpers.Language.Ar)
                            {
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="educolor">@ResourceManager.UIGetResource("ConfirmPassword") </label>
                                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @placeholder = ResourceManager.UIGetResource("ConfirmPassword"), @class = "form-control col-md-7 col-xs-12", @type = "password" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "validation-message" })
                                    </div>
                                </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="educolor">@ResourceManager.UIGetResource("NewPassword") </label>
            @Html.TextBoxFor(model => model.NewPassword, new { @placeholder = ResourceManager.UIGetResource("NewPassword"), @class = "form-control col-md-7 col-xs-12", @type = "password" })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "validation-message" })
        </div>
    </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="educolor">@ResourceManager.UIGetResource("NewPassword") </label>
                                        @Html.TextBoxFor(model => model.NewPassword, new { @placeholder = ResourceManager.UIGetResource("NewPassword"), @class = "form-control col-md-7 col-xs-12", @type = "password" })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "validation-message" })
                                    </div>
                                </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="educolor">@ResourceManager.UIGetResource("ConfirmPassword") </label>
            @Html.TextBoxFor(model => model.ConfirmPassword, new { @placeholder = ResourceManager.UIGetResource("ConfirmPassword"), @class = "form-control col-md-7 col-xs-12", @type = "password" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "validation-message" })
        </div>
    </div>
                            }

                        </div>
                        <br />
                    </div>
                    <a id="btnconfirmpass" class="btn btn-primary btn-block btn-lg" href="javascript:;" onclick="Confirm();" data-toggle="modal">@ResourceManager.UIGetResource("SumbitNewPassword")</a>

                </div>
            </div>
        </form>
    </div>

</div>

<div class="modal fade" id="modal-confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@ResourceManager.UIGetResource("EduLegendMessage")</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-alert m-b-0">
                    <h4><i class="fa fa-info-circle text-danger"></i> @ResourceManager.UIGetResource("AreYouSureChangingYourPassword")?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">@ResourceManager.UIGetResource("Close")</a>
                <button id="btnsubmitpass" type="button" onclick="SubmitChange();" class="btn btn-success">@ResourceManager.UIGetResource("Confirm")</button>
            </div>
        </div>
    </div>
</div>
<script>
    function SubmitChange()
    {
        $("#formChangePassword").submit();
    }
    function Confirm()
    {
        var ValidStatus = $("#formChangePassword").valid();
        if (ValidStatus)
        {
            $("#modal-confirm").modal('show');
        }
        else
        {
            $("#formChangePassword").submit();
            
        }
    }
</script>