﻿@{ Layout = "~/Views/Shared/_ELayout.cshtml";}


<div class="search-toolbar">
    <!-- BEGIN row -->
        <i class="fa fa-circle text-success"></i>     اللوحة الرئيسية
    <!-- END row -->
</div>
<div class="row" dir="rtl">
    <div class="col-md-12 ">
        <div class="panel panel-default ">

            <div class="panel-body">
                @*<div class="row">
                    <!-- begin col-3 -->
                    <div class="col-md-2 col-sm-6">
                        <div class="widget widget-stats bg-black">
                            <div class="stats-icon text-left"><i class="fa fa-desktop"></i></div>
                            <div class="stats-info">
                                <h4>مغلق  </h4>
                                <p>3,291</p>
                            </div>
                            <div class="stats-link">
                                <a href="javascript:;" class="text-left">إستعراض <i class="fa fa-arrow-circle-o-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-2 col-sm-6">
                        <div class="widget widget-stats bg-red">
                            <div class="stats-icon"><i class="fa fa-chain-broken"></i></div>
                            <div class="stats-info">
                                <h4>مخالف</h4>
                                <p>20</p>
                            </div>
                            <div class="stats-link">
                                <a href="javascript:;" class="text-left">إستعراض <i class="fa fa-arrow-circle-o-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-2 col-sm-6">
                        <div class="widget widget-stats bg-orange">
                            <div class="stats-icon"><i class="fa fa-users"></i></div>
                            <div class="stats-info">
                                <h4>مسوفى بشروط</h4>
                                <p>1,291</p>
                            </div>
                            <div class="stats-link">
                                <a href="javascript:;" class="text-left">إستعراض <i class="fa fa-arrow-circle-o-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                    <!-- begin col-3 -->
                    <div class="col-md-2 col-sm-6">
                        <div class="widget widget-stats " style="background-color:#c79d24 ">
                            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="stats-info">
                                <h4>مستوفى بشروط</h4>
                                <p>00:12:23</p>
                            </div>
                            <div class="stats-link">
                                <a href="javascript:;" class="text-left">إستعراض <i class="fa fa-arrow-circle-o-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="widget widget-stats bg-green">
                            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="stats-info">
                                <h4>مستوفى</h4>
                                <p>230</p>
                            </div>
                            <div class="stats-link">
                                <a href="javascript:;" class="text-left">إستعراض <i class="fa fa-arrow-circle-o-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="widget widget-stats bg-grey">
                            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="stats-info">
                                <h4>ممتاز</h4>
                                <p>23</p>
                            </div>
                            <div class="stats-link">
                                <a href="javascript:;" class="text-left">إستعراض <i class="fa fa-arrow-circle-o-left"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- end col-3 -->
                </div>
                <div class="row">
                    <!-- begin col-8 -->
                    <div class="col-md-8">
                        <div class="panel panel-inverse" data-sortable-id="index-1">
                            <div class="panel-heading">

                                <h4 class="panel-title">إحصاء بين طلب الموافقة المبدئية فى القبول والرفض (شهريا)</h4>
                            </div>
                            <div class="panel-body">
                                <div id="interactive-chart" class="height-sm"></div>
                            </div>
                        </div>






                    </div>
                    <!-- end col-8 -->
                    <!-- begin col-4 -->
                    <div class="col-md-4">
                        <div class="panel panel-inverse" data-sortable-id="index-6">
                            <div class="panel-heading">

                                <h4 class="panel-title">التصنيفات قبل شهرين   </h4>
                            </div>
                            <div class="panel-body p-t-0">
                                <table class="table table-valign-middle m-b-0">
                                    <thead>
                                        <tr>
                                            <th class="text-right">اللون</th>
                                            <th class="text-right">العدد</th>
                                            <th class="text-right">التصنيف</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><label class="label label-danger">غير مستوفى</label></td>
                                            <td>13,203 <span class="text-success"><i class="fa fa-arrow-up"></i></span></td>
                                            <td><div id="sparkline-unique-visitor"></div></td>
                                        </tr>
                                        <tr>
                                            <td><label class="label label-warning">مستوفى بشروط</label></td>
                                            <td>28.2%</td>
                                            <td><div id="sparkline-bounce-rate"></div></td>
                                        </tr>
                                        <tr>
                                            <td><label class="label label-success">مستوفى</label></td>
                                            <td>1,230,030</td>
                                            <td><div id="sparkline-total-page-views"></div></td>
                                        </tr>
                                        <tr>
                                            <td><label class="label label-warning">مستوفى بشروط</label></td>
                                            <td>00:03:45</td>
                                            <td><div id="sparkline-avg-time-on-site"></div></td>
                                        </tr>
                                        <tr>
                                            <td><label class="label label-default">ممتاز</label></td>
                                            <td>40.5%</td>
                                            <td><div id="sparkline-new-visits"></div></td>
                                        </tr>
                                        <tr>
                                            <td><label class="label label-inverse">مغلق</label></td>
                                            <td>73.4%</td>
                                            <td><div id="sparkline-return-visitors"></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>




                    </div>
                    <!-- end col-4 -->
                </div>*@
            </div>
        </div>
    </div>
</div>