﻿@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record
@using Modon.CommonDefinitions.DataContracts.Record
@model BuildingRecord[]


@{
    ViewBag.Title = @ResourceManager.UIGetResource("Dashboard");
}
        <div class="search-toolbar">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-6 -->
                <div class="col-md-6">
                    <a href="@Url.Action("AddBuilding","Building")" class="btn btn-success btn-lg m-b-10 pull-left">إضافة منشأة جديدة <i class="fa fa-plus"></i></a>

                </div>
                <!-- END col-6 -->
                <!-- BEGIN col-6 -->
                <div class="col-md-6 text-right f-s-20">
                    <i class="fa fa-circle text-success"></i>     المنشآت 
                </div>
                <!-- END col-6 -->
            </div>
            <!-- END row -->
        </div>
       
        <!-- end page-header -->
        <div class="row" dir="rtl">
            <div class="col-md-12 ">
                <div class="panel panel-default ">
                    
                    <div class="panel-body">
                        @if (Model != null && Model.Count() > 0)
    {
                        foreach (var item in Model)
                        {
                            <div class="product ">
                                <!-- BEGIN product-detail -->
                                <div class="product-detail">
                                    <!-- BEGIN product-image -->
                                    <!-- END product-image -->
                                    <!-- BEGIN product-info -->
                                    <div class="product-info">
                                        <!-- BEGIN product-info-header -->
                                        <div class="product-info-header">
                                            <h1 class="product-title text-right " style="font-size:24px">
                                                @if (item.StatusID == ConfigManager.GetUIInstance().Order_ApprovedStatusID)
                                                {
                                                    <span class="label label-l label-success "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_ApprovedStatusID_Slogan") </span>
                                                }
                                                else if (item.StatusID == ConfigManager.GetUIInstance().Order_NewStatusID)
                                                {
                                                    <span class="label label-warning "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_NewStatusID_Slogan") </span>
                                                }
                                                else if (item.StatusID == ConfigManager.GetUIInstance().Order_PendingForEditStatusID)
                                                {
                                                    <span class="label label-info "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_PendingForEditStatusID") </span>
                                                }
                                                else if (item.StatusID == ConfigManager.GetUIInstance().Order_PendingForManagerStatusID)
                                                {
                                                    <span class="label label-info "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_PendingForManagerStatusID") </span>
                                                }
                                                else if (item.StatusID == ConfigManager.GetUIInstance().Order_RejectedStatusID)
                                                {
                                                    <span class="label label-danger "><i class="fa fa-building-o"></i><br />@ResourceManager.UIGetResource("Order_RejectedStatusID_Slogan") </span>
                                                }
                                                @item.Name
                                            </h1>

                                        </div>
                                        <div class="row">
                                            <div class="checkout-body ">
                                                <!-- BEGIN checkout-message -->
                                                <div class="checkout-message">
                                                    <div class="table-responsive2">
                                                        <div class="col-md-6">
                                                            <table class="table ">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="30%" class="field text-success">@ResourceManager.UIGetResource("Email")</td>
                                                                        <td class="value "> @item.Email</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td class="field text-success">@ResourceManager.UIGetResource("Phone")</td>
                                                                        <td class="value">@item.Phone</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="field text-success">@ResourceManager.UIGetResource("OwnerName")</td>
                                                                        <td class="value"> @item.OwnerName</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="field text-success">@ResourceManager.UIGetResource("OwnerCID")</td>
                                                                        <td class="value">
                                                                            @item.OwnerCID
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <table class="table ">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="30%" class="field text-success">@ResourceManager.UIGetResource("ActivityTypeName")</td>
                                                                        <td class="value "> @item.ActivityTypeName</td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td class="field text-success">@ResourceManager.UIGetResource("AreaName")</td>
                                                                        <td class="value">@item.AreaName</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="field text-success">@ResourceManager.UIGetResource("StreetAdress")</td>
                                                                        <td class="value"> @item.StreetAdress</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="field text-success">@ResourceManager.UIGetResource("AreaSpace")</td>
                                                                        <td class="value">
                                                                            @item.AreaSpace
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <hr />
                                        <div class="row">
                                            <a href="@Url.Action("BuildingDetails", "Building", new { buildingID = item.ID })" class="m-l-15 pull-left"><i class="fa fa-info-circle fa-fw"></i> @ResourceManager.GetUIInstance().GetResource("BuildingDetails")</a>
                                            <a href="@Url.Action("BuildingLicence", "ModonOrder", new { buildingID = item.ID })"><i class="fa fa-plus-circle fa-fw"></i>  طلب إصدار رخصة نهائية</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        }

}

                    @*<ul class="popular-tags">
        <li><a href="#"><i class="fa fa-circle text-danger"></i> CSS</a></li>
        <li><a href="#"><i class="fa fa-circle text-primary"></i> Bootstrap</a></li>
        <li><a href="#"><i class="fa fa-circle text-warning"></i> Javascript</a></li>
        <li><a href="#"><i class="fa fa-circle"></i> jQuery</a></li>
        <li><a href="#"><i class="fa fa-circle text-success"></i> Android</a></li>
        <li><a href="#"><i class="fa fa-circle text-muted"></i> iOS</a></li>
        <li><a href="#"><i class="fa fa-circle text-purple"></i> Template</a></li>
    </ul>*@
else
{
                    <div class="col-md-12">
                        <center> <i class="fa fa-2x text-success fa-info-circle"></i></center>
                        <br />
                        <center> <h2>ليس لديك منشأت معتمدة ،، قم بإضافة منشأة للإستفادة من جميع خدماتنا</h2></center>
                        <br />
                    </div>
}

                    </div>
                </div>
            </div>
        </div>
        <div class="search-toolbar">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-6 -->
                <div class="col-md-6">
                    <a href="@Url.Action("AddT_Worker", "T_Worker")" class="btn btn-success btn-lg m-b-10 pull-left">إضافة عامل جديد <i class="fa fa-plus"></i></a>

                </div>
                <!-- END col-6 -->
                <!-- BEGIN col-6 -->
                <div class="col-md-6 text-right f-s-20">
                    <i class="fa fa-circle text-success"></i>    العمالة 
                </div>
                <!-- END col-6 -->
            </div>
            <!-- END row -->
        </div>
        <!-- end page-header -->
        <div class="row" dir="rtl">
            <div class="col-md-12 ">
                <div class="panel panel-default ">
                    <div class="panel-body">
                        <div class="col-md-12">
                            @*<center> <i class="fa fa-2x text-success fa-info-circle"></i></center>
                            <br />
                            <center><h4>ليس لديك عمالة مضافة ،، قم بإضافة عمالة للإستفادة من جميع خدماتنا</h4></center>
                            <br />*@
                            @Html.Action("ListT_Worker", "T_Worker")
                        </div>


                    </div>
                </div>
            </div>

        </div>


