﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@using PMApp.Modon.DAL6.EntitiesExtention;
@model  UserRecord
@{ Layout = "~/Views/Shared/_AnonimusLayout.cshtml";}
@{
    ViewBag.Title = ResourceManager.UIGetResource("LoginPage");
}


<div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-with-news-feed">
        <!-- begin news-feed -->
        <div class="news-feed">
            <div class="news-image">
                <img src="~/assets/img/login-bg.jpeg" data-id="login-cover-image" alt="" />
            </div>
            <div class="news-caption ">
                <h4 class="caption-title pull-right"><i class="fa fa-edit text-success pull-right"></i> نظام مدن لترخيص ورقابة وتقييم المنشآت فى المدن الصناعية الرئيسية</h4>
                <p class="pull-right" style="text-align:right">
                </p>
                <br />
                <div class="btn-group">
                    <button type="button" style="min-width:150px" class="btn btn-danger btn-filter f-s-16" data-target="pagado">غير مستوفية</button>
                    <button type="button" style="min-width:150px" class="btn btn-warning btn-filter f-s-16" data-target="pendiente">مستوفية بشروك</button>
                    <button type="button" style="min-width:150px" class="btn bg-yellow btn-filter f-s-16" data-target="cancelado">مستوفية بشروط</button>
                    <button type="button" style="min-width:150px" class="btn btn-success btn-filter f-s-16" data-target="cancelado">مستوفية</button>

                    <button type="button" style="min-width:150px" class="btn btn-default btn-filter f-s-16" data-target="all">ممتاز</button>
                </div>
            </div>
        </div>
        <!-- end news-feed -->
        <!-- begin right-content -->
        <div class="right-content">
            <!-- begin login-header -->
            <div class="login-header">
                <div class="brand">
                    <img src="~/assets/img/logo.png" width="80" height="100" />

                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <!-- end login-header -->
            <!-- begin login-content -->
            <div class="login-content">
                <form action="@Url.Action("Login","User")" method="POST" class="margin-bottom-0">
                    @Html.TextBoxFor(model => model.ApplicationCode, new { @placeholder = ConfigManager.DefaultApplicationCode, @Value = "Modon", @type = "hidden", @class = "form-control input-lg inverse-mode " })
                    <div class="form-group m-b-15">
                        <label class="control-label pull-right">البريد الإلكترونى <span class="text-danger">*</span></label>

                        @Html.TextBoxFor(model => model.Email, new { @placeholder = @ResourceManager.UIGetResource("EmailOrMobileNumber"), @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = " validation-message " })
                    </div>

                    <div class="form-group m-b-15">
                        <label class="control-label pull-right">كلمة المرور <span class="text-danger">*</span></label>

                        @Html.PasswordFor(model => model.Password, new { @placeholder = ResourceManager.UIGetResource("Password"), @class = "form-control input-lg" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = " validation-message " })
                    </div>
                    <div class="checkbox m-b-30 text-right">
                        <a onclick="forgotPassClick(this)" href="#" id="lnkForgotPass">@ResourceManager.UIGetResource("ForgetPassword?")</a>

                    </div>
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">دخول</button>
                    </div>
                    <div class="m-t-20 m-b-20 p-b-20 text-inverse text-right">
                        غير مشترك؟ إضغط <a href="~/User/AddUserRegisteration" class="text-success">هنا</a> وسجل بخطوات بسيطة.
                    </div>
                    <div class="error-message text-center">
                        @Html.ValidationMessage("CredentialError", new { @class = "text-danger" })
                    </div>
                    <input hidden name="ReturnUrl" value="@ViewBag.returnUrl" />
                    <hr />
                    <p class="text-center">
                        &copy; جميع الحقوق محفوظة 2018
                    </p>
                </form>
            </div>
            <!-- end login-content -->
        </div>
        <!-- end right-container -->
    </div>
    <!-- end login -->
</div>
<script>
    window.__LoginButtonappID =  '@ConfigManager.GetInstance(ApplicationManager.GetApplicationIDFromAppCode(ConfigManager.DefaultApplicationCode)).FaceBook_AppID';
</script>
<script>
    function forgotPassClick(e)
    {
        link = '@Url.Action("ForgetPassword", "User", new { email ="-1x" })';
       link= link.replace("-1x",$("#txtemail").val());
        $(e).attr("href", link);
    }
</script>


