﻿@using PMApp.Modon.DAL6;
@using Modon.Portal.Helpers;
@using PMApp.Core.Helpers;
@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@model List<UserRecord>
<style>
    .avatar2 {
        position: relative;
        top: -14px;
        float: right;
        right: -10px;
    }

    .purpleody {
        color: #5A55A3;
    }
</style>
<link href="~/Content/starrr2.css" rel="stylesheet" />
<script src="~/Content/starrr.js"></script>
@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        if (User.Identity.IsAuthenticated && AuthHelper.GetClaimValue("UserID") != null && item.ID == long.Parse(AuthHelper.GetClaimValue("UserID")))
        {
            <li class="media media-sm  " style="padding-top:5px;padding-left:5px">
                <a class="media-left" href="@Url.Action("ProfileDisplay", "Home", new { userID=item.ID })">
                    <img src="@Url.Content(item.ProfilePictureUrl)" alt="" class="media-object img-thumbnail " style="width:40px;height:40px" />
                    <div class="avatar2 purpleody">
                        <span class="fa-stack ">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-inverse fa-stack-1x arNumbers">@(item.RankOrder > 0 ? item.RankOrder + "" : "...") </i>
                        </span>
                    </div>

                    @*}*@
                </a>
                <div class="media-body">

                    <div class="media-body">
                        <h5 class="media-heading truncate200 text-white">
                            <i class="ion-ios-star"></i><b class="text-success">
                            </b>  @item.NickName
                        </h5>
                        <p><b><b class="arNumbers" style="color:#5A55A3"><i title="Evaluation Points" class="fa fa-line-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right"></i> : @item.Rank</b> <br /><span class="starrr educolor" data-rating="@item.Review" style="pointer-events:none"></span></b> </p>
                        @*@ResourceManager.UIGetResource("points"):@item.Rank |*@
                    </div>
                </div>
            </li>
        }
        else
        {
            <li class="media media-sm ">
                <a class="media-left" href="@Url.Action("ProfileDisplay", "Home", new { userID=item.ID })">
                    <img src="@Url.Content(item.ProfilePictureUrl)" alt="" class="media-object img-thumbnail " style="width:40px;height:40px" />
                    <div class="avatar2 purpleody">
                        <span class="fa-stack ">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-inverse fa-stack-1x arNumbers" >@(item.RankOrder > 0 ? item.RankOrder + "" : "1") </i>
                        </span>
                    </div>
                </a>
                <div class="media-body">
                    <h5 class="media-heading truncate200 text-white">
                        <i class="ion-ios-star"></i><b class="text-success">
                        </b>  @item.NickName
                    </h5>
                    <p><b class="purpleody"><b class="arNumbers"><i title="Evaluation Points" class="fa fa-line-chart" aria-hidden="true" data-toggle="tooltip" data-placement="right"></i> : @item.Rank</b> <br /><span class="starrr educolor" data-rating="@item.Review" style="pointer-events:none"></span></b> </p>

                </div>
            </li>
        }
    }
}
else
{
    <li class="media media-sm" style="background-color:white;border-radius:3%">
        <center>
            <div class="panel panel-success col-md-12">
                <div class="panel-body">
                    <i class="fa fa-5x fa fa-frown-o purpleody"></i>
                    <br />
                    <h4 class="text-black">@ResourceManager.UIGetResource("NoDataAvaialbleForRanking")</h4>
                </div>
            </div>
        </center>
    </li>

}

<script>
    $(document).ready(function () {
        $('[data-toggle=tooltip]').tooltip();
    });
</script>