﻿@using SBS.Wheresert.CommonDefinitions.DataContracts.Record;
@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@using PMApp.Core.Helpers
@using PMApp.Core.Base.Managers;
@using PMApp.Core.Base.Shared;
@model ProviderSubCategoryRecord[]

<div class="search-toolbar">
    <!-- BEGIN row -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="whersertBlue" style="font-size:medium">@ResourceManager.UIGetResource("SearchResults")</h4>

            @if (Model != null && Model.Count() > 0)
            {

            }
            else
            {
                <div class="col-md-12 col-sm-12">
                    <center>
                        <i class="fa fa-remove fa-3x whersertBlue"></i> <br /><br />  <h4 class="whersertBlue" style="font-size:medium">@ResourceManager.UIGetResource("NoDataAvailable")</h4>

                    </center>
                </div>

            }
        </div>
    </div>
    <!-- END row -->
</div>
@foreach (var item in Model)
{


    <div class="col-md-4 col-sm-4" style="padding-bottom:5px">
        <div class="item item-thumbnail">
            <a class="item-image bounceInUp animated " href="@Url.Action("ProfileDisplay", "Home", new { userID=item.UserID })">

                <img src="@UIHelper.ResolveServerUrl(item.ProviderImageUrl)" style="height:173px ;width:100%;" class="img-thumbnail" alt="" />
            </a>
            <div><center> <div class='starrr' data-rating="3"></div></center></div>

            <div class="item-info">
                <h4 class="item-title ">
                    <a class="" href="@Url.Action("DetailsSubCategory", "SubCategory", new { subCategoryID = item.SubCategoryID })"> @(UIHelperExtend.GetCookieLanguageEnum() == Language.Ar ? item.SubCategoryRecord.NameAr : item.SubCategoryRecord.Name) </a>
                </h4>

                <p class="item-desc text-muted">@item.ProviderName-@item.ProviderCountryName</p>
                @{var areasresult = String.Join(", ", item.ProviderAreaCoveredListString.ToArray());}
                <p class="item-desc text-success">@areasresult</p>


                <div class="item-desc" style="font-size:small;color:#ee2a5c"><i class="fa fa-money"></i> <b>@item.PriceFrom-@item.PriceTo </b></div>
                <br />
                <a href="@Url.Action("OrderNow", "PlaceOrder", new { providerSubCategoryID = item.ID })" class="btn btn-primary btn-sm   rollIn animated">@ResourceManager.UIGetResource("OrderNow")</a>

            </div>
        </div>
    </div>
}



