﻿@using PMApp.Modon.DAL6;
<div class="section-container">
    <div class=" row">
        <div class="bhoechie-tab-container col-md-12">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 bhoechie-tab-menu">
                <div class="list-group">
                    <a href="#" class="list-group-item active text-center" style="line-height:2">
                        <h1 class="glyphicon glyphicon-road"></h1><br /><b>@ResourceManager.UIGetResource("TopCategory")</b>
                    </a>
                    <a href="#" class="list-group-item  text-center" style="line-height:2">
                        <h1 class="glyphicon glyphicon-education"></h1><br /><b>@ResourceManager.UIGetResource("TopSubCategory")</b>
                    </a>
                    <a href="#" class="list-group-item  text-center" style="line-height:2">
                        <h1 class="glyphicon glyphicon-education"></h1><br /><b>@ResourceManager.UIGetResource("TopStudents")</b>
                    </a>

                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 bhoechie-tab">
                <div class="bhoechie-tab-content active">
                    <ul class="media-list" id="life-time" style="padding:0"></ul>
                </div>
                <div class="bhoechie-tab-content">
                    <ul class="media-list" id="RankSecondTabDuration" style="padding:0"></ul>
                </div>

                <div class="bhoechie-tab-content">
                    <ul class="media-list" id="RankThirdTabDuration" style="padding:0"></ul>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        @if (User.Identity.IsAuthenticated && ViewBag.hideDetailsBtn == null)
        {
            <a href="@Url.Action("RankingDetails")" class="btn btn-blue-grey btn-block more-details-btn">@ResourceManager.UIGetResource("MoreDetails...")</a>
        }
    </div>
</div>
<input type="checkbox" hidden checked="@ViewBag.calledCurrentUserRank" name="isProfileDisplay" />
<input type="checkbox" hidden checked="@ViewBag.hideDetailsBtn" name="isDetails" />

@BundleConfig.RenderScript("~/ScriptBundles/Home/PartialRanking")
<script>
    $('#life-time').slimScroll({
        height: '400px'
    });
    $('.default-select2').select2();
    $('#RankSecondTabDuration').slimScroll({
        height: '400px'
    });
    $('#RankThirdTabDuration').slimScroll({
        height: '400px'
    });
</script>
