﻿@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record;
@using Modon.Portal.Helpers;
@using PMApp.Core.Helpers;
@using PMApp.Core.Services.Managers;


@{
    ViewBag.Title = @ResourceManager.UIGetResource("Dashboard");
}
<div id="content" class="content">
    <ol class="breadcrumb pull-right hidden-xs hidden-sm">
        <li>
            <a id="lnkaddquestion" href="@Url.Action("AddQuestion", "Question")" class="btn btn-warning  faa-slow faa-horizontal  animated  btn-sm m-r-5 ">
                <i class="fa fa-magnet fa-2x  text-cyan-900 "></i>
                <b>@ResourceManager.UIGetResource("AskQuestionNow")</b>
            </a>
            <a id="lnklstquestion" href="@Url.Action("ListQuestion", "Question")" class="btn bg-cyan-600 btn-sm m-r-5 faa-slow faa-horizontal animated ">
                <i class="fa fa-trophy fa-2x  text-warning "></i>
                <b class="text-white">@ResourceManager.UIGetResource("AnswerQuestionNow")</b>
            </a>
        </li>
    </ol>
    <h1 class="page-header">@ViewBag.Title <small>@ResourceManager.UIGetResource("FastCheckYourActivities...")</small></h1>
    <br />
    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-2 ">
            <div class="widget widget-stats  bg-indigo">
                <div class="stats-icon"><i class="material-icons">add_shopping_cart</i></div>
                <div class="stats-info">
                    <h4>@ResourceManager.UIGetResource("MyPaidPoints")</h4>
                    <p class="arNumbers">@ViewBag.profile.PaidPoints</p>
                </div>
                <div class="stats-link">
                    @if (ViewBag.profile != null && ViewBag.profile.FreePoints > 0)
                    {
                        <a id="lnkbuymorepoints" class="arNumbers" style="font-size:x-small" href="@Url.Action("BuyMorePoints", "Payment")">

                            @ResourceManager.UIGetResource("FreePoints"): @ViewBag.profile.FreePoints
                        </a>
                    }
                    else
                    {
                        <a id="lnkbuymorepoints" class="arNumbers" style="font-size:xx-small;white-space:nowrap;" href="@Url.Action("ListUserWallet", "UserWallet", new { DBObjectID = ConfigManager.GetUIInstance().BuyMorePointsDBObjectID })">@ResourceManager.UIGetResource("ViewDetail") <i class="fa fa-arrow-circle-o-right"></i></a>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-2">
            <div class="widget widget-stats bg-blue">
                <div class="stats-icon"><i class="material-icons">card_giftcard</i></div>
                <div class="stats-info">
                    <h4>@ResourceManager.UIGetResource("MyEarningPoints")</h4>
                    <p class="arNumbers">@ViewBag.profile.EearningPoints</p>
                </div>
                <div class="stats-link">
                    <a id="lnkwallet" style="font-size:xx-small;white-space:nowrap;" href="@Url.Action("ListUserWallet", "UserWallet",new { DBObjectID=ConfigManager.GetUIInstance().QuestionDBObjectID})">@ResourceManager.UIGetResource("ViewDetail") <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-2">
            <div class="widget widget-stats bg-green-600">
                <div class="stats-icon"><i class="material-icons">lock_outline</i></div>
                <div class="stats-info">
                    <h4>@ResourceManager.UIGetResource("MyClosedQuestions")</h4>
                    <p class="arNumbers">@ViewBag.profile.MyClosedQuestions</p>
                </div>
                <div class="stats-link">
                    <a id="lnkmyquestions" style="font-size:xx-small;white-space:nowrap;" href="@Url.Action("MyQuestions", "Home",new { tabindex=1 })">@ResourceManager.UIGetResource("MyQuestions") <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-2">
            <div class="widget widget-stats bg-red-600">
                <div class="stats-icon"><i class="material-icons">lock_open</i></div>
                <div class="stats-info">
                    <h4>@ResourceManager.UIGetResource("MyOpenQuestions")</h4>
                    <p class="arNumbers">@ViewBag.profile.MyOpenQuestions</p>
                </div>
                <div class="stats-link">
                    <a class="arNumbers" id="lnkwallet" style="font-size:xx-small;white-space:nowrap;" href="@Url.Action("MyQuestions", "Home", new { tabindex = 0 })">@ResourceManager.UIGetResource("HoldQuestions'sPoints") : @ViewBag.profile.QuestionOnHoldPoints</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-2">
            <div class="widget widget-stats bg-cyan-600">
                <div class="stats-icon"><i class="material-icons">mode_edit</i></div>
                <div class="stats-info">
                    <h4>@ResourceManager.UIGetResource("MyAnswers")</h4>
                    <p class="arNumbers">@(ViewBag.profile.MyAnswers + ViewBag.profile.MyAwardedAnswers)</p>
                </div>
                <div class="stats-link">
                    <a id="lnksearch" style="font-size:xx-small;white-space:nowrap;" href="@Url.Action("MyQuestions", "Home", new { tabindex = 3 })">@ResourceManager.UIGetResource("ViewDetail") <i class="fa fa-arrow-circle-o-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-2">
            <div class="widget widget-stats bg-orange-600">
                <div class="stats-icon"><i class="material-icons">live_help</i></div>
                <div class="stats-info">
                    <h4>@ResourceManager.UIGetResource("MyAwardedAnswers")</h4>
                    <p class="arNumbers">@ViewBag.profile.MyAwardedAnswers</p>
                </div>
                <div class="stats-link">
                    <a class="arNumbers" id="lnkwallet" style="font-size:xx-small;white-space:nowrap;" href="@Url.Action("ListUserWallet", "UserWallet", new { DBObjectID = ConfigManager.GetUIInstance().QuestionDBObjectID })">@ResourceManager.UIGetResource("HoldAnswers'sPoints") : @ViewBag.profile.AnswerOnHoldPoints</a>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 @(UIHelper.GetCookieLanguageEnum() == Language.Ar ? "col-md-push-4" : "")">
            <div class="panel panel-success">
                <div class="panel-body">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#nav-pills-tab-1" data-toggle="tab">@ResourceManager.UIGetResource("MyOpenQuestions")</a></li>
                        <li><a href="#nav-pills-tab-5" data-toggle="tab">@ResourceManager.UIGetResource("MyClosedQuestions")</a></li>
                        <li><a href="#nav-pills-tab-6" data-toggle="tab">@ResourceManager.UIGetResource("MyCancelledQuestions")</a></li>
                        <li><a href="#nav-pills-tab-2" data-toggle="tab">@ResourceManager.UIGetResource("MyAnswers")</a></li>
                    </ul>
                    <div class="tab-content" style="background:transparent">
                        <div class="tab-pane fade active in" id="nav-pills-tab-1">
                            <div class="height-sm bg-black-lighter" data-scrollbar="true">
                                <ul class="media-list media-list-with-divider ">
                                    @if (ViewBag.MineOpenQuestions != null && ViewBag.MineOpenQuestions.Length > 0)
                                    {
                                        foreach (var item in (QuestionRecord[])ViewBag.MineOpenQuestions)
                                        {
                                            <div class="panel panel-success" data-sortable-id="ui-media-object-1">
                                                <div class="panel-body">
                                                    <li class="media media-sm ">
                                                        <a href="javascript:;" class="pull-left">
                                                            <div class="post-date" style="padding:0px">
                                                                <span class="day educolor arNumbers"> @item.eduPoints</span>
                                                                <span class="month educolor">@ResourceManager.UIGetResource("Points")</span>
                                                            </div>
                                                            @*<img src="@PMApp.Core.Helpers.UIHelper.ResolveServerUrl(item.CreatedByImageURL)" width="40" height="40" alt="" class="hidden-xs hidden-sm img-circle" />*@
                                                        </a>
                                                        <div class="media-body text-white">
                                                            <a href="@Url.Action("QuestionDetails", "Question", new { questionID=item.ID })"><h5 class="media-heading text-white f-s-13">@PMApp.Core.Helpers.PMExtentions.TruncateString(item.Title, 100)</h5></a>
                                                            <p>
                                                                <ul style="white-space:nowrap;">
                                                                    <li>
                                                                        <b class="educolor arNumbers f-s-10"> @ResourceManager.UIGetResource("Answers") @item.TotalAnswers</b>
                                                                    </li>
                                                                    <li>
                                                                        <span class="educolor f-s-10">@item.QuestionCountryName</span><span class="divider"> | </span>
                                                                        <span style="font-size:x-small" class="educolor"><b>@item.SubjectName</b></span> <span class="divider"> | </span><span href="#" style="font-size:x-small" class="educolor"><b>@item.GradeName</b></span>
                                                                        <span class="divider">|</span>
                                                                        <span class="arNumbers f-s-10"><i class="fa fa-thumbs-up text-success "></i> @item.TotalLikes</span>
                                                                        <span class="divider">|</span>
                                                                        <span class="total-comment f-s-10"><span class=" arNumbers "><i class="fa fa-thumbs-down text-danger"></i> @item.TotalDisLikes</span></span>
                                                                    </li>
                                                                </ul>
                                                                <i class="text-muted f-s-10"><b class="pull-right arNumbers">@TimeZoneHelper.ToCountryDateTime(item.CreationDate)</b></i>

                                                            </p>
                                                        </div>
                                                    </li>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <center><i class="fa fa-5x fa fa-frown-o text-warning"></i></center>
                                            <br />

                                            <center> <h4 class="text-black">@ResourceManager.UIGetResource("NoQuestionsAvaialble")</h4></center>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade  in" id="nav-pills-tab-5">
                            <div class="height-sm" data-scrollbar="true">
                                <ul class="media-list media-list-with-divider">
                                    @if (ViewBag.MineClosedQuestions != null && ViewBag.MineClosedQuestions.Length > 0)
                                    {
                                        foreach (var item in (QuestionRecord[])ViewBag.MineClosedQuestions)
                                        {
                                            <div class="panel panel-success" data-sortable-id="ui-media-object-1">
                                                <div class="panel-body">
                                                    <li class="media media-sm">
                                                        <a href="javascript:;" class="pull-left">
                                                            <div class="post-date" style="padding:0px">
                                                                <span class="day educolor arNumbers"> @item.eduPoints</span>
                                                                <span class="month educolor">@ResourceManager.UIGetResource("Points")</span>
                                                            </div>
                                                            @*<img src="@PMApp.Core.Helpers.UIHelper.ResolveServerUrl(item.CreatedByImageURL)" width="40" height="40" alt="" class="hidden-xs hidden-sm img-circle" />*@
                                                        </a>
                                                        <div class="media-body text-white">
                                                            <a href="@Url.Action("QuestionDetails", "Question", new { questionID=item.ID })"><h5 class="media-heading text-white">@PMApp.Core.Helpers.PMExtentions.TruncateString(item.Title, 100)</h5></a>
                                                            <p style="font-size:x-small">
                                                                <ul style="white-space:nowrap;">
                                                                    <li>
                                                                        <b class="educolor arNumbers f-s-10"> @ResourceManager.UIGetResource("Answers") @item.TotalAnswers</b>
                                                                    </li>
                                                                    <li>
                                                                        <span class="educolor f-s-10">@item.QuestionCountryName</span><span class="divider"> | </span>
                                                                        <span style="font-size:x-small" class="educolor"><b>@item.SubjectName</b></span> <span class="divider"> | </span><span href="#" style="font-size:x-small" class="educolor"><b>@item.GradeName</b></span>
                                                                        <span class="divider">|</span>
                                                                        <span class="arNumbers f-s-10"><i class="fa fa-thumbs-up text-success "></i> @item.TotalLikes</span>
                                                                        <span class="divider">|</span>
                                                                        <span class="total-comment f-s-10"><span class=" arNumbers "><i class="fa fa-thumbs-down text-danger"></i> @item.TotalDisLikes</span></span>
                                                                    </li>
                                                                </ul>
                                                                <i class="text-muted f-s-10"><b class="pull-right arNumbers">@TimeZoneHelper.ToCountryDateTime(item.CreationDate)</b></i>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <center><i class="fa fa-5x fa fa-frown-o text-warning"></i></center>
                                            <br />

                                            <center> <h4 class="text-black">@ResourceManager.UIGetResource("NoQuestionsAvaialble")</h4></center>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade  in" id="nav-pills-tab-6">
                            <div class="height-sm" data-scrollbar="true">
                                <ul class="media-list media-list-with-divider">
                                    @if (ViewBag.mineCancelledQuestionRecords != null && ViewBag.mineCancelledQuestionRecords.Length > 0)
                                    {
                                        foreach (var item in (QuestionRecord[])ViewBag.mineCancelledQuestionRecords)
                                        {
                                            <div class="panel panel-success" data-sortable-id="ui-media-object-1">
                                                <div class="panel-body">
                                                    <li class="media media-sm">
                                                        <a href="javascript:;" class="pull-left">
                                                            <div class="post-date" style="padding:0px">
                                                                <span class="day educolor arNumbers"> @item.eduPoints</span>
                                                                <span class="month educolor">@ResourceManager.UIGetResource("Points")</span>
                                                            </div>
                                                            @*<img src="@PMApp.Core.Helpers.UIHelper.ResolveServerUrl(item.CreatedByImageURL)" width="40" height="40" alt="" class="hidden-xs hidden-sm img-circle" />*@
                                                        </a>
                                                        <div class="media-body text-white">
                                                            <a href="@Url.Action("QuestionDetails", "Question", new { questionID=item.ID })"><h5 class="media-heading text-white">@PMApp.Core.Helpers.PMExtentions.TruncateString(item.Title, 100)</h5></a>
                                                            <p style="font-size:x-small">
                                                                <ul style="white-space:nowrap;">
                                                                    <li>
                                                                        <b class="educolor arNumbers f-s-10"> @ResourceManager.UIGetResource("Answers") @item.TotalAnswers</b>
                                                                    </li>
                                                                    <li>
                                                                        <span class="educolor f-s-10">@item.QuestionCountryName</span><span class="divider"> | </span>
                                                                        <span style="font-size:x-small" class="educolor"><b>@item.SubjectName</b></span> <span class="divider"> | </span><span href="#" style="font-size:x-small" class="educolor"><b>@item.GradeName</b></span>
                                                                        <span class="divider">|</span>
                                                                        <span class="arNumbers f-s-10"><i class="fa fa-thumbs-up text-success "></i> @item.TotalLikes</span>
                                                                        <span class="divider">|</span>
                                                                        <span class="total-comment f-s-10"><span class=" arNumbers "><i class="fa fa-thumbs-down text-danger"></i> @item.TotalDisLikes</span></span>
                                                                    </li>
                                                                </ul>
                                                                <i class="text-muted f-s-10"><b class="pull-right arNumbers">@TimeZoneHelper.ToCountryDateTime(item.CreationDate)</b></i>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <center><i class="fa fa-5x fa fa-frown-o text-warning"></i></center>
                                            <br />

                                            <center> <h4 class="text-black">@ResourceManager.UIGetResource("NoQuestionsAvaialble")</h4></center>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-pills-tab-2">
                            <div class="height-sm" data-scrollbar="true">
                                <ul class="media-list media-list-with-divider">
                                    @if (ViewBag.MineAnswers != null && ViewBag.MineAnswers.Length > 0)
                                    {
                                        foreach (var item in (AnswerRecord[])ViewBag.MineAnswers)
                                        {
                                            <div class="panel panel-success" data-sortable-id="ui-media-object-1">
                                                <div class="panel-body">
                                                    <li class="media media-sm">
                                                        <a href="javascript:;" class="pull-left">
                                                            <div class="post-date" style="padding:0px">
                                                                <span class="day educolor arNumbers"> @item.eduPoints</span>
                                                                <span class="month educolor">@ResourceManager.UIGetResource("Points")</span>
                                                            </div>
                                                        </a>
                                                        <div class="media-body text-white">
                                                            <a href="@Url.Action("QuestionDetails", "Question", new { questionID=item.QuestionID })">
                                                                <h5 class="media-heading text-white">
                                                                    <b class="btn btn-sm btn-warning ">Q :</b> @PMApp.Core.Helpers.PMExtentions.TruncateHTMLString(item.QuestionTitle, 300)
                                                                    <br />
                                                                    <br />
                                                                    @if (item.IsAwarded)
                                                                    {
                                                                        <b class="btn btn-sm btn-success"><i class="fa  fa-trophy"></i>&nbsp;  </b>
                                                                    }
                                                                    else
                                                                    {
                                                                        <b class="btn btn-sm btn-success">A :</b>
                                                                    }

                                                                    @PMApp.Core.Helpers.PMExtentions.TruncateHTMLString(item.Body, 300)
                                                                </h5>

                                                            </a>
                                                            <p style="font-size:x-small">

                                                                <span class="m-l-10 arNumbers"><i class="fa fa-thumbs-up text-success"></i> @item.TotalLikes</span>
                                                                <span class="divider">|</span> <span class="total-comment"><span class="m-l-10 arNumbers"><i class="fa fa-thumbs-down text-danger"></i> @item.TotalDisLikes</span></span>
                                                                <i class="text-muted"><b class="pull-right arNumbers">@TimeZoneHelper.ToCountryDateTime(item.CreationDate)</b></i>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <li>
                                            <center><i class="fa fa-5x fa fa-frown-o text-warning"></i></center>
                                            <br />

                                            <center> <h4 class="text-black">@ResourceManager.UIGetResource("NoAnswersAvaialble")</h4></center>
                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="widget-chart with-sidebar bg-black-lighter">
                        <div class="widget-chart-content">
                            <h4 class="chart-title">
                                @if (long.Parse(AuthHelper.GetClaimValue("UserRoleID")) == ConfigManager.GetUIInstance().TeacherRoleID)
                                {
                                    @ResourceManager.UIGetResource("AwardIndicator")
                                    <small>@ResourceManager.UIGetResource("MonthlyAwardedAnswersIndicator")</small>
                                }
                                @if (long.Parse(AuthHelper.GetClaimValue("UserRoleID")) == ConfigManager.GetUIInstance().StudentRoleID)
                                {
                                    @ResourceManager.UIGetResource("QuestionsIndicator")
                                    <small>@ResourceManager.UIGetResource("MonthlyOpenAndClosedQuestionsIndicator")</small>
                                }
                            </h4>
                            <div id="visitors-line-chart" class="morris-inverse" style="height: 260px;"></div>
                        </div>
                        <div class="widget-chart-sidebar bg-black-lighter">
                            <div class="chart-number">
                            </div>
                            <div id="visitors-donut-chart" style="height: 160px"></div>
                            <ul class="chart-legend">
                                <li><i style="color:rgba(0, 172, 193, 0.49)" class="fa fa-circle-o fa-fw  m-r-5"></i><span>@ResourceManager.UIGetResource("OpenQuestions")</span>&nbsp;&nbsp;    : @ViewBag.profile.MyOpenQuestions</li>
                                <li><i style="color:rgba(251, 140, 0, 0.7)" class="fa fa-circle-o fa-fw t m-r-5"></i><span>@ResourceManager.UIGetResource("ClosedQuestions")</span> : @ViewBag.profile.MyClosedQuestions</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-body">
                    <div id="gallery" class="gallery">
                        <div class="image col-md-4 col-sm-6 col-xs-6">
                            <div class="image-container">
                                <div class="image-inner">
                                    <a href="@Url.Action("Index", "UIMembership")">
                                        <img src="~/assets/img/d9.jpg" class="img-thumbnail" height="200" alt="" />
                                    </a>
                                    <p class="image-caption">
                                        @ResourceManager.UIGetResource("UpgradeMembership")
                                    </p>
                                </div>
                                <div class="image-info" style="background:transparent">
                                    <div class="desc educolor">
                                        @ResourceManager.UIGetResource("UpgradeMembershipToJoinMoreFeatures")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image col-md-4 col-sm-6 col-xs-6">
                            <div class="image-container">
                                <div class="image-inner">
                                    <a href="@Url.Action("BuyMorePoints", "Payment")">
                                        <img src="~/assets/img/d6.jpg" class="img-thumbnail" height="200" alt="" />
                                    </a>
                                    <p class="image-caption">
                                        @ResourceManager.UIGetResource("BuyMorePoints")
                                    </p>
                                </div>
                                <div class="image-info" style="background:transparent">
                                    <div class="desc educolor">
                                        @ResourceManager.UIGetResource("BuyMorePointsToUpgradeMembershipAndAskMore")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image col-md-4 col-sm-6 col-xs-6">
                            <div class="image-container">
                                <div class="image-inner">
                                    <a href="@Url.Action("AddQuestion", "Question")">
                                        <img src="~/assets/img/d7.jpg" class="img-thumbnail" height="200" alt="" />
                                    </a>
                                    <p class="image-caption">
                                        @ResourceManager.UIGetResource("AskQuestions")
                                    </p>
                                </div>
                                <div class="image-info" style="background:transparent">
                                    <div class="desc educolor">
                                        @ResourceManager.UIGetResource("AskQuestionAndGetTheAnswerFaster")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image col-md-4 col-sm-6 col-xs-6">
                            <div class="image-container">
                                <div class="image-inner">
                                    <a href="@Url.Action("Profile","Home")">
                                        <img src="~/assets/img/d8.jpg" class="img-thumbnail" height="200" alt="" />
                                    </a>
                                    <p class="image-caption">
                                        @ResourceManager.UIGetResource("CheckYourProfile")
                                    </p>
                                </div>
                                <div class="image-info" style="background:transparent">
                                    <div class="desc educolor">
                                        @ResourceManager.UIGetResource("CheckYourProfileForUpdatedInfo")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4 @(UIHelper.GetCookieLanguageEnum() == Language.Ar ? "col-md-pull-8" : "")">
            <div class="panel panel-success" data-sortable-id="ui-media-object-2">
                <div class="panel-body">
                    @Html.Action("PartialRanking", "Home")
                </div>
            </div>

            <div class="panel panel-success">
                <br />
                <center><h4 class="panel-title"><b>@ResourceManager.UIGetResource("RecentOpenQuestions")</b></h4></center>
                <div class="panel-body">
                    <div class="tab-content" style="background:transparent">
                        <div class="tab-pane fade active in" id="defaulb-1">
                            <div class="height-sm" data-scrollbar="true">
                                <ul class="media-list media-list-with-divider">
                                    @if (ViewBag.OpenQuestions != null)
                                    {
                                        foreach (var item in (QuestionRecord[])ViewBag.OpenQuestions)
                                        {
                                            <div class="panel panel-success" data-sortable-id="ui-media-object-1">
                                                <div class="panel-body">
                                                    <li class="media media-sm">
                                                        <a href="javascript:;" class="pull-left">
                                                            <div class="post-date" style="padding:0px">
                                                                <span class="day educolor arNumbers"> @item.eduPoints</span>
                                                                <span class="month educolor">@ResourceManager.UIGetResource("Points")</span>
                                                            </div>
                                                            @*<img src="@PMApp.Core.Helpers.UIHelper.ResolveServerUrl(item.CreatedByImageURL)" width="40" height="40" alt="" class="hidden-xs hidden-sm img-circle" />*@
                                                        </a>
                                                        <div class="media-body text-white">
                                                            <a href="@Url.Action("QuestionDetails", "Question", new { questionID=item.ID })"><h5 class="media-heading text-white">@PMApp.Core.Helpers.PMExtentions.TruncateString(item.Title, 100)</h5></a>
                                                            <p style="font-size:x-small">
                                                                <span class="m-l-10 arNumbers"><i class="fa fa-thumbs-up text-success "></i> @item.TotalLikes</span>
                                                                <span class="divider">|</span> <span class="total-comment"><span class="m-l-10 arNumbers "><i class="fa fa-thumbs-down text-danger"></i> @item.TotalDisLikes</span></span>
                                                                | <span style="font-size:x-small" class="educolor">@item.QuestionCountryName</span> <span class="divider">|</span> <span style="font-size:x-small" class="educolor"><b>@item.SubjectName</b></span>, <span href="#" style="font-size:x-small" class="educolor"><b>@item.GradeName</b></span> <span class="divider ">|</span><b style="font-size:x-small" class="educolor arNumbers"> @ResourceManager.UIGetResource("Answers") @item.TotalAnswers</b>
                                                                <i class="text-muted"><b class="pull-right arNumbers">@PMApp.Core.Services.Managers.UtilityServiceManager.UIToRelativeDate(item.CreationDate)</b></i>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </div>
                                            </div>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <br />
                <center><h4 class="panel-title"><b>@ResourceManager.UIGetResource("RecentClosedQuestions")</b></h4></center>
                <div class="panel-body">
                    <div class="tab-content" style="background:transparent">
                        <div class="tab-pane fade active in" id="defulb-1">
                            <div class="height-sm" data-scrollbar="true">
                                <ul class="media-list media-list-with-divider">
                                    @if (ViewBag.ClosedQuestions != null)
                                    {
                                        foreach (var item in (QuestionRecord[])ViewBag.ClosedQuestions)
                                        {
                                            <div class="panel panel-success" data-sortable-id="ui-media-object-1">
                                                <div class="panel-body">
                                                    <li class="media media-sm">
                                                        <a href="javascript:;" class="pull-left">
                                                            <div class="post-date" style="padding:0px">
                                                                <span class="day educolor arNumbers"> @item.eduPoints</span>
                                                                <span class="month educolor">@ResourceManager.UIGetResource("Points")</span>
                                                            </div>
                                                            @*<img src="@PMApp.Core.Helpers.UIHelper.ResolveServerUrl(item.CreatedByImageURL)" width="40" height="40" alt="" class="hidden-xs hidden-sm img-circle" />*@
                                                        </a>
                                                        <div class="media-body text-white">
                                                            <a href="@Url.Action("QuestionDetails", "Question", new { questionID=item.ID })"><h5 class="media-heading text-white">@PMApp.Core.Helpers.PMExtentions.TruncateString(item.Title, 100)</h5></a>
                                                            <p style="font-size:x-small">
                                                                <span class="m-l-10 arNumbers"><i class="fa fa-thumbs-up text-success "></i> @item.TotalLikes</span>
                                                                <span class="divider">|</span> <span class="total-comment"><span class="m-l-10 arNumbers "><i class="fa fa-thumbs-down text-danger"></i> @item.TotalDisLikes</span></span>
                                                                | <span style="font-size:x-small" class="educolor">@item.QuestionCountryName</span> <span class="divider">|</span> <span style="font-size:x-small" class="educolor"><b>@item.SubjectName</b></span>, <span href="#" style="font-size:x-small" class="educolor"><b>@item.GradeName</b></span> <span class="divider ">|</span><b style="font-size:x-small" class="educolor arNumbers"> @ResourceManager.UIGetResource("Answers") @item.TotalAnswers</b>
                                                                <i class="text-muted"><b class="pull-right arNumbers">@PMApp.Core.Services.Managers.UtilityServiceManager.UIToRelativeDate(item.CreationDate)</b></i>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </div>
                                            </div>
                                        }
                                    }
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@BundleConfig.RenderScript("~/ScriptBundles/Home/Home")

@if (long.Parse(AuthHelper.GetClaimValue("UserRoleID")) == ConfigManager.GetUIInstance().TeacherRoleID)
{
    <script>
        $(document).ready(function () {
            handleVisitorsDonutChart(@ViewBag.profile.MyOpenQuestions, @ViewBag.profile.MyClosedQuestions,"Open Question","Closed Question",'rgba(229, 57, 53, 0.61)','rgba(47, 255, 56, 0.35)');
            var teacherdata=[
                { x: '2017-01', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 1 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 1 && p.IsAwarded).Count()) },
                { x: '2017-02', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 2 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 2 && p.IsAwarded).Count()) },
                { x: '2017-03', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 3 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 3 && p.IsAwarded).Count()) },
                { x: '2017-04', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 4 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 4 && p.IsAwarded).Count()) },
                { x: '2017-05', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 5 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 5 && p.IsAwarded).Count()) },
                { x: '2017-06', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 6 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 6 && p.IsAwarded).Count()) },
                { x: '2017-07', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 7 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 7 && p.IsAwarded).Count()) },
                { x: '2017-08', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 8 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 8 && p.IsAwarded).Count()) },
                { x: '2017-09', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 9 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 9 && p.IsAwarded).Count()) },
                { x: '2017-10', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 10 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month ==10 && p.IsAwarded).Count()) },
                { x: '2017-11', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 10 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month ==10 && p.IsAwarded).Count()) },
                { x: '2017-12', y: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 12 && !p.IsAwarded).Count()), z: @((ViewBag.MineAnswers as AnswerRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month ==12 && p.IsAwarded).Count()) }
            ]
            handleVisitorsLineChart(teacherdata,"Answers","Awarded",'rgba(0, 172, 193, 0.49)','rgba(251, 140, 0, 0.7)');
        });

    </script>
}
@if (long.Parse(AuthHelper.GetClaimValue("UserRoleID")) == ConfigManager.GetUIInstance().StudentRoleID)
{
    <script>
        $(document).ready(function () {
            handleVisitorsDonutChart(@ViewBag.profile.MyAnswers, @ViewBag.profile.MyAwardedAnswers,"Answers","Awarded",'rgba(0, 172, 193, 0.49)','rgba(251, 140, 0, 0.7)');
            var studentdata=[
                        { x: '2017-01', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 1 ).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 1 ).Count()) },
                        { x: '2017-02', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 2 ).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 2 ).Count()) },
                        { x: '2017-03', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 3 ).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 3 ).Count()) },
                        { x: '2017-04', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 4 ).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 4 ).Count()) },
                        { x: '2017-05', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 5 ).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 5 ).Count()) },
                        { x: '2017-06', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 6 ).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 6 ).Count()) },
                        { x: '2017-07', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 7 ).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 7 ).Count()) },
                        { x: '2017-08', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 8 ).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 8 ).Count()) },
                        { x: '2017-09', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 9 ).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 9 ).Count()) },
                        { x: '2017-10', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 10).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month ==10 ).Count()) },
                        { x: '2017-11', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 10).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month ==10 ).Count()) },
                        { x: '2017-12', y: @((ViewBag.MineOpenQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month == 12).Count()), z: @((ViewBag.MineClosedQuestions as QuestionRecord[]).Where(p => p.CreationDate.Year == DateTime.Now.Year && p.CreationDate.Month ==12 ).Count()) }
            ]
            handleVisitorsLineChart(studentdata,"Open Question","Closed Question",'rgba(229, 57, 53, 0.61)','rgba(47, 255, 56, 0.35)');
        });
    </script>
}
