﻿@using PMApp.Modon.DAL6;
@using Modon.Portal.Helpers;
@using PMApp.Core.Helpers;
@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Core.Services.Managers;
@model UserRecord
@{
    ViewBag.Title = @ResourceManager.UIGetResource("Profile");
}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <!-- end breadcrumb -->
    <!-- begin page-header -->
   
    <h1 class="page-header">
        @ViewBag.Title <small>
    </small>
</h1>
<br />

<!-- begin profile-section -->
<!-- begin row -->

<div class="panel panel-success" data-sortable-id="ui-media-object-2">
    <div class="panel-body">
        @using (Html.BeginForm("Profile", "Home", FormMethod.Post, new { id = "formprfile", enctype = "multipart/form-data" }))
        {
            <input hidden value="@Model.ID" name="ID" id="hdnuserID" />        
            <input hidden value="@Model.RoleID" name="RoleID" />

            <div class="profile-left">
                <!-- begin profile-image -->
                <a data-toggle="tooltip" data-placement="bottom" title="@Model.EduLevelName">
                    <div class="profile-image">
                        <center>
                            <img src="~/assets/img/logo.png" id="img-profile" style="width:80%;height:150px" />
                        </center>
                    </div>
                </a>
                <br />
            </div>
            <div class="profile-right">
                <div class="profile-info">
                    <div style="border-radius:5px">
                        <div class="row">
                            <div class="col-md-7">
                                <table class="table table-condensed table-without-bg">
                                    <tbody>
                                        <tr>
                                            <td class="field  text-white col-md-2 col-sm-12 text-left hidden-sm ">@ResourceManager.UIGetResource("FullName")</td>
                                            <td class="col-md-4 col-sm-12">
                                                <a class="educolor" onclick="showSaveInfo();" href="#" id="username" data-type="text" data-pk="1" data-title="Enter Fullname">@Model.FullName </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="field  text-white col-sm-12 col-md-2 text-left hidden-sm">@ResourceManager.UIGetResource("Mobile")</td>
                                            <td class="col-md-4 col-sm-12 educolor"><i class="fa fa-mobile fa-lg m-r-5"></i><a class="educolor" href="#" id="mobile" onclick="showSaveInfo();" data-pk="1" data-placeholder="Required" data-title="Enter your Mobile"> @Model.phone1</a></td>
                                        </tr>
                                        <tr>

                                            <td class="field col-sm-12 text-white col-md-2 text-left hidden-sm">@ResourceManager.UIGetResource("Email")</td>
                                            <td class="col-md-4 col-sm-12 educolor"><a class="educolor" href="#" value="" id="emaill">@Model.Email</a></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <button id="btnsaveinfo" onclick="SubmitProfile();" class="btn btn-sm btn-primary pull-right">@ResourceManager.UIGetResource("SaveChanges")</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-5">
                                @*@Html.Action("PartialRanking", "Home", new { calledCurrentUserRank = true })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="profile-section">
            <div class="row">
                <div class="col-md-6">
                    <br />
                    <h4 class="title text-white"><a href="@Url.Action("ListUserWallet", "UserWallet")" class="educolor">المنشآت</a></h4>
                    <div data-scrollbar="true" data-height="280px">
                        <table class="table table-condensed table-without-bg">
                            <thead>
                                <tr>
                                    <th class="text-white">@ResourceManager.UIGetResource("Action")</th>
                                    <th class="text-white">@ResourceManager.UIGetResource("Name")</th>

                                    <th class="text-white">@ResourceManager.UIGetResource("Points")</th>
                                    <th class="text-white">@ResourceManager.UIGetResource("Date")</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in ViewBag.wallet)
                                {
                                    <tr>
                                        <td style="min-width:5%">
                                            <i class="fa fa-plus-square fa-fw text-success"></i>
                                        </td>
                                        <td style="min-width:5%">
                                            <b class="text-success">@item.UserFullName</b>
                                        </td>
                                        <td style="min-width:85%">
                                            <b class="text-warning">@item.Points</b>
                                        </td>
                                        <td style="min-width:5%"><a href="#" data-toggle="tooltip" data-placement="@(UIHelper.GetCookieLanguageEnum() == Language.En ? "left" : "right")" title="@item.Notes on @PMApp.Core.Helpers.TimeZoneHelper.ToCountryDateTime(item.CreationDate)"><i class=" glyphicon glyphicon-record text-warning"></i></a><span class="f-s-10 text-white"> @PMApp.Core.Helpers.TimeZoneHelper.ToCountryDateTime(item.CreationDate)</span></td>


                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col-md-6">
                    <br />
                    <h4 class="title educolor"> الطلبات</h4>
                    <div data-scrollbar="true" data-height="280px">
                        <table class="table table-condensed table-without-bg">
                            <thead>
                                <tr>
                                    <th class="text-white">@ResourceManager.UIGetResource("Action")</th>
                                    <th class="text-white">@ResourceManager.UIGetResource("Name")</th>

                                    <th class="text-white">@ResourceManager.UIGetResource("Points")</th>
                                    <th class="text-white">@ResourceManager.UIGetResource("Date")</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in ViewBag.wallet)
                                {
                                    <tr>
                                        <td style="min-width:5%">
                                            <i class="fa fa-plus-square fa-fw text-success"></i>
                                        </td>
                                        <td style="min-width:5%">
                                            <b class="text-success">@item.UserFullName</b>
                                        </td>
                                        <td style="min-width:85%">
                                            <b class="text-warning">@item.Points</b>
                                        </td>
                                        <td style="min-width:5%"><a href="#" data-toggle="tooltip" data-placement="@(UIHelper.GetCookieLanguageEnum() == Language.En ? "left" : "right")" title="@item.Notes on @PMApp.Core.Helpers.TimeZoneHelper.ToCountryDateTime(item.CreationDate)"><i class=" glyphicon glyphicon-record text-warning"></i></a><span class="f-s-10 text-white"> @PMApp.Core.Helpers.TimeZoneHelper.ToCountryDateTime(item.CreationDate)</span></td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="modal-alert">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="icon">
                            <div class="imagered"><i class="fa fa-thumbs-o-down"></i></div>
                            <div class="info">
                                <h3 class="title">@ResourceManager.UIGetResource("Failed")</h3>
                                <p>
                                    @if (SessionHelper.GetFailMessage() != null)
                                    {

                                        @Html.Raw(Json.Encode(SessionHelper.GetFailMessage()));
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-sm btn-blue-grey" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-success">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="icon">
                            <div class="image"><i class="fa fa-thumbs-o-up"></i></div>
                            <div class="info">
                                <h3 class="title">@ResourceManager.UIGetResource("Success")</h3>
                                <p>
                                    @if (SessionHelper.GetSuccessMessage() != null)
                                    {

                                        @Html.Raw(Json.Encode(SessionHelper.GetSuccessMessage()));
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-blue-grey" data-dismiss="modal">@ResourceManager.UIGetResource("Close")</a>
            </div>
        </div>
    </div>
</div>
@if (SessionHelper.GetSuccessMessage() != null)
{
    <script>
        $(document).ready(function () {
            $('#modal-success').modal('show');
        });
    </script>
    SessionHelper.RemoveSuccessMessage();
    UIHelper.ClearCache(Response);
}
@if (SessionHelper.GetFailMessage() != null)
{
    <script>
        $(document).ready(function () {
            $('#modal-alert').modal('show');
        });
    </script>
    SessionHelper.RemoveFailMessage();
    UIHelper.ClearCache(Response);
}
@BundleConfig.RenderScript("~/ScriptBundles/Home/Home")





