﻿@{
    ViewBag.Title = PMApp.Modon.DAL6.ResourceManager.UIGetResource("Ranking");
}
<link href="~/Content/starrr.css" rel="stylesheet" />

<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li>
            <a href="@Url.Action("AddQuestion", "Question")" class="btn btn-warning btn-block btn-xs m-r-5 ">
                @PMApp.Modon.DAL6.ResourceManager.UIGetResource("AskQuestionNow")
            </a>
        </li>

    </ol>
    <h1 class="page-header">
        @ViewBag.Title
    </h1>
    <div class="row">
        
            <div class="panel panel-success" data-sortable-id="ui-media-object-2">
                <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2">
                        @Html.Action("PartialRanking", "Home", new { isDetails = true })
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass("active");
            $(this).addClass("active");
            var index = $(this).index();
            $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
            $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        });
    });
</script>