﻿@using PMApp.Modon.DAL6;
@using SBS.Wheresert.Portal.Helpers;
@using PMApp.Core.Helpers;
@using PMApp.Core.Base.Managers;
@using PMApp.Core.Base.Shared;
<div class="search-sidebar">
    <h4 class="title whersertBlue"><b>@ResourceManager.UIGetResource("FilterBy")</b></h4>
    <form action="LoadSearch" id="frmSearch" method="POST">
        <div class="form-group">
            <label class="control-label whersertBlue "><b>@ResourceManager.UIGetResource("KeyWords")</b></label>
            <textarea type="text" class="form-control input-sm" name="SubCategoryName" placeholder="@ResourceManager.UIGetResource("EnterKeywords")"></textarea>
        </div>
        <div class="form-group">
            <label class="control-label whersertBlue"><b>@ResourceManager.UIGetResource("Price")</b></label>
            <div class="row row-space-0">
                <div class="col-md-5">
                    <input type="number" class="form-control input-sm" name="PriceFrom" value="10" placeholder="@ResourceManager.UIGetResource("PriceFrom")" />
                </div>
                <div class="col-md-2 text-center p-t-5 f-s-12 whersertBlue"><b>@ResourceManager.UIGetResource("to")</b></div>
                <div class="col-md-5">
                    <input type="number" class="form-control input-sm" name="PriceTo" value="1000" placeholder="@ResourceManager.UIGetResource("PriceTo")" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label whersertBlue"><b>@ResourceManager.UIGetResource("Country")</b></label>
                    <select class=" form-control CountryID" id="ddlcountry" style="width:100%" name="CountryID" onchange="loadArea();">
                        @foreach (var item in ViewBag.country)
                        {

                            if ((ViewBag.model != null && ViewBag.model.CountryID > 0 && ViewBag.model.CountryID == item.ID) || (ViewBag.model == null && User.Identity.IsAuthenticated && !string.IsNullOrEmpty(AuthHelper.GetClaimValue("CountryID")) && long.Parse(AuthHelper.GetClaimValue("CountryID")) == item.ID) || (!User.Identity.IsAuthenticated && ViewBag.IPCountryID != null && ViewBag.IPCountryID == item.ID))
                            {
                                <option value="@item.ID" selected>@item.Name </option>
                            }
                            else
                            {
                                <option value="@item.ID">@item.Name </option>

                            }

                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="whersertBlue">
                        @ResourceManager.UIGetResource("Areas")
                    </label>
                    <div>
                        <select class=" form-control" name="AreaID" style="width:100%" id="ddlarea">

                        </select>
                    </div>
                </div>

            </div>

        </div>
        <div class="m-b-30">
            <button type="button" onclick="submitNReload();" class="btn btn-sm btn-primary btn-block"><i class="fa fa-search"></i> @ResourceManager.UIGetResource("Filter")</button>
        </div>
        <input hidden name="CategoryID" id="hdnCat" value="@ViewBag.Cat[0].ID">

    </form>
    <h4 class="title m-b-0 whersertBlue"><b class="whersertBlue">@ResourceManager.UIGetResource("Categories")</b></h4>

    <ul class="search-category-list animated flip">
        @foreach (var item in ViewBag.Cat)
        {
            if (ViewBag.Cat[0].ID == item.ID)
            {
                <li><a href="javascript:;" class="lblcat animated faa-pulse faa-slow text-pink f-s-20" onclick="setCatIDInput(@item.ID,this);"> @(UIHelperExtend.GetCookieLanguageEnum() == Language.Ar ? item.NameAr : item.Name) <span class="@(UIHelperExtend.GetCookieLanguageEnum() == Language.Ar ? "pull-left whersertRed" : "pull-right whersertRed") whersertblue"><i class="fa fa-hand-o-up"></i></span></a></li>
            }
            else
            {
                <li><a href="javascript:;" class="whersertBlue lblcat" onclick="setCatIDInput(@item.ID,this);">@(UIHelperExtend.GetCookieLanguageEnum() == Language.Ar ? item.NameAr : item.Name) <span class="@(UIHelperExtend.GetCookieLanguageEnum() == PMApp.Core.Base.Shared.Language.Ar ? "pull-left whersertRed" : "pull-right whersertRed") whersertblue"><i class="fa fa-hand-o-up"></i></span></a></li>

            }
        }
    </ul>

</div>





