﻿@using SBS.Wheresert.CommonDefinitions.DataContracts.Record;
@using PMApp.Core.Base.Managers;
@using SBS.Wheresert.Portal.Helpers;
@using PMApp.Core.Base.Managers;
@model ProviderSubCategoryRecord[]
@{
    ViewBag.Title = @ResourceManager.UIGetResource("Search");
}

<input hidden value="@ViewBag.pageIndex" name="pageIndex" id="pageIndex" />
<input hidden value="false" id="hasmore" />
<div id="search-results" class="section-container">

    <!-- BEGIN container -->
    <div class="container" style="background:#d8d3d36b">

        <br />                <div class="search-container">
            <!-- BEGIN search-content -->
            <div class="search-content" id="search-resultDiv">


                @Html.Partial("~/Views/Home/LoadSearch.cshtml", Model)
            </div>
            @*<div class="text-center" id="btnloadmore">
                    <ul class="pagination m-t-0">
                        <li><a class="btn btn-warning" href="javascript:;">Load More</a></li>

                    </ul>
                </div>*@
            <!-- END search-content -->
            <!-- BEGIN search-sidebar -->
            @Html.Partial("SearchFilter")

            <!-- END search-sidebar -->
        </div>
        <br />
    </div>
    <!-- END container -->
</div>
<script>
    function submitNReload() {
        var form = $('#frmSearch');
        var url = form.attr('action');
        SBSAjax({
            cache: false,
            async: true,
            type: "POST",
            url: form.attr('action'),
            data: form.serialize(),
            success: function (data) {
                msg = data.message;
                $("#search-resultDiv").html(data.html);
                if (!data.HasMore) {
                    $("#btnloadmore").hide();
                }
                else {
                    $("#btnloadmore").show();
                }
            }
        });
    }
    function setCatIDInput(cat, e) {
        $("#hdnCat").val(cat);
        submitNReload();
        $(".lblcat").removeClass("animated faa-pulse faa-slow text-pink f-s-20");
        $(e).addClass("animated faa-pulse faa-slow text-pink f-s-20");
    }
</script>
<script>
    function loadArea() {
        var countryID = $('#ddlcountry option:selected').val();
        if (countryID != "0") {
            SBSAjax({
                url: ResolveUrl("~/User/FillAreas"),
                type: "Post",
                data: {
                    countryID: countryID
                },
                success: function (response) {
                    $('#ddlarea').empty();
                    $('#ddlarea').append('<option selected value="0">' + '@ResourceManager.UIGetResource("Select")' + '</option>');
                    var areaID = @ViewBag.AreaID;
                    for (var i = 0; i < response.length; i++) {
                        var selected = '';
                        if (response[i].ID == areaID) {
                             selected ='selected';
                        }
                        $('#ddlarea').append('<option  ' + selected + ' value="' + response[i].ID + '">' + response[i].Name + '</option>');
                    }
                }
            });
        }
    };

    $(document).ready(function () {
        loadArea();
    });
</script>


