﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record;


@model  T_HealthCardRecord


@{
    ViewBag.Title = "تقديم طلب اصدار شهادة صحية";
}

<style>
    .well {
        background-color: #ffffff;
    }
</style>





@using (Html.BeginForm("AddT_HealthCard", "T_HealthCard", FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "true", name = "form-wizard", id = "form-wizard" }))
{
    <div class="search-toolbar" dir="rtl">
        <h2>تقديم طلب اصدار شهادة صحية</h2>
        <div class="row" dir="rtl">
            <div class="col-md-8 col-md-offset-2">
                <h2>بيانات العامل  </h2>

                <div class="row m-b-15">
                    <div class="col-md-6 ">
                        <label class="control-label pull-right">رقم الاقامة<span class="text-danger"></span></label>
                        <input type="text" class="form-control " value=@ViewBag.WNID required disabled />

                    </div>

                    <div class="col-md-6 ">
                        <label class="control-label pull-right">اسم العامل<span class="text-danger"></span></label>
                        <input type="text" class="form-control " value=@ViewBag.WorkerName required disabled />
                    </div>
                </div>
                <div class="row m-b-15">
                    <div class="col-md-6 ">
                        <label class="control-label pull-right">رقم الجوال<span class="text-danger"></span></label>
                        <input type="text" class="form-control " value=@ViewBag.W_Mobile " required disabled  />
                    </div>

                    <div class="col-md-6 ">
                        <input type="text" class="form-control " value=@ViewBag.W_Job required disabled />
                        <p class="text-success f-s-12"><i class="fa fa-check text-success"></i> المهنة   </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" dir="rtl">
            <div class="col-md-8 col-md-offset-2">
                <h2>بيانات التقرير الطبي</h2>
                <div class="row m-b-15">
                    <div class="col-md-4 ">
                        <label class="control-label pull-right">رقم التقرير الطبي الصادر من المستشفى <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.HRepNo, new { @class = "form-control", @data_parsley_group = "wizard-step-1", @required = "required" })
                    </div>
                    <div class="col-md-4 ">
                        <label class="control-label pull-right">تاريخ التقرير الطبي الصادر من المستشفى <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.HRepDate, new { @class = "form-control ", @data_parsley_group = "wizard-step-1", @required = "required", @type = "date" })
                    </div>
                    <div class="col-md-4">
                        <label class="control-label pull-right">المستشفى الصادر منها التقرير الطبي <span class="text-danger">*</span></label>
                        @Html.DropDownListFor(model => model.HRep_HospId, new SelectList((UserRecord[])@ViewBag.UserList, "ID", "FullName"), new { @class = "form-control default-select2", @id = "ddlHospital", @required = "required" })
                    </div>
                </div>

                <div class="form-group  ">
                    <label class="pull-right m-b-15">إرفاق صورة التقرير الطبي  </label>
                    <br />
                    <div class="file-upload">
                        <div class="image-upload-wrap image-upload-wrap">
                            <input name="HRepFile" class="file-upload-input" type='file' onchange="readURL(this);" data-parsley-group="wizard-step-1" required="required" />
                            <div class="drag-text text-center">
                                <div class="alert alert-warning fade in m-b-15">
                                    <span class=" f-s-20">
                                        <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا  </h6>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="file-upload-content file-upload-content">
                            <div class="image-title-wrap">
                                <div class="alert alert-success fade in m-b-15">
                                    <span class="image-title image-title f-s-20">الملف </span>
                                    <span style="color:red" class="close text-danger" onclick="removeUpload2()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-b-15">
                    <div class="col-md-12">
                        <label class="control-label pull-right">مـــلاحــظـات <span class="text-danger"></span></label>
                        @Html.TextAreaFor(model => model.HC_ReqNote, new { @class = "form-control", @data_parsley_group = "wizard-step-1" })
                    </div>
                </div>

                <hr />
                <button type="submit" class="btn btn-success btn-block  btn-lg pull-left">تقديم طلب اصدار شهادة صحية</button>
            </div>
        </div>
    </div>
 


    }




    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.image-upload-wrap').hide();
                    $('.image-title').html(input.files[0].name);
                    $('.file-upload-content').show();
                };

                reader.readAsDataURL(input.files[0]);

            } else {
                removeUpload();
            }
        }



        function removeUpload() {
            $('.file-upload-input0').replaceWith($('.file-upload-input0').clone());
            $('.file-upload-content0').hide();
            $('.image-upload-wrap0').show();
        }


    </script>
