﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@model T_HealthCardRecord[]

@{ Layout = "~/Views/Shared/_ELayout.cshtml";}
@{
    ViewBag.Title = "قائمة طلبات الشهادات الصحية الجديدة";
}

<h2>قائمة طلبات الشهادات الصحية</h2>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row demo-container">
                    <table class="table table-striped table-bordered dataTable no-footer data-table" role="grid" aria-describedby="datatable_info" dir="rtl">
                        <thead>
                            <tr>
                                <th class="text-right">رقم الطلب</th>
                                <th class="text-right">رقم التقرير الطبي</th>
                                <th class="text-right">تاريخ تقديم الطلب</th>
                                <th class="text-right">اسم العامل</th>
                                <th class="text-right">رقم الهوية</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td class="text-primary">@item.W_NID_NO</td>
                                        <th class="text-right">@item.HRepNo</th>
                                        <td class="text-right">@item.CreationDate</td>
                                        <td class="text-right">@item.HC_Worker.W_Name</td>
                                        <td class="text-right">@item.HC_Worker.W_NID_NO</td>
                                        <td><a href="@Url.Action("DetialsT_HealthCard", "T_HealthCard", new { HCID = item.ID })" class=" btn btn-sm btn-success">  اصدار شهادة صحية <i class=" fa fa-refresh  text-white"></i></a>   </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>