﻿

@using Modon.CommonDefinitions.DataContracts.Record
@using PMApp.Modon.DAL6;
@model T_HealthCardRecord[]

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row demo-container">
                    <table class="table table-striped table-bordered dataTable no-footer data-table" role="grid" aria-describedby="datatable_info" dir="rtl">
                        <thead>
                            <tr>
                                <th class="text-right">رقم الشهادة</th>
                                <th class="text-right">اسم العامل</th>
                                <th class="text-right">رقم الهوية</th>
                                <th class="text-right">تاريخ الاصدار</th>
                                <th class="text-right">تاريخ الانتهاء</th>
                                <th class="text-right">   المهنة</th>
                                <th class="text-right">   اسم صاحب العمل</th>


                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.HC_NO</td>
                                        <th class="text-right">@item.HC_Worker.W_Name</th>
                                        <th class="text-right">@item.W_NID_NO</th>
                                        <td class="text-primary">@item.HC_StratDate</td>
                                        <td class="text-primary">@item.HC_Worker.W_Job</td>
                                        <td class="text-primary">@item.HC_Worker.W_KafeelName</td>
                                        
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
