﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@model T_HealthCardRecord

@{ Layout = "~/Views/Shared/_ELayout.cshtml";}
@{
    ViewBag.Title = "ارسال تقرير طبي عن عامل";
}

<h1 class="page-header">ارسال تقرير طبي عن عامل </h1>

<div class="row" dir="rtl">
    <div class="col-sm-6" style="float:right">
        <div class="input-group m-b-6">
            <input type="text" id="txt_w_NID_NO" class="form-control input" placeholder="رقم هوية العامل">
            <div class="input-group-btn">
                <button type="button" onclick="HCheckWorker( )" class="btn btn-success"><i class="fa fa-search"></i> بحث</button>
            </div>
        </div>
    </div>
</div>


<script>
    debugger;
    function HCheckWorker(msg, WID ) {
            swal({
                title:   "رقم العامل",
                text: document.getElementById("txt_w_NID_NO").value,
                type: "success",
                showCancelButton: true,
                inputPlaceholder: "Write something",
                confirmButtonClass: 'btn-success',
            }, function (isConfirm) {
                if (isConfirm) {
                    SBSAjax({
                        url: '@Url.Action("HCheckWorker", "T_HealthCard")',
                        data: {
                            WID: document.getElementById("txt_w_NID_NO").value,
                          
                        },
                        success: function (response) {

                            Notify(response, response);
                            if (ViewBag.workerID != null) 
                            window.location.href = ResolveUrl('~/T_HealthCard/AddT_HealthCard?workerID=' + ViewBag.workerID + '/')
                        },
                        error: function (response) {
                            Notify(response, response);

                        }
                    });
                }
            }
               );
        };

</script>

