﻿ @using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@model T_HealthCardRecord[]
@{ Layout = "~/Views/Shared/_ELayout.cshtml";}


@{
    ViewBag.Title = "استعراض طلبات الشهادات الصحية";
}
<div class="search-toolbar">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-6 -->
        <div class="col-md-6">
        </div>
        <!-- END col-6 -->
        <!-- BEGIN col-6 -->
        <div class="col-md-6 text-right f-s-20">
            <i class="fa fa-circle text-success"></i>
            @ViewBag.Title
        </div>
        <!-- END col-6 -->
    </div>
    <!-- END row -->
</div>



<div id="content" class="content">
    <!-- begin breadcrumb -->
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <!-- end page-header -->
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success" href="#tab1" data-toggle="tab">
                <span class="fa fa-2x fa-info text-warning" aria-hidden="true"></span>
                <div class="hidden-xs"> الشهادات السارية  </div>
            </button>
        </div>
         
         
    </div>
    <div class="well">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
                <div class="row demo-container">
                    <table class="table table-striped table-bordered dataTable no-footer data-table" role="grid" aria-describedby="datatable_info" dir="rtl">
                        <thead>
                            <tr>
                                <th class="text-right">رقم الطلب</th>
                                <th class="text-right">رقم التقرير الطبي</th>
                                <th class="text-right">تاريخ تقديم الطلب</th>
                                <th class="text-right">اسم العامل</th>
                                <th class="text-right">رقم الهوية</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td class="text-primary">@item.W_NID_NO</td>
                                        <th class="text-right">@item.HRepNo</th>
                                        <td class="text-right">@item.CreationDate</td>
                                        <td class="text-right">@item.HC_Worker.W_Name</td>
                                        <td class="text-right">@item.HC_Worker.W_NID_NO</td>
                                        <td><a href="@Url.Action("StopDetialsHC", "T_HealthCard", new { HCID = item.ID })" class=" btn btn-sm btn-success">ايقاف شهادة صحية <i class=" fa fa-refresh  text-white"></i></a>   </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            

        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        $(".btn-pref .btn").click(function () {
            $(".btn-pref .btn").removeClass("btn-success").addClass("btn-inverse");
            // $(".tab").addClass("active"); // instead of this do the below
            $(this).removeClass("btn-inverse").addClass("btn-success");
        });
    });
</script>



