﻿
@using Modon.CommonDefinitions.DataContracts.Record
@using PMApp.Modon.DAL6;
@model T_HealthCardRecord[]

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row demo-container">
                    <table class="table table-striped table-bordered dataTable no-footer data-table" role="grid" aria-describedby="datatable_info" dir="rtl">
                        <thead>
                            <tr>
                                <th class="text-right">رقم الطلب</th>
                                <th class="text-right">تاريخ تقديم الطلب</th>
                                <th class="text-right">اسم العامل</th>
                                <th class="text-right">رقم الهوية</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td class="text-primary">@item.CreationDate</td>
                                        <td class="text-right">@item.WorkerName</td>
                                        <td class="text-right">@item.W_NID_NO</td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
