﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@model T_HealthCardRecord

@{ Layout = "~/Views/Shared/_ELayout.cshtml";}
@{
    ViewBag.Title = "اصدار شهادة صحية";
}

<h2>اصدار الشهادات الصحية</h2>


<div class="row" dir="rtl">
    <div class="col-md-8 col-md-offset-2">
        <h3> بيانات العامل</h3>
        <div class="row m-b-15">

            <div class="col-md-6 ">
                <label class="control-label pull-right">صورة الاقامة<span class="text-danger"></span></label>
                <img src="@Model.HC_Worker.W_NID_imgURL" height="150" class="coupon-img img-rounded">

            </div>
            <div class="col-md-6 ">
                <label class="control-label pull-right">صورة العامل<span class="text-danger"></span></label>
                <img src="@Model.HC_Worker.W_imgURL" height="150" class="coupon-img img-rounded">
            </div>

        </div>

        <div class="row m-b-15">
            <div class="col-md-6 ">
                <label class="control-label pull-right"> رقم الاقامة<span class="text-danger"></span></label>
                <input type="text" class="form-control " value="@Model.HC_Worker.W_NID_NO " required disabled />
            </div>

            <div class="col-md-6 ">
                <label class="control-label pull-right"> اسم العامل  <span class="text-danger"></span></label>
                <input type="text" class="form-control " value="@Model.HC_Worker.W_Name" required disabled />
            </div>
        </div>
        <div class="row m-b-15">
            <div class="col-md-6 ">
                <label class="control-label pull-right"> رقم الجوال   <span class="text-danger"></span></label>
                <input type="text" class="form-control " value="@Model.HC_Worker.W_Mobile" required disabled />

            </div>

            <div class="col-md-6 ">
                <label class="control-label pull-right">  المهنة     <span class="text-danger"></span></label>
                <input type="text" class="form-control " value="@Model.HC_Worker.W_Job" required disabled />

            </div>
        </div>
        <div class="row m-b-15">
            <div class="col-md-6 ">
                <label class="control-label pull-right">  تاريخ انتهاء الاقامة     <span class="text-danger"></span></label>
                <input type="text" class="form-control " value="@Model.HC_Worker.W_NID_EndDate" required disabled />
            </div>

            <div class="col-md-6 ">
                <label class="control-label pull-right">  صاحب العمل     <span class="text-danger"></span></label>
                <input type="text" class="form-control " value="@Model.HC_Worker.W_KafeelName" required disabled />
            </div>
        </div>
        <hr />

        <div class="row m-b-15">
            <h3> بيانات التقرير الطبي</h3>



            <div class="col-md-4 ">
                <label class="control-label pull-right">  تاريخ اصدار التقرير الطبي     <span class="text-danger"></span></label>
                <input type="text" class="form-control " value="@Model.HRepDate" required disabled />
            </div>
            <div class="col-md-4 ">
                <label class="control-label pull-right">  رقم التقرير الطبي     <span class="text-danger"></span></label>
                <input type="text" class="form-control " value="@Model.HRepNo" required disabled />
            </div>

            <div class="col-md-4 ">
                <label class="control-label pull-right">  المستشفي الصادر منها التقرير الطبي     <span class="text-danger"></span></label>
                <input type="text" class="form-control " value="ViewBag.HostpitalName" required disabled />
            </div>

        </div>



        <div class="row m-b-15">
            <label class="control-label pull-right">  صورة التقرير الطبي     <span class="text-danger"></span></label>
            <img src="@Model.HRep_FileURL" height="650" width="350" class="coupon-img img-rounded">
        </div>



        <label class="control-label pull-right">ملاحظات مرسل الطلب <span class="text-danger"></span></label>
        <textarea rows="5" class="form-control" style="width:100%" width="100%" disabled>@Model.HC_ReqNote </textarea>
        <br />


        <hr />
        <label class="control-label pull-right">سبب الايقاف <span class="text-danger"></span></label>
        @Html.TextAreaFor(model => model.HC_StopReason, new { @class = "form-control", @required = "required" })
        <br />

        <br />
        <button type="submit" onclick="ChangeHCStatus('هل أنت متأكد من ايقاف الشهادة الصحية؟','@Model.HC_Worker.W_Name','@Model.ID',5)" class="btn btn-danger  btn-lg"> ايقاف شهادة صحية </button>



    </div>
</div>


<script>
    function ChangeHCStatus(headmsg,msg,hcID, sID) {
            swal({
                title: headmsg,
                text: msg,
                type: "success",
                showCancelButton: true,
                inputPlaceholder: "Write something",
                confirmButtonClass: 'btn-success',
            }, function (isConfirm) {
                if (isConfirm) {
                    SBSAjax({
                        url: '@Url.Action("ChangeHCStatus", "T_HealthCard")',
                        data: {
                            statusID: parseInt(sID),
                            buildingID: parseInt(hcID),
                        },
                        success: function (response) {

                            Notify(response, response);
                            window.location.href = ResolveUrl('~/T_HealthCard/EListHC/')
                        },
                        error: function (response) {
                            Notify(response, response);

                        }
                    });
                }
            }
               );
        };

</script>



