﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record;
@model UserWalletRecord
@{
    ViewBag.Title = ResourceManager.UIGetResource("AddUserWallet");
}

<div id="content" class="content">
    <h1 class="page-header">
        @ViewBag.Title
    </h1>
    @using (Html.BeginForm("AddUserWallet", "UserWallet", FormMethod.Post, new { id = "formAskQuestion", enctype = "multipart/form-data", @class = "col-md-8 col-md-offset-2" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row demo-container">
                            @if (long.Parse(Modon.Portal.Helpers.AuthHelper.GetClaimValue("UserRoleID")) == ConfigManager.GetUIInstance().SupervisorRoleID)
                            {
                                <div class="form-group">
                                    <label>
إختيار عضو                                    </label>
                                    <div>
                                        @Html.DropDownListFor(model => model.UserID, new SelectList((ApplicationRoleRecord[])@ViewBag.users, "ID", "Name"), @ResourceManager.UIGetResource("ChooseRole"), new { @class = "form-control col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "validation-message" })
                                    </div>
                                </div>
                            }


                            <div class="form-group">
                                <label>
                                    @ResourceManager.UIGetResource("Points")
                                </label>
                                <div>
                                    @Html.TextBoxFor(model => model.Points, new { @class = "form-control col-md-7 col-xs-12", @type = "number" })
                                    @Html.ValidationMessageFor(model => model.Points, "", new { @class = "validation-message" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    @ResourceManager.UIGetResource("Attached")
                                </label>
                                <div>
                                    <div class="input-group image-preview">
                                        <input placeholder="" type="text" class="form-control  image-preview-filename" disabled="disabled">
                                        <span class="input-group-btn">
                                            <div class="btn btn-default image-preview-input">
                                                <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title input-xs input-inline">@ResourceManager.UIGetResource("Browse")</span>
                                                <input required type="file" class="form-control " name="WebDocumentFile" id="input-file-preview" accept="image/*" onchange="document.getElementById('img-profile').src = window.URL.createObjectURL(this.files[0])" />
                                                <!-- rename it -->
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                </label>
                                <div>
                                    <center>   <img id="img-profile" alt="Product Picture" style="max-height:200px;max-width:200px" src="~/Content/default-product.png" /></center>

                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                </label>
@if (long.Parse(Modon.Portal.Helpers.AuthHelper.GetClaimValue("UserRoleID")) != ConfigManager.GetUIInstance().AdminRoleID)
{
                                <input type="submit" class="btn btn-success btn-block" value="@ResourceManager.UIGetResource("Add")" />
}
else
{
    <center>
        <h1 class="text-danger">غير مسموح لك إضافة أسهم</h1>
    </center>


}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
