﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@model UserWalletRecord[]
@{
ViewBag.Title = ResourceManager.UIGetResource("ListUserWallet");
}
@if (Model != null)
{
    <input hidden value="1" name="pageIndex" id="pageIndex" />

    <div class="content">
        <h1 class="page-header">@ViewBag.Title <small></small></h1>
        <div class="row" >
            <div class="panel panel-success" data-sortable-id="ui-media-object-2" style="background:rgba(21, 23, 23, 0.36)">
                <div class="panel-body">
                    <ul class="timeline" id="dvwallet">
                        @foreach (var item in Model)
                        {
                            <li>
                                <!-- begin timeline-time -->
                                <div class="timeline-time" >
                                    <span  class="date text-muted">@PMApp.Core.Helpers.TimeZoneHelper.ToCountryDateTime(item.CreationDate)</span>
                                </div>
                                <!-- end timeline-time -->
                                <!-- begin timeline-icon -->
                                <div class="timeline-icon ">
                                        <a class="bg-white"><i class="fa fa-plus-square fa-fw text-success"></i></a>
                                   
                                </div>
                                <!-- end timeline-icon -->
                                <!-- begin timeline-body -->
                                <div class="timeline-body" style="background:rgba(255, 255, 255, 0.09)">
                                    <div class="timeline-header">
                                        <span>
                                            <i class="fa fa-quote-left fa-fw pull-left"></i>
                                            <b class="text-white">  تم إضافة   </b> <b class="text-white"> @item.Points </b> <b class="text-white"> أسهم بواسطة </b><b class="text-success"> @item.UserFullName </b>
                                            <i class="fa fa-quote-right fa-fw pull-right"></i>

                                        </span>
                                    </div>
                                </div>
                                <!-- end timeline-body -->
                            </li>

                        }
                    </ul>



                </div>
            </div>
        </div>
        <!-- end timeline -->
    </div>
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">إغلاق</span></button>
                    <h4 class="modal-title" id="myModalLabel">المرفق</h4>
                </div>
                <div class="modal-body">
                    <center> <img src="" id="imagepreview" style="width: 400px; height: 400px;"></center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
}
@BundleConfig.RenderScript("~/ScriptBundles/UserWallet/ListUserWallet")
<script>
    function loadmore()
    {
        var pageIndex=@ViewBag.pageIndex;
        $(".btnloadmore").hide();
        SBSAjax({
            url: ResolveUrl("~/UserWallet/ListUserWallet"),
            type: "post",
            data: {
                pageIndex: $("#pageIndex").val(),
                dBObjectID:@ViewBag.dBObjectID,
            },
            success: function (response) {
                $("#dvwallet").append(response);
                $("#pageIndex").val(parseInt($("#pageIndex").val()) + 1);
            }
        });
    }

</script>


