﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@model UserWalletRecord[]

<div id="content" class="content">

    <h1 class="page-header">
        @ResourceManager.UIGetResource("UserWallet")
    </h1>
    <div class="row" style="background:rgba(21, 23, 23, 0.36)">
        <div class="panel panel-success" data-sortable-id="ui-media-object-2">

            <div class="panel-body">
                <table class="table data-table">
                    <thead>
                        <tr role="row">


                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("Points")
                            </th>

                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("Image")
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("UserName")
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("Edit")
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("Delete")
                            </th>
                        </tr>

                    </thead>

                    <tbody>

                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr role="row">
                                    <td>
                                       <b>@item.Points</b>
                                    </td>
                                    <td>
                                        <img  onclick="PreviewImg(this);" style="cursor:pointer" id="myImg" width="30" height="30" src="@(item.Notes.StartsWith("~")?PMApp.Core.Helpers.UIHelper.ResolveServerUrl(item.Notes):PMApp.Core.Helpers.UIHelper.ResolveServerUrl("~/Content/default-product.png"))" />
                                    </td>
                                    <td>
                                       <b>@item.UserFullName</b> 
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditUserWallet", new { walletID = item.ID })" class="btn btn-success btn-sm">@ResourceManager.UIGetResource("EditUserWallet")</a>
                                    </td>
                                    <td>
                                        <a href="#" onclick="DeleteUserWalletCheck('@item.UserFullName','@item.ID')" class="btn btn-danger btn-sm">@ResourceManager.UIGetResource("Delete")</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    <center><i class="fa fa-5x fa-info-circle text-warning"></i></center>
                                    <br />

                                    <center> <h4 class="text-black">@ResourceManager.UIGetResource("NoconfigssHasBeenAdded")</h4></center>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">الصورة</h4>
            </div>
            <div class="modal-body">
                <center> <img src="" id="imagepreview" style="width: 400px; height: 400px;"></center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/UserWallet/ListUserWallet.js"></script>
<script>
    function PreviewImg(e) {
        $('#imagepreview').attr('src', $(e).attr('src'));
        $('#imagemodal').modal('show');
    }

</script>
