@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using Modon.CommonDefinitions.DataContracts.Record
@using PMApp.Modon.DAL6;
@model ConfigRecord

<div id="content" class="content">
    <h1 class="page-header">
        @ResourceManager.UIGetResource("EditConfigs")
    </h1>
    <form action="EditConfigs" method="post" class="col-md-8 col-md-offset-2">
        <input hidden name="ID" value="@Model.ID" />
        <div class="panel panel-success ">
            <div class="panel-body">
                <div class="section-container">
                    <div class="row">
                        <!-- begin col-4 -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="educolor">
                                    @ResourceManager.UIGetResource("ConfigKey")
                                </label>
                                @Html.TextBoxFor(model => model.ConfKey, new { @class = "form-control col-md-7 col-xs-12", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.ConfKey, "", new { @class = "validation-message" })
                            </div>
                        </div>
                        <!-- begin col-4 -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="educolor">@ResourceManager.UIGetResource("Description") </label>
                                @Html.TextBoxFor(model => model.Decription, new { @class = "form-control col-md-7 col-xs-12", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.Decription, "", new { @class = "validation-message" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- begin col-4 -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="educolor">
                                    @ResourceManager.UIGetResource("ConfigValue")
                                </label>
                                @Html.TextBoxFor(model => model.ConfValue, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.ConfValue, "", new { @class = "validation-message" })
                            </div>
                        </div>
                    </div>
                    <hr />
                    <br />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label></label>
                                <input type="submit" class="btn btn-success btn-block" value="@ResourceManager.UIGetResource("Edit")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
