@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@model ConfigRecord[]

<div id="content" class="content">
 
    <h1 class="page-header">
        @ResourceManager.UIGetResource("Configs")
    </h1>
    <div class="row" style="background:rgba(21, 23, 23, 0.36)">
        <div class="panel panel-success" data-sortable-id="ui-media-object-2">

            <div class="panel-body">
                <table class="table data-table">
                    <thead>
                        <tr role="row">
                        

                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("Description")
                            </th>

                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("ConfigValue")
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("Edit")
                            </th>
                        </tr>

                    </thead>

                    <tbody>

                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr role="row">
                                    <td>
                                        @item.Decription
                                    </td>
                                    <td>
                                        @item.ConfValue
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditConfigs", new { configsID = item.ID })" class="btn btn-blue-grey btn-sm">@ResourceManager.UIGetResource("Edit")</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">
                                    <center><i class="fa fa-5x fa-info-circle text-warning"></i></center>
                                    <br />

                                    <center> <h4 class="text-black">@ResourceManager.UIGetResource("NoconfigssHasBeenAdded")</h4></center>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
