﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record;
@using CaptchaMvc.HtmlHelpers;

@model  T_WorkerRecord

@{
    ViewBag.Title = "إضافة عامل جديد";
}

<style>
    .well {
        background-color: #ffffff;
    }
</style>





@using (Html.BeginForm("AddT_Worker", "T_Worker", FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "true", name = "form-wizard", id = "form-wizard" }))
{
    <div class="search-toolbar" dir="rtl">
        <h2>إضافة عامل جديد</h2>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row m-b-15">
                    <div class="col-md-12">
                        <label class="control-label pull-right">اسم العامل <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.W_Name, new { @class = "form-control ", @data_parsley_group = "wizard-step-1", @required = "required" })
                    </div>
                </div>

                <div class="row m-b-15">
                    <div class="col-md-6 ">
                        <label class="control-label pull-right">تاريخ الاصدار <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.W_NID_StartDate, new { @class = "form-control", @data_parsley_group = "wizard-step-1", @required = "required", @type = "date" })

                    </div>
                    <div class="col-md-6 ">
                        <label class="control-label pull-right">رقم الهوية <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.W_NID_NO, new { @class = "form-control ", @data_parsley_group = "wizard-step-1", @required = "required" })

                    </div>
                </div>

                <div class="row m-b-15">
                    <div class="col-md-6 ">
                        <label class="control-label pull-right">رقم الهاتف / جوال </label>
                        @Html.TextBoxFor(model => model.W_Mobile, new { @class = "form-control ", @data_parsley_group = "wizard-step-1" })

                    </div>

                    <div class="col-md-6 ">
                        <label class="control-label pull-right">تاريخ الانتهاء <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.W_NID_EndDate, new { @class = "form-control", @data_parsley_group = "wizard-step-1", @required = "required", @type = "date" })

                    </div>
                </div>

                <div class="row m-b-15">
                    <div class="col-md-6 ">
                        <label class="control-label pull-right">تاريخ الميلاد <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.W_BirthDate, new { @class = "form-control ", @data_parsley_group = "wizard-step-1", @required = "required", @type = "date" })

                    </div>

                    <div class="col-md-6 ">
                        <label class="control-label pull-right">الجنسية <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.W_Nationality, new { @class = "form-control", @data_parsley_group = "wizard-step-1", @required = "required" })

                    </div>
                </div>

                <div class="row m-b-15">
                    <div class="col-md-6 ">
                        <label class="control-label pull-right">الديانة <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.W_Relagion, new { @class = "form-control ", @data_parsley_group = "wizard-step-1", @required = "required" })

                    </div>

                    <div class="col-md-6 ">
                        <label class="control-label pull-right">المهنة <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.W_Job, new { @class = "form-control", @data_parsley_group = "wizard-step-1", @required = "required" })

                    </div>
                </div>



                <div class="row m-b-15">
                    <div class="col-md-6 ">
                        <label class="control-label pull-right">اسم صاحب العمل /الكفيل <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(model => model.W_Mobile, new { @class = "form-control ", @data_parsley_group = "wizard-step-1", @required = "required" })

                    </div>

                    <div class="col-md-6 ">
                        <label class="control-label pull-right">المنشأة التي يعمل بها  <span class="text-danger">*</span></label>
                        @Html.DropDownListFor(model => model.BuildingID, new SelectList((BuildingRecord[])@ViewBag.buildingList, "ID", "Name"), new { @class = "form-control default-select2", @id = "ddlBuilding", @required = "required" })
                    </div>
                </div>

                <div class="form-group  ">
                    <label class="pull-right m-b-15">إرفاق صورة هوية العامل  </label>
                    <br />
                    <div class="file-upload">
                        <div class=" image-upload-wrap image-upload-wrap1">
                            <input name="WorkerNIDFile" class="file-upload-input" type='file' onchange="readURL1(this);" data-parsley-group="wizard-step-1" required="required" />
                            <div class="drag-text text-center">
                                <div class="alert alert-warning fade in m-b-15">
                                    <span class=" f-s-20">
                                        <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الصورة هنا أو الضغط لإختيار ملف</h6>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="file-upload-content file-upload-content1">
                            <div class="image-title-wrap">
                                <div class="alert alert-success fade in m-b-15">
                                    <span class="image-title image-title1 f-s-20">الصورة </span>
                                    <span style="color:red" class="close text-danger" onclick="removeUpload1()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group  ">
                    <label class="pull-right m-b-15">إرفاق صورة شخصية للعامل  </label>
                    <br />
                    <div class="file-upload">
                        <div class="image-upload-wrap image-upload-wrap2">
                            <input name="WorkerPhoto" class="file-upload-input" type='file' onchange="readURL2(this);" data-parsley-group="wizard-step-1" required="required" />
                            <div class="drag-text text-center">
                                <div class="alert alert-warning fade in m-b-15">
                                    <span class=" f-s-20">
                                        <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الصورة هنا أو الضغط لإختيار ملف</h6>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="file-upload-content file-upload-content2">
                            <div class="image-title-wrap">
                                <div class="alert alert-success fade in m-b-15">
                                    <span class="image-title image-title2 f-s-20">الصورة </span>
                                    <span style="color:red" class="close text-danger" onclick="removeUpload2()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
                <button type="submit" class="btn btn-success btn-block  btn-lg pull-left">تسجيل بيانات العامل</button>

            </div>
        </div>

    </div>




}


<script>
    function readURL1(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap1').hide();
                $('.image-title1').html(input.files[0].name);
                $('.file-upload-content1').show();
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }

    function readURL2(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap2').hide();
                $('.image-title2').html(input.files[0].name);
                $('.file-upload-content2').show();
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }

    function removeUpload() {
        $('.file-upload-input0').replaceWith($('.file-upload-input0').clone());
        $('.file-upload-content0').hide();
        $('.image-upload-wrap0').show();
    }
    function removeUpload1() {
        $('.file-upload-input1').replaceWith($('.file-upload-input0').clone());
        $('.file-upload-content1').hide();
        $('.image-upload-wrap1').show();
    }
    function removeUpload2() {
        $('.file-upload-input2').replaceWith($('.file-upload-input2').clone());
        $('.file-upload-content2').hide();
        $('.image-upload-wrap2').show();
    }

</script>
