﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@model T_WorkerRecord[] 

@{ Layout = null;}
@{
    ViewBag.Title = "قائمة العمال";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row demo-container">
                    <table class="table table-striped table-bordered dataTable no-footer data-table" role="grid" aria-describedby="datatable_info" dir="rtl">
                        <thead>
                            <tr>
                                <th class="text-right">اسم العامل</th>
                                <th class="text-right">رقم الاقامة</th>
                                <th class="text-right">المهنة</th>
                                <th class="text-right">الجنسية</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.W_Name</td>
                                        <td class="text-primary">@item.W_NID_NO</td>
                                        <th class="text-right">@item.W_Job</th>
                                        <td>class="text-right">@item.W_Nationality</td>
                                        <td><a href="@Url.Action("AddT_HealthCard", "T_HealthCard", new { workerID = item.ID })" class=" btn btn-sm btn-success">تقديم طلب اصدار شهادة صحية <i class=" fa fa-refresh  text-white"></i></a>   </td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>