﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6;
@using Modon.CommonDefinitions.DataContracts.Record;
@using CaptchaMvc.HtmlHelpers;

@model BuildingRecord
@{
    ViewBag.Title = ResourceManager.UIGetResource("AddBuilding");
}

<div id="content" class="content" >
    <h1 class="page-header text-right">
        @ViewBag.Title
    </h1>
    @using (Html.BeginForm("AddBuilding", "Building", FormMethod.Post, new {enctype = "multipart/form-data",data_parsley_validate="true" ,name="form-wizard" ,id="form-wizard" }))
    {
        <div id="wizard" dir="rtl">

            <input hidden value="2" name="StatusID" />
            @*<div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="..." dir="rtl">
                <div class="btn-group" role="group">
                    <button type="button" id="stars" class="btn btn-success" href="#tab1" data-toggle="tab">
                        <span class="fa fa-2x fa-info" aria-hidden="true"></span>
                        <div class="hidden-xs">البيانات الأساسية</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="favorites" class="btn btn-navbar" href="#tab2" data-toggle="tab">
                        <span class="fa fa-map-marker fa-2x" aria-hidden="true"></span>
                        <div class="hidden-xs">الموقع</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-navbar" href="#tab3" data-toggle="tab">
                        <span class="fa fa-bars fa-2x" aria-hidden="true"></span>
                        <div class="hidden-xs">المبيعات / الخدمات</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="following" class="btn btn-navbar" href="#tab4" data-toggle="tab">
                        <span class="fa fa-file fa-2x" aria-hidden="true"></span>
                        <div class="hidden-xs">المرفقات</div>
                    </button>
                </div>

            </div>*@

            <ol>
                <li>
                        البيانات الأساسية
                </li>
                <li >
                    الموقع
                        
                          </li>
                <li>
                    المبيعات / الخدمات
                   
                                </li>
                <li>
                    المرفقات
                </li>
                <li>
                    إنهاء
                </li>
            </ol>
           
                    <div class="wizard-step-1" >
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row m-b-15">
                                    <div class="col-md-12">
                                        <label class="control-label pull-right">الإسم التجارى للمنشأة <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control ", @data_parsley_group = "wizard-step-1", @required = "required" })
                                        @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "validation-message" })*@

                                    </div>
                                </div>
                                <div class="row m-b-15">
                                    <div class="col-md-6 ">
                                        <label class="control-label pull-right">رقم الإتصال   جوال/هاتف <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control ", @data_parsley_group = "wizard-step-1", @required = "required", @pattern = @"^\d{9,18}$" })
                                        @*@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "validation-message" })*@

                                    </div>

                                    <div class="col-md-6 ">
                                        <label class="control-label pull-right">البريد الإلكترونى <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @data_parsley_group = "wizard-step-1", @required = "required",@type="email" })
                                        @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-message" })*@

                                    </div>
                                </div>
                                <div class="row m-b-15">
                                   
                                    <div class="col-md-6 ">
                                        <label class="control-label pull-right">مساحة المنشأة م2 <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(model => model.AreaSpace, new { @class = "form-control", @type = "number", @data_parsley_group = "wizard-step-1", @required = "required",@min="100" })
                                        @*@Html.ValidationMessageFor(model => model.AreaSpace, "", new { @class = "validation-message" })*@
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label pull-right">نوع النشاط<span class="text-danger">*</span></label>
                                        @Html.DropDownListFor(model => model.ActivityTypeID, new SelectList((ActivityTypeRecord[])@ViewBag.activityType, "ID", "Name"), new { @class = "form-control default-select2",@id="ddlActivity",@onchange="loadSubActivity(0);" })
                                        @*@Html.ValidationMessageFor(model => model.ActivityTypeID, "", new { @class = "validation-message" })*@
                                    </div>
                                </div>


                                <label class="control-label pull-right">الأنشطة السابقة<span class="text-danger">*</span></label>

                                <div class="row m-b-15">

                                    <div class="col-md-12 ">
                                        <table id="user" class="table table-bordered table-striped" dir="rtl">

                                            <tbody>
                                                <tr>
                                                    <td><span style="font-weight:bold" placeholder="المنتج  الخدمة">يوجد نشاط سابق داخل المدينة الصناعية</span></td>
                                                    <td width="10%">    <input name="ISActivityBefore" type="checkbox" data-render="switchery" data-theme="default" data-switchery="true" style="display: none;"></td>
                                                </tr>
                                                <tr>
                                                    <td><span style="font-weight:bold" placeholder="المنتج  الخدمة">يوجد نشاط سابق خارج المدينة الصناعية</span></td>
                                                    <td width="10%">    <input name="ISActivityAfter" type="checkbox" data-render="switchery" data-theme="default" data-switchery="true" style="display: none;"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step-2" >
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="row m-b-15">
                                    <div class="col-md-4 ">
                                        <label class="control-label pull-right">المجمع <span class="text-danger">*</span></label>

                                        <select class=" form-control" id="ddlArea" name="AreaID"></select>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label pull-right">المنطقة الصناعية <span class="text-danger">*</span></label>

                                        <select class=" form-control" id="ddlDistrict" onchange="loadAreas();"></select>
                                    </div>
                                    <div class="col-md-4 ">
                                        <label class="control-label pull-right">المدينة <span class="text-danger">*</span></label>
                                        <select class=" form-control" id="ddlCity" onchange="loadDistricts();">
                                            @foreach (var item in ViewBag.areas)
                                            {
                                                <option value="@item.ID">@item.Name</option>
                                            }
                                        </select>

                                    </div>
                                </div>

                                <div class="row m-b-15">
                                    <div class="col-md-12 ">
                                        <label class="control-label pull-right">إسم مالك العقار <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(model => model.OwnerName, new { @class = "form-control ", @data_parsley_group = "wizard-step-2", @required = "required" })
                                        @*@Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "validation-message" })*@
                                        @*<input type="text" class="form-control " placeholder="إسم مالك العقار " required />*@

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="wizard-step-3" >
                        <table id="tableuser" class="table table-bordered table-striped" dir="rtl">
                            <thead>
                                <tr>
                                    <th class="text-right">المنتج / الخدمة</th>
                                    <th class="text-right">ملاحظات</th>
                                    <th class="text-right">حذف</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><select class="form-control ddlsubActivity_0" name="BuildingActivities[0].ActivitSubTypeID"></select>
</td>
                                    <td><input name="BuildingActivities[0].Description" class="form-control" placeholder="ملاحظات" /></td>
                                    <td></td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3"><a onclick="AddProduct()" class="btn btn-success btn-sm pull-left" href="#" id="username" data-type="text" data-pk="1">إضافة بند جديد <i class="fa fa-remove text-white"></i></a></td>
                                </tr>
                            </tfoot>
                        </table>


                    </div>
                    <div class="wizard-step-4" >
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group  ">
                                    <label class="pull-right m-b-15">إرفاق صورة السجل التجارى  </label>
                                    <br />
                                    <div class="file-upload">
                                        <div class="image-upload-wrap image-upload-wrap0">
                                            <input name="STFile" class="file-upload-input" type='file' data-parsley-group="wizard-step-4" required="required"  onchange="readURL(this);" />
                                            <div class="drag-text text-center">
                                                <div class="alert alert-warning fade in m-b-15">
                                                    <span class=" f-s-20">
                                                        <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="file-upload-content  file-upload-content0">
                                            <div class="image-title-wrap">
                                                <div class="alert alert-success fade in m-b-15">
                                                    <span class="image-title image-title0 f-s-20">الملف </span>
                                                    <span style="color:red" class="close text-danger" onclick="removeUpload()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group  ">
                                    <label class="pull-right m-b-15">إرفاق صورة هوية المالك  </label>
                                    <br />
                                    <div class="file-upload">
                                        <div class=" image-upload-wrap image-upload-wrap1">
                                            <input name="OwnerIDFile" class="file-upload-input" type='file' onchange="readURL1(this);" data-parsley-group="wizard-step-4" required="required" />
                                            <div class="drag-text text-center">
                                                <div class="alert alert-warning fade in m-b-15">
                                                    <span class=" f-s-20">
                                                        <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="file-upload-content file-upload-content1">
                                            <div class="image-title-wrap">
                                                <div class="alert alert-success fade in m-b-15">
                                                    <span class="image-title image-title1 f-s-20">الملف </span>
                                                    <span style="color:red" class="close text-danger" onclick="removeUpload1()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group  ">
                                    <label class="pull-right m-b-15">إرفاق صورة مخطط هندسي معتمد للمنشأة  </label>
                                    <br />
                                    <div class="file-upload">
                                        <div class="image-upload-wrap image-upload-wrap2">
                                            <input name="BuildingLayoutFile" class="file-upload-input" type='file' onchange="readURL2(this);" data-parsley-group="wizard-step-4" required="required" />
                                            <div class="drag-text text-center">
                                                <div class="alert alert-warning fade in m-b-15">
                                                    <span class=" f-s-20">
                                                        <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="file-upload-content file-upload-content2">
                                            <div class="image-title-wrap">
                                                <div class="alert alert-success fade in m-b-15">
                                                    <span class="image-title image-title2 f-s-20">الملف </span>
                                                    <span style="color:red" class="close text-danger" onclick="removeUpload2()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group  ">
                                    <label class="pull-right m-b-15">مرفقات أخرى  </label>
                                    <br />
                                    <div class="file-upload">
                                        <div class="image-upload-wrap image-upload-wrap3">
                                            <input name="OtherFile" class="file-upload-input" type='file' onchange="readURL3(this);" data-parsley-group="wizard-step-4" required="required" />
                                            <div class="drag-text text-center">
                                                <div class="alert alert-warning fade in m-b-15">
                                                    <span class=" f-s-20">
                                                        <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" file-upload-content3 file-upload-content">
                                            <div class="image-title-wrap">
                                                <div class="alert alert-success fade in m-b-15">
                                                    <span class="image-title image-title3 f-s-20">الملف </span>
                                                    <span style="color:red" class="close text-danger" onclick="removeUpload3()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="wizard-step-5">
                <div class="m-b-0 text-center">
                    <center>@Html.Captcha("Refresh", ResourceManager.GetUIInstance().GetResource("EnterTheTextYouSeeAbove:"), 5, ResourceManager.GetUIInstance().GetResource("IsRequiredField"), true)</center>
                    <p class="Error">  @ViewBag.ErrMessage </p>
                    <p>سيتم مراجعة الطلب قريبا ،، علما بأن الموافقة أو الرفض تتم طبقا لإحتياج المدينة الصناعية للنشاط كما أن الموافقة على هذا الطلب لا تعتبر موافقة نهائية </p>
                    <hr />
                        <button type="submit" class="btn btn-success btn-block  btn-lg pull-left">إرسال لطلب الموافقة</button>
                    <hr />
                    <br />
                    <br />
                </div>
            </div>
             
            </div>
            }
        </div>
<script src="~/assets/js/form-slider-switcher.demo.min.js"></script>

<script>
    $(document).ready(function () {
        FormSliderSwitcher.init();
        loadDistricts();
        loadSubActivity(0);
 
    });

    function loadDistricts() {
        var areaID = $('#ddlCity option:selected').val();

        if (areaID != "0") {
            SBSAjax({
                url: ResolveUrl("~/User/FillDistrict"),
                type: "Post",
                data: {
                    parentID: areaID
                },
                success: function (response) {
                    $('#ddlDistrict').empty();
                    var distID = 0;
                    for (var i = 0; i < response.length; i++) {
                        var selected = (i == 0) ? 'selected' : '';
                        $('#ddlDistrict').append('<option ' + selected + ' value="' + response[i].ID + '">' + response[i].Name + '</option>')
                    }
                    distID=$('#ddlDistrict option:selected').val();
                    loadAreas();
                }
            });
        }

    }
    function loadAreas() {
        var areaID = $('#ddlDistrict option:selected').val();

        if (areaID != "0") {
            SBSAjax({
                url: ResolveUrl("~/User/FillDistrict"),
                type: "Post",
                data: {
                    parentID: areaID
                },
                success: function (response) {
                    $('#ddlArea').empty();
                    for (var i = 0; i < response.length; i++) {
                        var selected = (i == 0) ? 'selected' : '';
                        $('#ddlArea').append('<option ' + selected + ' value="' + response[i].ID + '">' + response[i].Name + '</option>')
                    }
                }
            });
        }
    }
    function loadSubActivity(index) {
        var activityID = $('#ddlActivity option:selected').val();

        if (activityID != "0") {
            SBSAjax({
                url: ResolveUrl("~/Building/FillSubActivity"),
                type: "Post",
                data: {
                    parentID: activityID
                },
                success: function (response) {
                    $('.ddlsubActivity_' + index).empty();
                    for (var i = 0; i < response.length; i++) {
                        var selected = (i == 0) ? 'selected' : '';
                        $('.ddlsubActivity_' + index).append('<option ' + selected + ' value="' + response[i].ID + '">' + response[i].Name + '</option>')
                    }
                }
            });
        }
    }

    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap0').hide();
                $('.image-title0').html(input.files[0].name);
                $('.file-upload-content0').show();
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }
    function readURL1(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap1').hide();
                $('.image-title1').html(input.files[0].name);
                $('.file-upload-content1').show();
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }
    function readURL2(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap2').hide();
                $('.image-title2').html(input.files[0].name);
                $('.file-upload-content2').show();
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }
    function readURL3(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap3').hide();
                $('.image-title3').html(input.files[0].name);
                $('.file-upload-content3').show();
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }
    function removeUpload() {
        $('.file-upload-input0').replaceWith($('.file-upload-input0').clone());
        $('.file-upload-content0').hide();
        $('.image-upload-wrap0').show();
    }
    function removeUpload1() {
        $('.file-upload-input1').replaceWith($('.file-upload-input0').clone());
        $('.file-upload-content1').hide();
        $('.image-upload-wrap1').show();
    }
    function removeUpload2() {
        $('.file-upload-input2').replaceWith($('.file-upload-input2').clone());
        $('.file-upload-content2').hide();
        $('.image-upload-wrap2').show();
    }

    function removeUpload3() {
        $('.file-upload-input3').replaceWith($('.file-upload-input3').clone());
        $('.file-upload-content3').hide();
        $('.image-upload-wrap3').show();
    }

    $('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
    });


</script>
<script>
    var product = 0;
    function AddProduct() {
        var productsCount = document.getElementById('tableuser').getElementsByTagName("tbody")[0].getElementsByTagName("tr").length;
        SBSAjax({
            url: ResolveUrl("~/Building/AddBuildingActivity"),
            data: {pIndex: productsCount },
            success: function (res) {
                var table = document.getElementById('tableuser').getElementsByTagName('tbody')[0];
                var row = table.insertRow(table.rows.length);
                row.innerHTML = res
                //table.appendChild(res);
                //$("#div-added-products").append("<div style='border:dashed 1px green;text-align:center;' class=product" + productsCount + " ><span onclick='removeProduct(this)' class='pull-right' style='cursor:pointer; color:red; padding-right: 10px;'>x</span>" + res + "</div>");
                product++;
            }
        });
        loadSubActivity(productsCount);
    }

    function removeProduct(ctr) {
        $(ctr).parent().parent().remove();
    }

</script>
<style>
    .pager .previous > a {
        float: right;
    }

    .pager .next > a {
        float: left;
    }
    .pager li > a, .pager li > span, .pagination > li > a {
    border-color: #006662;
    color: #006662;
}
</style>