﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@model ModonOrderRecord
@{
    ViewBag.Title = ResourceManager.UIGetResource("BuildingDetails");
}


<div class="search-toolbar">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-6 -->
        <div class="col-md-6">
        </div>
        <!-- END col-6 -->
        <!-- BEGIN col-6 -->
        <div class="col-md-6 text-right f-s-20">
            <i class="fa fa-circle text-success"></i> @ViewBag.Title
           
            <div class="pull-left">
                @if (Model.StatusID == ConfigManager.GetUIInstance().Order_PendingStatusID)
                {
                    <a href="@Url.Action("EditBuilding", "Building", new {buildingID=@Model.BuildingID })" class=" btn btn-sm btn-inverse"> @ResourceManager.GetUIInstance().GetResource("EditBuilding")<i class=" fa fa-refresh  text-white"></i></a>
                }
            </div>

        </div>
        <!-- END col-6 -->
    </div>
    <!-- END row -->
</div>
<div class="product">
    <!-- BEGIN product-detail -->
    <div class="product-detail">
        <!-- BEGIN product-image -->
    
        <!-- END product-image -->
        <!-- BEGIN product-info -->
        <div class="product-info">
            <!-- BEGIN product-info-header -->
            <div class="product-info-header">
                <h1 class="product-title text-right f-s-20">
                @if (Model.StatusID == ConfigManager.GetUIInstance().Order_ApprovedStatusID)
                {
                    <span class="label label-success rank-label">@ResourceManager.UIGetResource("Order_ApprovedStatusID_Slogan") </span>
                }
                else if (Model.StatusID == ConfigManager.GetUIInstance().Order_NewStatusID)
                {
                    <span class="label label-success rank-label">@ResourceManager.UIGetResource("Order_NewStatusID_Slogan") </span>
                }
                else if (Model.StatusID == ConfigManager.GetUIInstance().Order_PendingForEditStatusID)
                {
                    <span class="label label-success rank-label">@ResourceManager.UIGetResource("Order_NewStatusID_Slogan") </span>
                }
                else if (Model.StatusID == ConfigManager.GetUIInstance().Order_PendingForManagerStatusID)
                {
                    <span class="label label-success rank-label">@ResourceManager.UIGetResource("Order_PendingForManagerStatusID_Slogan") </span>
                }
                else if (Model.StatusID == ConfigManager.GetUIInstance().Order_RejectedStatusID)
                {
                    <span class="label label-success rank-label">@ResourceManager.UIGetResource("Order_RejectedStatusID_Slogan") </span>
                } 
                @Model.Name </h1>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <ul class="product-info-list" dir="rtl">
                        <li><b style="width:120px" class="text-white label-success badge-pill badge">@ResourceManager.UIGetResource("Email")  </b>&nbsp;<b class="f-s-14">@Model.Email</b></li>
                        <li><b style="width:120px" class="text-white label-success badge-pill badge">@ResourceManager.UIGetResource("Phone")  </b>&nbsp;<b class="f-s-14">@Model.Phone</b></li>
                        <li><b style="width:120px" class="text-white label-success badge-pill badge">@ResourceManager.UIGetResource("OwnerName") </b>&nbsp;<b class="f-s-14">@Model.OwnerName </b></li>
                        <li><b style="width:120px" class="text-white label-success badge-pill badge">@ResourceManager.UIGetResource("OwnerCID")  </b>&nbsp;<b class="f-s-14">@Model.OwnerCID </b></li>

                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="product-info-list" dir="rtl">
                        <li><b style="width:120px" class="text-white label-success badge-pill badge">@ResourceManager.UIGetResource("ActivityTypeName") </b>&nbsp;<b class="f-s-14">@Model.ActivityTypeName</b></li>
                        <li><b style="width:120px" class="text-white label-success badge-pill badge">@ResourceManager.UIGetResource("AreaName") </b>&nbsp;<b class="f-s-14">@Model.AreaName</b></li>
                        <li><b style="width:120px" class="text-white label-success badge-pill badge">@ResourceManager.UIGetResource("StreetAdress")  </b>&nbsp;<b class="f-s-14">@Model.StreetAdress </b></li>
                        <li><b style="width:120px" class="text-white label-success badge-pill badge">@ResourceManager.UIGetResource("AreaSpace") </b>&nbsp;<b class="f-s-14">@Model.AreaSpace م2</b></li>
                    </ul>
                </div>

            </div>
@using (Html.BeginForm("AddOrderLicence", "ModonOrder", FormMethod.Post, new { enctype = "multipart/form-data", data_parsley_validate = "true", name = "form-wizard", id = "form-wizard" }))
        {
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <div class="form-group  ">
                        <label class="pull-right m-b-15">إرفاق صورة من عقد الإيجار سارى المفعول  </label>
                        <br />
                        <div class="file-upload">
                            <div class="image-upload-wrap image-upload-wrap0">
                                <input name="OwnerRentContractFile" class="file-upload-input" type='file' data-parsley-group="wizard-step-4" required="required" onchange="readURL(this);" />
                                <div class="drag-text text-center">
                                    <div class="alert alert-warning fade in m-b-15">
                                        <span class=" f-s-20">
                                            <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الضغط لإختيار ملف</h6>
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="file-upload-content  file-upload-content0">
                                <div class="image-title-wrap">
                                    <div class="alert alert-success fade in m-b-15">
                                        <span class="image-title image-title0 f-s-20">الملف </span>
                                        <span style="color:red" class="close text-danger" onclick="removeUpload()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <label class="pull-right m-b-15">إرفاق صورة من إثبات المالك مع برنت من الأحوال الشخصية  </label>
                        <br />
                        <div class="file-upload">
                            <div class=" image-upload-wrap image-upload-wrap1">
                                <input name="OwnerIDLicenceFile" class="file-upload-input" type='file' onchange="readURL1(this);" data-parsley-group="wizard-step-4" required="required" />
                                <div class="drag-text text-center">
                                    <div class="alert alert-warning fade in m-b-15">
                                        <span class=" f-s-20">
                                            <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="file-upload-content file-upload-content1">
                                <div class="image-title-wrap">
                                    <div class="alert alert-success fade in m-b-15">
                                        <span class="image-title image-title1 f-s-20">الملف </span>
                                        <span style="color:red" class="close text-danger" onclick="removeUpload1()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <label class="pull-right m-b-15">إرفاق صورة تسديد رسوم اللوحة  </label>
                        <br />
                        <div class="file-upload">
                            <div class="image-upload-wrap image-upload-wrap2">
                                <input name="BannerReciptFile" class="file-upload-input" type='file' onchange="readURL2(this);" data-parsley-group="wizard-step-4" required="required" />
                                <div class="drag-text text-center">
                                    <div class="alert alert-warning fade in m-b-15">
                                        <span class=" f-s-20">
                                            <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="file-upload-content file-upload-content2">
                                <div class="image-title-wrap">
                                    <div class="alert alert-success fade in m-b-15">
                                        <span class="image-title image-title2 f-s-20">الملف </span>
                                        <span style="color:red" class="close text-danger" onclick="removeUpload2()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  ">
                        <label class="pull-right m-b-15">مرفقات أخرى  </label>
                        <br />
                        <div class="file-upload">
                            <div class="image-upload-wrap image-upload-wrap3">
                                <input multiple name="OtherLicenceFile" class="file-upload-input" type='file' onchange="readURL3(this);" data-parsley-group="wizard-step-4" required="required" />
                                <div class="drag-text text-center">
                                    <div class="alert alert-warning fade in m-b-15">
                                        <span class=" f-s-20">
                                            <h6><i class="fa fa-upload pull-left"></i> قم بإدراج الملف هنا أو الشغط لإختيار ملف</h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class=" file-upload-content3 file-upload-content">
                                <div class="image-title-wrap">
                                    <div class="alert alert-success fade in m-b-15">
                                        <span class="image-title image-title3 f-s-20">الملف </span>
                                        <span style="color:red" class="close text-danger" onclick="removeUpload3()"><b style="color:red"><i class="fa  fa-remove text-danger"></i></b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="m-b-0 text-center">
                <p>أتعهد بصحة جميع المعلومات المسجلة أعلاه</p>
              
            </div>*@
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-md-8">
                        <div class="pull-left">
                            <button type="submit" class="btn btn-success btn-block  btn-lg pull-left">إرسال طلب إصدار رخصة نهائية</button>
                        </div>
                    </div>
                    <!-- END col-6 -->
                    <!-- BEGIN col-6 -->
                    <div class="col-md-4">
                    </div>
                    <!-- END col-6 -->
                </div>
            </div>
}
        </div>
        <!-- END product-info -->
    </div>
    </div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap0').hide();
                $('.image-title0').html(input.files[0].name);
                $('.file-upload-content0').show();
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }
    function readURL1(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap1').hide();
                $('.image-title1').html(input.files[0].name);
                $('.file-upload-content1').show();
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }
    function readURL2(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap2').hide();
                $('.image-title2').html(input.files[0].name);
                $('.file-upload-content2').show();
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }
    function readURL3(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap3').hide();
                $('.image-title3').html(input.files[0].name);
                $('.file-upload-content3').show();
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }
    function removeUpload() {
        $('.file-upload-input0').replaceWith($('.file-upload-input0').clone());
        $('.file-upload-content0').hide();
        $('.image-upload-wrap0').show();
    }
    function removeUpload1() {
        $('.file-upload-input1').replaceWith($('.file-upload-input0').clone());
        $('.file-upload-content1').hide();
        $('.image-upload-wrap1').show();
    }
    function removeUpload2() {
        $('.file-upload-input2').replaceWith($('.file-upload-input2').clone());
        $('.file-upload-content2').hide();
        $('.image-upload-wrap2').show();
    }

    function removeUpload3() {
        $('.file-upload-input3').replaceWith($('.file-upload-input3').clone());
        $('.file-upload-content3').hide();
        $('.image-upload-wrap3').show();
    }

    $('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
    });


</script>