﻿@using Modon.CommonDefinitions.DataContracts.Record;
@using PMApp.Modon.DAL6.EntitiesExtention;
@using PMApp.Core.Helpers;
@using PMApp.Modon.DAL6;
@model ModonOrderRecord[]
@{ Layout =ViewBag.isPatrial? null:"~/Views/Shared/_ELayout.cshtml";}


@{
    ViewBag.Title = ResourceManager.UIGetResource("ListModonOrder");
}
<div class="search-toolbar">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-6 -->
        <div class="col-md-6">
        </div>
        <!-- END col-6 -->
        <!-- BEGIN col-6 -->
        <div class="col-md-6 text-right f-s-20">
            <i class="fa fa-circle text-success"></i>
            @ViewBag.Title
        </div>
        <!-- END col-6 -->
    </div>
    <!-- END row -->
</div>



<div class="panel panel-default ">

    <div class="panel-body">
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success" href="#tab1" data-toggle="tab">
                    <span class="fa fa-2x fa-info text-warning" aria-hidden="true"></span>
                    <div class="hidden-xs">@ResourceManager.GetUIInstance().GetResource("New")</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-inverse" href="#tab2" data-toggle="tab">
                    <span class="fa fa-refresh fa-2x text-info" aria-hidden="true"></span>
                    <div class="hidden-xs">@ResourceManager.GetUIInstance().GetResource("PendingForEdit")</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-inverse" href="#tab3" data-toggle="tab">
                    <span class="fa fa-check-square-o fa-2x text-success" aria-hidden="true"></span>
                    <div class="hidden-xs">@ResourceManager.GetUIInstance().GetResource("Approved")</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-inverse" href="#tab4" data-toggle="tab">
                    <span class="fa fa-ban fa-2x text-danger" aria-hidden="true"></span>
                    <div class="hidden-xs">@ResourceManager.GetUIInstance().GetResource("Rejected")</div>
                </button>
            </div>
        </div>
        <div class="well">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    @Html.Action("EPartialModonOrder", "ModonOrder", new { model = Model.Where(p => p.StatusID == ConfigManager.GetUIInstance().Order_NewStatusID).ToArray() })
                </div>
                <div class="tab-pane fade in" id="tab2">
                    @Html.Action("EPartialModonOrder", "ModonOrder", new { model = Model.Where(p => p.StatusID == ConfigManager.GetUIInstance().Order_PendingForEditStatusID).ToArray() })
                </div>
                <div class="tab-pane fade in" id="tab3">
                    @Html.Action("EPartialModonOrder", "ModonOrder", new { model = Model.Where(p => p.StatusID == ConfigManager.GetUIInstance().Order_ApprovedStatusID).ToArray() })
                </div>
                <div class="tab-pane fade in" id="tab4">
                    @Html.Action("EPartialModonOrder", "ModonOrder", new { model = Model.Where(p => p.StatusID == ConfigManager.GetUIInstance().Order_RejectedStatusID).ToArray() })
                </div>
            </div>
        </div>

    </div>
</div>
    <script>
        $(document).ready(function () {
            $(".btn-pref .btn").click(function () {
                $(".btn-pref .btn").removeClass("btn-success").addClass("btn-inverse");
                // $(".tab").addClass("active"); // instead of this do the below
                $(this).removeClass("btn-inverse").addClass("btn-success");
            });
        });
    </script>



