﻿
@using Modon.CommonDefinitions.DataContracts.Record
@using PMApp.Modon.DAL6;
@model ModonOrderRecord[]

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="row demo-container">
                    <table class="table table-striped table-bordered dataTable no-footer data-table" role="grid" aria-describedby="datatable_info" dir="rtl">
                        <thead>
                            <tr>
                                <th class="text-right">المنشأة</th>
                                <th class="text-right">نوع الطلب</th>
                                <th class="text-right">تاريخ الطلب</th>
                                <th class="text-right">الحالة</th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model !=null)
                            {
                            foreach (var item in Model)
                            {
    <tr>
        <td>@item.BuildingName</td>
        <td class="text-primary">@item.OrderTypeName</td>
        <th class="text-right">@item.CreationDate</th>
        <td><span class=" badge badge-warning">@ResourceManager.GetInstance(item.ApplicationID).GetResource(item.StatusNAme)  </span></td>
        <td><a href="@Url.Action("BuildingDetails", "Building", new { buildingID = item.BuildingID })" class=" btn btn-sm btn-success">تفاصيل المنشأة <i class=" fa fa-refresh  text-white"></i></a>   </td>
    </tr>
                            }

}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
