﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record
@using PMApp.Modon.DAL6;
@model NotificationRecord[]
@if (Model != null && Model.Count() > 0)
{

    <ul class="nav pull-right">

        <li><a href="@Url.Action("LogOut", "User")"> <i class="fa fa-sign-out"></i></a></li>
        <li class="divider hidden-sm hidden-xs"></li>

        <li class="dropdown dropdown-hover">
            <a href="#" class="header-cart" data-toggle="dropdown">
                <i class="fa fa-shopping-bag"></i>
                <span class="total">
                    @if (ViewBag.count > 0)
                    {
                        <span class="label label-notification ">@ViewBag.count</span>
                    }
            </span>
            <span class="arrow top"></span>
        </a>

        <div class="dropdown-menu dropdown-menu-cart p-0">
            <div class="cart-header">
                <h4 class="cart-title text-right">@ResourceManager.UIGetResource("Notifications") @ViewBag.count </h4>
            </div>
            <div class="cart-body">
                <ul class="cart-item">
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="cart-item-image"><img src="assets/img/ipad.jpg" alt=""></div>
                            <div class="cart-item-info">
                                <h4 class="text-right p-r-5">@item.NotificationMessage</h4>
                                <p class="price">@PMApp.Core.Helpers.TimeZoneHelper.ToCountryDateTime(item.CreationDate)</p>
                            </div>
                            <div class="cart-item-close">
                                <a href="#" data-toggle="tooltip" data-title="@ResourceManager.UIGetResource("Seen")" data-original-title="" title="">×</a>
                            </div>
                        </li>
                    }

                </ul>
            </div>
            <div class="cart-footer">
                <div class="row row-space-10">
                    <div class="col-xs-12">
                        <a href="@Url.Action("Index","Notifications")" class="btn btn-inverse btn-block">@ResourceManager.UIGetResource("NotificationsMore")</a>
                    </div>

                </div>
            </div>
        </div>
    </li>
    <li class="divider hidden-sm hidden-xs"></li>
    <li class=" hidden-sm hidden-xs">
        <a href="my_account.html">
            <img src="~/assets/img/28.jpg" class="user-img" alt="">
            <span class="hidden-md hidden-sm hidden-xs">@Modon.Portal.Helpers.AuthHelper.GetClaimValue("UserName")</span>
        </a>
    </li>
</ul>
}
else
{
    <ul class="nav pull-right">

        <li><a href="@Url.Action("LogOut", "User")"> <i class="fa fa-sign-out"></i></a></li>
        <li class="divider hidden-sm hidden-xs"></li>

        <li class="dropdown dropdown-hover">
            <a href="#" class="header-cart" data-toggle="dropdown">
                <i class="fa fa-shopping-bag"></i>
                <span class="total">
                    <span class="label label-notification ">0</span>
                </span>
                <span class="arrow top"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-cart p-0">
                <div class="cart-header">
                    <h4 class="cart-title text-right">@ResourceManager.UIGetResource("Notifications") 0</h4>
                </div>
                <div class="cart-body">
                    <ul class="cart-item">

                        <li>
                            <div class="cart-item-image"><img src="~/assets/img/Modon_ksa.jpg" alt=""></div>
                            <div class="cart-item-info">
                                <h4 class="text-right p-r-5">@ResourceManager.UIGetResource("NotificationsNoData")</h4>
                                <p class="price"></p>
                            </div>
                            <div class="cart-item-close">
                                <a href="#" data-toggle="tooltip" data-title="@ResourceManager.UIGetResource("Seen")" data-original-title="" title="">×</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="cart-footer">
                    <div class="row row-space-10">
                        <div class="col-xs-12">
                            <a href="@Url.Action("Index","Notifications")" class="btn btn-inverse btn-block">@ResourceManager.UIGetResource("NotificationsMore")</a>
                        </div>

                    </div>
                </div>
            </div>
        </li>
        <li class="divider hidden-sm hidden-xs"></li>
        <li class=" hidden-sm hidden-xs">
            <a href="my_account.html">
                <img src="~/assets/img/28.jpg" class="user-img" alt="">
                <span class="hidden-md hidden-sm hidden-xs">@Modon.Portal.Helpers.AuthHelper.GetClaimValue("UserName")</span>
            </a>
        </li>
    </ul>

}
<script>
    function NotificationSeen(id) {
        SBSAjax({
            url: ResolveUrl("~/Notifications/DoNotificationSeen"),
            type: "post",
            data: {
                notificationID: id
            },
            success: function (response) {
            }
        });
    }
</script>




