﻿@using PMApp.Core.CommonDefinitions.DataContracts.Record
@using PMApp.Modon.DAL6;
@model NotificationRecord[]
@{
    ViewBag.Title = ResourceManager.UIGetResource("Notifications");
}
<div class="search-toolbar">
    <!-- BEGIN row -->
    <div class="row">
        <!-- BEGIN col-6 -->
        <div class="col-md-6">
        </div>
        <!-- END col-6 -->
        <!-- BEGIN col-6 -->
        <div class="col-md-6 text-right f-s-20">
            <i class="fa fa-circle text-success"></i>
            @ViewBag.Title
        </div>
        <!-- END col-6 -->
    </div>
    <!-- END row -->
</div>
@if (Model != null)
{
    <div class="row" style="background:rgba(21, 23, 23, 0.36)">
        <div class="panel panel-success" data-sortable-id="ui-media-object-2">

            <div class="panel-body">
                <table class="table table-striped table-bordered dataTable no-footer data-table" role="grid" aria-describedby="datatable_info" dir="rtl">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("From")
                            </th>

                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("Notification")
                            </th>

                            <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                @ResourceManager.UIGetResource("Date")
                            </th>
                        </tr>

                    </thead>

                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                <tr role="row">

                                    <td>
                                        <a href="#" class="text-black">
                                            <img src="@item.CreatedByImageURL" width="30px" height="30px" class="img-circle" />     @item.CreatedByFullName
                                        </a>
                                    </td>
                                    <td>

                                        <a href="#">
                                            <ul class="chats" style="width:90%">
                                                <li class="left bg-grey-100">
                                                    <div class="message">
                                                        @item.NotificationMessage
                                                    </div>
                                                </li>
                                            </ul>
                                        </a>
                                    </td>
                                    <td class="text-success arNumbers  @(item.IsSeen ? "bg-grey-100" : "")">
                                        @PMApp.Core.Helpers.TimeZoneHelper.ToCountryDateTime(item.CreationDate)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9">
                                    <center><i class="fa fa-5x fa-info-circle text-warning"></i></center>
                                    <br />

                                    <center> <h4 class="text-black">@ResourceManager.UIGetResource("NoNotificationAvailable")</h4></center>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
        <div class="row" style="background:rgba(21, 23, 23, 0.36)">
            <div class="panel panel-success" data-sortable-id="ui-media-object-2">

                <div class="panel-body">
                    <table class="table table-responsive table-hover ">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                    @ResourceManager.UIGetResource("From")
                                </th>

                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                    @ResourceManager.UIGetResource("Notification")
                                </th>

                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 172px;">
                                    @ResourceManager.UIGetResource("Date")
                                </th>
                            </tr>

                        </thead>

                        <tbody>

                            <tr>
                                <td colspan="9">
                                    <center><i class="fa fa-5x fa-info-circle text-warning"></i></center>
                                    <br />

                                    <center> <h4 class="text-black">@ResourceManager.UIGetResource("NoRulesHasBeenAdded")</h4></center>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
}




